﻿@using Datos.Recursos
@using Presentacion.Helpers
@model Datos.Usuario

@{
    ViewBag.Title = General.CambiarContrasena;
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8 col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h5>Cambiar contraseña</h5>
                        </div>
                    </div>
                </div>
                <div class="ibox-content form-horizontal">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            @Html.LabelFor(m => m.ContrasenaAnterior, "Contraseña Anterior")
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            @Html.PasswordFor(m => m.ContrasenaAnterior, new { @class = "form-control input-sm", data_validation = "required,length", @data_validation_length = "4-16" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            @Html.LabelFor(m => m.Contrasena, "Nueva Contraseña")
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            @Html.PasswordFor(m => m.Contrasena, new { @class = "form-control input-sm", @name = "Contrasena", data_validation = "required,length", @data_validation_length = "4-16" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            @Html.LabelFor(m => m.RepetirContrasena, "Repetir Contraseña")
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            @Html.PasswordFor(m => m.RepetirContrasena, new { @class = "form-control input-sm", @data_validation = "confirmation", @data_validation_confirm = "Contrasena" })
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="pull-right">
                                @Html.ActionLinkCifradoConTexto(Resources.General.Regresar, "Index", "Usuario", "Catalogo", "btn btn-default btn-sm", "fa fa-angle-double-left", new Dictionary<string, int>())
                                <button class="btn btn-primary btn-sm">
                                    <i class="fa fa-save"></i> @Resources.General.Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- Footer Scripts -->
@section FooterScripts
{
    <script type="text/javascript">
        $.validate({
            language: es,
            modules: 'security'
        });
    </script>
}
<!-- End Footer Scripts -->