﻿@using Datos.Recursos
@using Datos.Repositorios.Catalogos
@using Datos.Repositorios.Configuracion
@using Sistema
@using Presentacion.Helpers
@model Datos.Usuario

@{
    ViewBag.Title = General.GuardarUsuario;
}

@section HeaderScripts {
    <link rel="stylesheet" href="~/Content/css/bootstrap-select.min.css" />
}

@using (Html.BeginForm("Guardar", "Usuario", new { @idRol = "", @contrasena = "", idUsuario = Request.QueryString["idUsuario"] }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8 col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            @if (Model?.IDRol > 0)
                            {
                                <h5>Editar datos del usuario</h5>
                            }
                            else
                            {
                                <h5>Datos del nuevo usuario</h5>
                            }

                        </div>
                    </div>
                </div>
                <div class="ibox-content form-horizontal">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Nombre, "Nombre")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max50", maxlength = "50" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.ApellidoP, "Apellido Paterno")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.ApellidoP, new { @class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max50", maxlength = "50" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.ApellidoM, "Apellido Materno")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.ApellidoM, new { @class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max50", maxlength = "50" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Sexo, "Sexo")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.DropDownListFor(m => m.Sexo, Listas.ObtenerListaGenero(), new { @class = "form-control input-sm", @data_validation = "required" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.UrlFoto, "Foto")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <input type="file" id="fotoEmpleado" name="archivos" class="file-loading" accept=".jpg, .jpeg, .png" />
                                <div id="divErrorImagen"></div>
                                @Html.HiddenFor(e => e.UrlFoto)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 p-b-10">
                            @Html.LabelFor(m => m.IDEntidad, "Entidad")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @if (ViewBag.IdEntidadUsuarios > 0)
                            {
                                var entidades = EntidadRepositorio.Buscar(string.Empty);
                                entidades.First().Text = @"Niguno";

                                @Html.DropDownListFor(m => m.IDEntidad, entidades,
                                    new
                                    {
                                        @class = "form-control input-sm selectpicker",
                                        data_live_search = "true",
                                        @disabled = "disabled"
                                    })
                            }
                            else
                            {
                                var entidades = EntidadRepositorio.Buscar(string.Empty);
                                entidades.First().Text = @"Niguno";

                                @Html.DropDownListFor(m => m.IDEntidad, entidades,
                                    new
                                    {
                                        @class = "form-control input-sm selectpicker",
                                        data_live_search = "true"
                                    })
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.NombreUsuario, "Usuario")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.NombreUsuario, new { @class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max50", maxlength = "50" })
                        </div>
                    </div>
                    @if (Model?.IDUsuario <= 0)
                    {
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Contrasena, "Contraseña")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.PasswordFor(m => m.Contrasena, new { @class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max128", maxlength = "128" })
                        </div>
                    </div>
                    }
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.IDRol, "Rol")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.DropDownListFor(m => m.IDRol, RolRepositorio.BuscarRoles(), new { @class = "form-control input-sm", @data_validation = "required" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Email, "Correo")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm", @data_validation = "length", @data_validation_length = "max50", maxlength = "50" })
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="pull-right">
                                @if (Model.IDEntidad > 0)
                                {
                                    @Html.ActionLinkCifradoConTexto(Resources.General.Regresar, "Index",
                                    "Usuario", "Catalogo", "btn btn-default btn-sm", "fa fa-angle-double-left",
                                    new Dictionary<string, int> { {"idEntidad", Model.IDEntidad.Value} })
                                }
                                else
                                {
                                    @Html.ActionLinkCifradoConTexto(Resources.General.Regresar, "Index", 
                                    "Usuario", "Catalogo", "btn btn-default btn-sm", "fa fa-angle-double-left")
                                }
                                <button class="btn btn-primary btn-sm">
                                    <i class="fa fa-save"></i> @Resources.General.Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section FooterScripts {
    <script type="text/javascript" src="~/Content/js/bootstrap-select/bootstrap-select.min.js"></script>    
    <script type="text/javascript" src="~/Content/js/bootstrap-select/defaults-es_ES.js"></script>    

    <script type="text/javascript">
        $.validate({
            language: es,
            modules: 'security'
        });
    </script>
}

<script type="text/javascript">
    @section DocumentOnReady { 
        @if (Model.IDEntidad > 0)
        {
            @Html.Raw("$('.selectpicker').selectpicker('val', '" + Model.IDEntidad + "');")
        }

        var etiquetaImagen = '<img src="{ruta}" class="file-preview-image" alt="Foto">';

        var $hdnRutaFoto = $("#@Html.IdFor(m => m.UrlFoto)");

        $("#fotoEmpleado").fileinput({
            language: "es",
            initialPreview: [
                $hdnRutaFoto.val() != ""
                    ? etiquetaImagen.format({ ruta: '@Url.Content(Model.UrlFoto ?? " ")' })
                        : etiquetaImagen.format({ ruta: '@Url.Content("~/Archivos/FotosUsuarios/no_user.png")' })
            ],
            previewFileType: "image",
            browseClass: "btn btn-primary btn-block",
            showCaption: false,
            showRemove: false,
            showUpload: false,
            browseLabel: "&nbsp;Buscar",
            allowedFileExtensions: ["jpg", "png", "jpeg"],
            elErrorContainer: "#divErrorImagen",
            maxFileSize: 1000
        });
    }
</script>