﻿@using System.Globalization
@using Datos.Recursos
@using Datos.Repositorios.Catalogos
@using Datos.Repositorios.Configuracion
@using Presentacion.Helpers
@using Sistema.Extensiones

@model Datos.DTO.Infraestructura.ViewModels.UsuarioViewModel

@{
    ViewBag.Title = Resources.General.BuscarUsuario;
}

@section HeaderScripts {
    <link rel="stylesheet" href="~/Content/css/bootstrap-select.min.css" />
}

@using (Html.BeginForm())
{
    <div class="tarjeta">
        @if (Model.Usuario.Entidad != null)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <h3>
                            Entidad: @Model.Usuario.Entidad.Nombre
                        </h3>
                        <hr />
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-xs-12 col-md-6 form-horizontal">
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="Usuario_NombreUsuario">Usuario:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.Usuario.NombreUsuario, new {@class = "form-control input-sm"})
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">

                        </div>
                        <div class="col-xs-12 col-md-9">
                            <div class="checkbox checkbox-success">
                                @Html.CheckBoxFor(m => m.Usuario.Habilitado)
                                @Html.LabelFor(m => m.Usuario.Habilitado)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 form-horizontal">
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="Usuario_Rol_IDRol">Rol:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.DropDownListFor(m => m.Usuario.Rol.IDRol, RolRepositorio.BuscarRoles(), new {@class = "form-control input-sm"})
                        </div>
                    </div>
                </div>
                @if (Model.Usuario.Entidad == null)
                {
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="Usuario_IDEntidad">Entidad:</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @if (Model.Usuario.IDEntidad > 0)
                                {
                                    @Html.DropDownListFor(m => m.Usuario.IDEntidad,
                                        EntidadRepositorio.Buscar(string.Empty), new
                                        {
                                            @class = "form-control input-sm selectpicker",
                                            data_live_search = "true",
                                            disabled = "disabled"
                                        })
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.Usuario.IDEntidad,
                                        EntidadRepositorio.Buscar(string.Empty), new
                                        {
                                            @class = "form-control input-sm selectpicker",
                                            data_live_search = "true"
                                        })
                                }
                            </div>
                        </div>
                    </div>
                }
                <div class="col-xs-12 col-md-12 p-t-5">
                    @Html.ActionLinkCifradoConTexto("Nuevo", "Guardar", "Usuario", "Catalogo",
                        "btn btn-sm btn-default pull-right m-l-5", "fa fa-plus",
                        new Dictionary<string, int> {{"idEntidad", Model.IdEntidad.DecodeFrom64().TryToInt()}})
                    <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> @Resources.General.Buscar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 m-t-10 m-b-10 ">
                <div class="col-md-6 bold">
                    @Html.DropDownListFor(m => m.TamanoPagina, Sistema.Listas.ObtenerListaCantidadPagina())
                    @Resources.General.TamanoPagina
                </div>
                <div class="col-md-6 text-right">
                    <label class="label label-success">
                        @Resources.General.Encontrados: @Model.TotalEncontrados
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="table-responsive no-borders">
                    <table class="table table-hover table-striped min-w-700" id="tblBusqueda">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th>Usuario</th>
                            <th>Correo</th>
                            <th>Entidad</th>
                            <th class="text-center">@Resources.General.Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model != null)
                        {
                            foreach (var usuario in Model.Usuarios)
                            {
                                <tr>
                                    <td>
                                        @usuario.Nombre&nbsp;
                                        @usuario.ApellidoP&nbsp;
                                        @usuario.ApellidoM
                                    </td>
                                    <td>@usuario.Rol.Nombre</td>
                                    <td>@usuario.NombreUsuario</td>
                                    <td>@usuario.Email</td>
                                    <td>@(usuario.Entidad?.Nombre)</td>
                                    <td class="text-center">
                                        @if (usuario.Habilitado)
                                        {
                                            <a class="btn btn-success btn-circle m-l-2 m-r-2 mostrar-modal"
                                               href="#" data-toggle="modal" data-target="#grafica_usuario" title="Modificar"
                                               data-id="@usuario.IDUsuario.ToString().EncodeTo64()">
                                                <i class="fa fa-area-chart"></i>
                                            </a>

                                            @Html.ActionLinkCifrado(General.VerExpedientes, "Index", "Expediente", "Digitalizacion",
                                                "btn btn-info btn-circle m-l-2 m-r-2", "fa fa-archive",
                                                new Dictionary<string, int> { { "idUsuario", usuario.IDUsuario } })

                                            @Html.ActionLinkCifrado(General.Modificar, "Guardar", "Usuario", "Catalogo",
                                                "btn btn-warning btn-circle m-l-2 m-r-2", "fa fa-pencil",
                                                new Dictionary<string, int> {{"idUsuario", usuario.IDUsuario}})

                                            @Html.ActionLinkCifrado(Resources.General.Deshabilitar, "Deshabilitar", "Usuario", "Catalogo",
                                                "btn btn-danger btn-circle m-l-2 m-r-2 deshabilitar", "fa fa-times",
                                                new Dictionary<string, int> {{"idUsuario", usuario.IDUsuario}}, new {@id = "btnEliminar", @name = usuario.IDUsuario})
                                        }
                                        else
                                        {
                                            @Html.ActionLinkCifrado(Resources.General.Habilitar, "Habilitar", "Usuario", "Catalogo",
                                                "btn btn-primary btn-circle habilitar", "fa fa-check",
                                                new Dictionary<string, int> {{"idUsuario", usuario.IDUsuario}})
                                        }
                                        @Html.HiddenCifrado("idUsuario", usuario.IDUsuario.ToString(CultureInfo.InvariantCulture))
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                <div>
                    @Html.Partial("Controls/_Paginacion", Model)
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" tabindex="-1" role="dialog" id="grafica_usuario">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Estadísticas</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="id_usuario_estadistica">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <span class="pull-right text-right">
                                <small>Usuario: <strong id="estadistica_nombre">Nombre</strong></small>
                                <br>
                                Total <span id="estadistica_total"></span> expedientes
                            </span>
                            <h2 class="m-b-xs" id="estadistica_mes"></h2>
                            <h4 class="font-bold no-margins">
                                Digitalizados en el mes de <span id="estadistica_nombre_mes"></span>
                            </h4>
                        </div>

                        <div class="p-t-10">
                            <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                            <canvas id="lineChart" height="152" style="display: block; width: 654px; height: 152px;" width="654"></canvas>
                        </div>
                    </div>
                    <div class="col-md-12"><hr/>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6 col-md-offset-3">
                            <ul class="stat-list">
                                <li class="text-center">
                                    <h2 class="no-margins" id="estadistica_promedio">0</h2>
                                    <strong>Promedio digitalización por día</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 text-center p-t-10">
                        <a id="enlace_digitalizados" href="@Url.Action("Index", "Expediente", new {Area = "Digitalizacion"})">Consultar expedientes digitalizados</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section FooterScripts {
    <script type="text/javascript" src="~/Content/js/bootstrap-select/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap-select/defaults-es_ES.js"></script>
    <script type="text/javascript" src="~/Content/js/chartJs/Chart.min.js"></script>
}

<script type="text/javascript">
    @section DocumentOnReady
    {
        @if (Model.Usuario.IDEntidad > 0)
        {
            @Html.Raw("$('.selectpicker').selectpicker('val', '" + Model.Usuario.IDEntidad + "');")
        }

        $("#tblBusqueda").tablesorter();

        $(".detalles").click(function (e) {
            e.preventDefault();
            var id = $(this).parent().find("input[type=hidden]").val();
            detallesUsuario.Buscar(id);
        });

        // Eventos
        $(document).off("click", "#btnEliminar");
        $(document).on("click", "#btnEliminar", function (e) {

            e.preventDefault();
            var href = this.href;

            swal({
                title: "¡Atención!",
                text: "¿Esta seguro que desea deshabilitar este Usuario?",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "Cancelar",
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Aceptar",
                closeOnConfirm: false
            },
            function () {
                window.location.href = href;
                return true;
            });
        });

        $(".mostrar-modal").click(function () {
            var id = $(this).data("id");

            $("#id_usuario_estadistica").val(id);
        });

        $('#grafica_usuario').on('shown.bs.modal', function (e) {
            var idUsuario = $("#id_usuario_estadistica").val();

            $.ajax({
                url: '@Url.Action("EstadisticasUsuario", "Usuario", new { area = "Catalogo" })',
                data: "{idUsuario : '" + idUsuario + "' }",
                dataType: "json",
                contentType: "application/json",
                type: "POST",
                beforeSend: function () {
                },
                success: function (data) {
                    $("#estadistica_promedio").text(data.Promedio);
                    $("#estadistica_total").text(data.Total);
                    $("#estadistica_nombre").text(data.Nombre);
                    $("#estadistica_nombre_mes").text(data.NombreMes);
                    $("#estadistica_mes").text(data.Mes + " expedientes");
                    $("#enlace_digitalizados").attr("href", $("#enlace_digitalizados").attr("href") + "?idUsuario=" + idUsuario);
                    
                    var lineData = {
                        labels: data.Etiquetas,
                        datasets: [
                            {
                                label: "Example dataset",
                                fillColor: "rgba(26,179,148,0.5)",
                                strokeColor: "rgba(26,179,148,0.7)",
                                pointColor: "rgba(26,179,148,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(26,179,148,1)",
                                data: data.Valores
                            }
                        ]
                    };

                    var lineOptions = {
                        scaleShowGridLines: true,
                        scaleGridLineColor: "rgba(0,0,0,.05)",
                        scaleGridLineWidth: 1,
                        bezierCurve: true,
                        bezierCurveTension: 0.4,
                        pointDot: true,
                        pointDotRadius: 4,
                        pointDotStrokeWidth: 1,
                        pointHitDetectionRadius: 20,
                        datasetStroke: true,
                        datasetStrokeWidth: 2,
                        datasetFill: true,
                        responsive: true,
                    };

                    var ctx = document.getElementById("lineChart").getContext("2d");
                    var myNewChart = new Chart(ctx).Line(lineData, lineOptions);
                }
            });            
        });        
    }
</script>