﻿@using Datos
@using Datos.Recursos
@using Datos.Repositorios.Configuracion
@using Presentacion.Helpers
@using Sistema.Extensiones

@model Datos.DTO.Infraestructura.ViewModels.CuadroArchivisticoViewModel

@{
    ViewBag.Title = Resources.General.BuscarSubserie;
}

@using (Html.BeginForm())
{
    <div class="tarjeta">
        @if (Model.Entidad != null)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <h3>
                            Entidad: @Model.Entidad.Nombre
                        </h3>
                        <hr />
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-xs-12 col-md-6 form-horizontal">
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="Clave">Clave:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.CuadroArchivistico.Clave, new {@class = "form-control input-sm"})
                        </div>
                    </div>
                </div>
                @if (Model.IdEntidad == 0)
                {
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">

                            </div>
                            <div class="col-xs-12 col-md-9">
                                <div class="checkbox checkbox-success">
                                    @Html.CheckBoxFor(m => m.CuadroArchivistico.Habilitado)
                                    @Html.LabelFor(m => m.CuadroArchivistico.Habilitado)
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-xs-12 col-md-6 form-horizontal">
                @if (Model.CuadroArchivistico.IDPadreCuadroArchivistico == 0 || Model.IdEntidad > 0)
                {
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="IdFondo">Fondo:</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @{
                                    var fondos = CuadroArchivisticoRepositorio.BuscarTipo(TiposCuadroArchivistico.Fondo);
                                    if (fondos.Count == 2) { Model.IdFondo = fondos.Last().Value.ToInt(); }
                                }
                                @Html.DropDownListFor(m => m.IdFondo, fondos, new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group @(Model.IdFondo > 0 ? string.Empty : "hidden")">
                            <div class="col-xs-12 col-md-3">
                                Subfondo:
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.CuadroArchivisticoDdl(m => m.IdSubfondo, Model.IdFondo, TiposCuadroArchivistico.Subfondo)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="IdSeccion">Sección:</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.CuadroArchivisticoDdl(m => m.IdSeccion, Model.IdSubfondo > 0 ? Model.IdSubfondo : Model.IdFondo, TiposCuadroArchivistico.Seccion)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group @(Model.IdSeccion > 0 ? string.Empty : "hidden")">
                            <div class="col-xs-12 col-md-3">
                                Subsección:
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.CuadroArchivisticoDdl(m => m.IdSubseccion, Model.IdSeccion, TiposCuadroArchivistico.Subseccion)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="IdSerie">Serie:</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.CuadroArchivisticoDdl(m => m.IdSerie, Model.IdSubseccion > 0 ? Model.IdSubseccion : Model.IdSeccion, TiposCuadroArchivistico.Serie)
                            </div>
                        </div>
                    </div>
                }
                <div class="col-xs-12 col-md-12">
                    @if (Model.IdEntidad > 0)
                    {
                        @Html.ActionLinkCifradoConTexto("Ir a series", "Index", "Serie", "Catalogo", "btn btn-sm btn-danger pull-right m-l-5",
                            string.Empty, new Dictionary<string, int> {{"idEntidad", Model.IdEntidad}})
                    }
                    @Html.ActionLinkCifradoConTexto("Nuevo", "Guardar", "Subserie", "Catalogo",
                        "btn btn-sm btn-default pull-right m-l-5", "fa fa-plus",
                        new Dictionary<string, int>
                        {
                            {"IdPadre", Model.CuadroArchivistico.IDPadreCuadroArchivistico ?? 0},
                            {"idEntidadRegresar", Model.IdEntidad}
                        })
                    <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> @Resources.General.Buscar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 m-t-10 m-b-10 ">
                <div class="col-md-6 bold">
                    @Html.DropDownListFor(m => m.TamanoPagina, Sistema.Listas.ObtenerListaCantidadPagina())
                    @Resources.General.TamanoPagina
                </div>
                <div class="col-md-6 text-right">
                    <label class="label label-success">
                        @Resources.General.Encontrados: @Model.TotalEncontrados
                    </label>
                </div>
            </div>
        </div>

        @if (Model.CuadroArchivistico.IDPadreCuadroArchivistico > 0 && Model.IdEntidad == 0)
        {
            <div class="row">
                <div class="col-xs-12 col-md-9 form-horizontal">
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <ul class="breadcrumb f-s-14">
                            <li>
                                @Html.ActionLinkCifradoConTexto("Cuadro Archivístico", "Index", "Fondo", "Catalogo", string.Empty, string.Empty)
                            </li>
                            @foreach (var migaja in Model.ObtenerRuta())
                            {
                                <li>
                                    @Html.ActionLinkCifradoConTexto(migaja.Nombre, "Index", migaja.Tipo, "Catalogo", string.Empty,
                                        string.Empty, new Dictionary<string, int> {{"idPadre", migaja.Id}})
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="table-responsive no-borders">
                    <table class="table table-hover table-striped min-w-700" id="tblBusqueda">
                        <thead>
                        <tr>
                            <th>Subserie</th>
                            <th>Serie</th>
                            <th class="hidden subseccion">Subsección</th>
                            <th>Sección</th>
                            <th class="hidden subfondo">Subfondo</th>
                            <th>Fondo</th>
                            @if (Model.IdEntidad == 0)
                            {
                                <th>Fecha de creacion</th>
                                <th>Fecha de modificacion</th>
                            }
                            <th class="text-center">@Resources.General.Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model != null)
                        {
                            foreach (var cuadroArchivistico in Model.CuadroArchivisticos)
                            {
                                cuadroArchivistico.GenerarJerarquia();
                                var subserie = cuadroArchivistico.CuadroArchivistico;

                                var serie = Model.ObtenerTipo(subserie, TiposCuadroArchivistico.Serie);
                                var subseccion = Model.ObtenerTipo(subserie, TiposCuadroArchivistico.Subseccion);
                                var seccion = Model.ObtenerTipo(subserie, TiposCuadroArchivistico.Seccion);
                                var subfondo = Model.ObtenerTipo(subserie, TiposCuadroArchivistico.Subfondo);
                                var fondo = Model.ObtenerTipo(subserie, TiposCuadroArchivistico.Fondo);

                                if (subfondo != null) { Model.ExisteSubfondo = true; }
                                if (subseccion != null) { Model.ExisteSubseccion = true; }

                                <tr>
                                    <td>
                                        <strong>@subserie.Clave</strong>
                                        <br/>
                                        @subserie.Nombre
                                    </td>
                                    <td>@serie.Nombre</td>
                                    <td class="hidden subseccion">@(subseccion != null ? subseccion.Nombre : string.Empty)</td>
                                    <td>@seccion.Nombre</td>
                                    <td class="hidden subfondo">@(subfondo != null ? subfondo.Nombre : string.Empty)</td>
                                    <td>@fondo.Nombre</td>
                                    @if (Model.IdEntidad == 0)
                                    {
                                        <td>@subserie.FechaCreacion.Date.ToString("d")</td>
                                        <td>@subserie.FechaModificado.Date.ToString("d")</td>
                                    }
                                    <td class="text-center">
                                        @if (Model.IdEntidad > 0 && cuadroArchivistico.Agregado == false)
                                        {
                                            <a class="btn btn-primary btn-circle m-l-2 m-r-2 agregar"
                                               title="Agregar" data-cuadro="@subserie.IDCuadroArchivistico"><i class="fa fa-plus"></i></a>
                                        }
                                        else if (Model.IdEntidad > 0 && cuadroArchivistico.Agregado)
                                        {
                                            <a class="btn btn-danger btn-circle m-l-2 m-r-2 quitar"
                                               title="Quitar" data-cuadro="@subserie.IDCuadroArchivistico"><i class="fa fa-minus"></i></a>
                                        }
                                        else if (subserie.Habilitado)
                                        {
                                            @Html.ActionLinkCifrado(General.Modificar, "Guardar", "Subserie", "Catalogo",
                                                "btn btn-warning btn-circle m-l-2 m-r-2", "fa fa-pencil",
                                                new Dictionary<string, int>
                                                {
                                                    {"IDCuadroArchivistico", subserie.IDCuadroArchivistico},
                                                    {"IdPadre", Model.IdPadre.DecodeFrom64().TryToInt()}
                                                })

                                            @Html.ActionLinkCifrado(Resources.General.Deshabilitar, "Deshabilitar", "Subserie", "Catalogo",
                                                "btn btn-danger btn-circle m-l-2 m-r-2 deshabilitar", "fa fa-times",
                                                new Dictionary<string, int>
                                                {
                                                    {"IDCuadroArchivistico", subserie.IDCuadroArchivistico},
                                                    {"IdPadre", Model.IdPadre.DecodeFrom64().TryToInt()}
                                                }, new {@id = "btnEliminar", @name = subserie.IDCuadroArchivistico})
                                        }
                                        else
                                        {
                                            @Html.ActionLinkCifrado(Resources.General.Habilitar, "Habilitar", "Subserie", "Catalogo",
                                                "btn btn-primary btn-circle habilitar", "fa fa-check",
                                                new Dictionary<string, int>
                                                {
                                                    {"IDCuadroArchivistico", subserie.IDCuadroArchivistico},
                                                    {"IdPadre", Model.IdPadre.DecodeFrom64().TryToInt()}
                                                })
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                <div>
                    @Html.Partial("Controls/_Paginacion", Model)
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    @section DocumentOnReady
    {
        @if (Model.ExisteSubfondo)
        {
            @:$(".hidden.subfondo").removeClass("hidden");
        }

        @if (Model.ExisteSubseccion)
        {
            @:$(".hidden.subseccion").removeClass("hidden");
        }

        $("#tblBusqueda").on("click", ".agregar", function (e) {
            e.preventDefault();

            var idCuadro = $(this).data("cuadro");
            var boton = $(this);
            var icono = $(this).find("i");

            $.ajax({
                url: '@Url.Action("AgregarCuadroArchivistico", "Fondo", new { area = "Catalogo" })',
                data: "{idEntidad : @Model.IdEntidad, idCuadroArchivistico : " + idCuadro + "}",
                type: 'POST',
                contentType: "application/json",
                dataType: 'json',
                beforeSend: function () {
                    icono.removeClass("fa-plus");
                    boton.removeClass("btn-primary");

                    icono.addClass("fa-spinner");
                    boton.addClass("btn-default");
                },
                success: function () {
                    icono.removeClass("fa-spinner");
                    boton.removeClass("btn-default");

                    icono.addClass("fa-minus");
                    boton.addClass("btn-danger");

                    boton.removeClass("agregar");
                    boton.addClass("quitar");
                },
                error: function (err, ah) {
                    mostrarAlert('Ocurrio un error al intentar agregar la subserie a la entidad.', 'danger');

                    icono.removeClass("fa-spinner");
                    boton.removeClass("btn-default");

                    icono.addClass("fa-plus");
                    boton.addClass("btn-primary");
                }
            });
        });

        $("#tblBusqueda").on("click", ".quitar", function (e) {
            e.preventDefault();

            var idCuadro = $(this).data("cuadro");
            var boton = $(this);
            var icono = $(this).find("i");

            $.ajax({
                url: '@Url.Action("QuitarCuadroArchivistico", "Fondo", new { area = "Catalogo" })',
                data: "{idEntidad : @Model.IdEntidad, idCuadroArchivistico : " + idCuadro + "}",
                type: 'POST',
                contentType: "application/json",
                dataType: 'json',
                beforeSend: function () {
                    icono.removeClass("fa-minus");
                    boton.removeClass("btn-danger");

                    icono.addClass("fa-spinner");
                    boton.addClass("btn-default");
                },
                success: function () {
                    icono.removeClass("fa-spinner");
                    boton.removeClass("btn-default");

                    icono.addClass("fa-plus");
                    boton.addClass("btn-primary");

                    boton.addClass("agregar");
                    boton.removeClass("quitar");
                },
                error: function (err, ah) {
                    mostrarAlert('Ocurrio un error al intentar quitar la subserie a la entidad.', 'danger');

                    icono.removeClass("fa-spinner");
                    boton.removeClass("btn-default");

                    icono.addClass("fa-minus");
                    boton.addClass("btn-danger");
                }
            });
        });

        $("#tblBusqueda").tablesorter();

        $(document).off("click", "#btnEliminar");
        $(document).on("click", "#btnEliminar", function (e) {

            e.preventDefault();
            var href = this.href;

            swal({
                title: "¡Atención!",
                text: "¿Esta seguro que desea deshabilitar esta Subserie?",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "Cancelar",
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Aceptar",
                closeOnConfirm: false
            },
            function () {
                window.location.href = href;
                return true;
            });
        });
    }
</script>
