﻿@using Datos.Recursos
@using Presentacion.Helpers
@using Sistema
@model Datos.DTO.Infraestructura.ViewModels.EstadoViewModel

@{
    ViewBag.Title = "Buscar Estados";
}

@using (@Html.BeginForm())
{
    <div class="tarjeta">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 form-horizontal">
                    <div class="form-group">
                        <div class="col-md-3 col-xs-3">
                            @Html.LabelFor(m => m.Estado.Nombre)
                        </div>
                        <div class="col-md-9 col-xs-9">
                            @Html.TextBoxFor(m => m.Estado.Nombre, new {@class = "form-control input-sm"})
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right">
                        <input type="submit" class="btn btn-sm btn-primary" value="@General.Buscar"/>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-md-12 m-t-10 m-b-10">
                <div class="col-md-6 bold">
                    @Html.DropDownListFor(m => m.TamanoPagina, Listas.ObtenerListaCantidadPagina())
                    @General.TamanoPagina
                </div>
                <div class="col-md-6 text-right">
                    <label class="label label-success">
                        @General.Encontrados: @Model.TotalEncontrados
                    </label>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="tblBusqueda">
                        <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.Estado.Nombre)</th>
                            <th>@Html.DisplayNameFor(m => m.Estado.Abreviatura)</th>
                            <th>@Html.DisplayNameFor(m => m.Estado.Predeterminado)</th>
                            <th class="text-center">@General.Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var estado in Model.Estados)
                        {
                            <tr>
                                <td>@estado.Nombre</td>
                                <td>@estado.Abreviatura</td>
                                <td>@(estado.Predeterminado ? "SÍ" : "NO")</td>
                                <td class="text-center">
                                    @Html.ActionLinkCifrado(General.Modificar, "Guardar", "Estado", "Catalogo",
                                        "btn btn-warning btn-circle", "fa fa-pencil",
                                        new Dictionary<string, int> {{"idEstado", estado.IDEstado}})
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div>
                    @Html.Partial("Controls/_Paginacion", Model)
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mdlConfirmar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">
                        <label>@General.Cuidado</label>
                    </h3>
                </div>
                <div class="modal-body text-center">
                    <label id="lblModal"></label>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" tabindex="2">@General.Cancelar</button>
                    <button id="btnConfirmar" class="btn btn-primary">@General.Aceptar</button>
                </div>
            </div>
        </div>
    </div>
}

@section FooterScripts
{
    <script type="text/javascript" src="/Content/js/jquery.tablesorter.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var enlaceEnEspera;
            var confirmado = false;

            $("#tblBusqueda").tablesorter();

            $(".eliminar").click(function (e) {
                if (!confirmado) {
                    enlaceEnEspera = this;
                    e.preventDefault();
                    $("#lblModal").html('@string.Format(Resources.General.PreguntaEliminar, General.Estado)');
                    $("#mdlConfirmar").modal("show");
                }
            });

            $("#btnConfirmar").click(function (e) {
                e.preventDefault();
                confirmado = true;
                enlaceEnEspera.click();
            });

        });
    </script>
}