﻿@using Datos.Repositorios.Bitacora

@model Datos.DTO.Infraestructura.ViewModels.AuditoriaViewModel

@using (Html.BeginForm())
{
    <div class="col-md-12 p-all-0" style="min-height: 400px">
        <div class="col-md-12 p-t-20">
            <h3>Movimientos en el expediente</h3>
        </div>
        <div class="col-xs-12 col-md-12 form-horizontal p-t-10 p-all-0">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-xs-12 col-md-4 end-xs">
                        <label for="Fecha">Fecha Inicio:</label>
                    </div>
                    <div class="col-xs-12 col-md-8 p-all-0">
                        <div class="input-group">
                            <div class="btn gray-bg input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.TextBoxFor(m => m.FechaInicio, "{0:dd/MM/yyyy}", new {@class = "form-control input-sm", placeholder = "Fecha Inicio", @id = "FechaInicio"})
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-xs-12 col-md-3 col-md-offset-1">
                        <label for="Usuario">Usuario:</label>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        @Html.DropDownListFor(m => m.Auditoria.IDUsuario, AuditoriaRepositorio.BuscarUsuario(), new {@class = "form-control input-sm"})
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-xs-12 col-md-4">
                        <label for="Fecha">Fecha Fin:</label>
                    </div>
                    <div class="col-xs-12 col-md-8 p-all-0">
                        <div class="input-group">
                            <div class="btn gray-bg input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.TextBoxFor(m => m.FechaFin, "{0:dd/MM/yyyy}", new {@class = "form-control input-sm", placeholder = "Fecha Fin", @id = "FechaFin"})
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-xs-12 col-md-3 col-md-offset-1">
                        <label for="Accion" class="end-xs">Acción:</label>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        @Html.DropDownListFor(m => m.Auditoria.IDAccionAuditoria, AuditoriaRepositorio.BuscarExpedienteAcciones(), new {@class = "form-control input-sm"})
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> @Resources.General.Buscar</button>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 m-t-10 m-b-10 p-all-0">
            <div class="col-md-6 bold">
                @Html.DropDownListFor(m => m.TamanoPagina, Sistema.Listas.ObtenerListaCantidadPagina())
                @Resources.General.TamanoPagina
            </div>
            <div class="col-md-6 text-right">
                <label class="label label-success">
                    @Resources.General.Encontrados: @Model.TotalEncontrados
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive no-borders">
                <table class="table table-hover table-striped min-w-700" id="tblBusqueda">
                    <thead>
                    <tr>
                        <th>Acción</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var auditoria in Model.Auditorias)
                    {
                        <tr>
                            <td>@auditoria.AccionAuditoria.Nombre</td>
                            <td>@(auditoria.Usuario.Nombre + " " + auditoria.Usuario.ApellidoP + " " + auditoria.Usuario.ApellidoM)</td>
                            <td>@auditoria.Fecha.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div>
                @Html.Partial("Controls/_Paginacion", Model)
            </div>
        </div>
    </div>
}