﻿<div class="modal fade" id="mdlDetalles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">
                    <label>Detalles</label>
                </h3>
            </div>
            <div class="modal-body container-fluid">
                <div class="col-md-12">
                    <div class="widget-head-color-box gray-bg p-xxs text-center">
                        <span class="bold" data-bind="text: Titulo"></span>
                    </div>
                    <div class="widget-text-box p-all-10 container-fluid">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="col-md-6 p-all-0 p-t-10">
                                <span class="bold">IdAuditoria:</span>
                            </div>
                            <div class="col-md-6 p-all-0 p-t-10">
                                <span data-bind="text: IdAuditoria"></span>
                            </div>
                            <div class="col-md-6 p-all-0 p-t-10">
                                <span class="bold">IdExpediente:</span>
                            </div>
                            <div class="col-md-6 p-all-0 p-t-10">
                                <span data-bind="text: IdExpediente"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 p-all-0">
                            <div class="col-md-3 p-all-0 p-t-10">
                                <span class="bold">Fecha:</span>
                            </div>
                            <div class="col-md-9 p-all-0 p-t-10">
                                <span data-bind="text: Fecha"></span>
                            </div>
                            <div class="col-md-3 p-all-0 p-t-10">
                                <span class="bold">IdTipoAuditoria:</span>
                            </div>
                            <div class="col-md-9 p-all-0 p-t-10">
                                <span data-bind="text: IdTipoAuditoria"></span>
                            </div>
                            <div class="col-md-3 p-all-0 p-t-10">
                                <span class="bold">IdUsuario:</span>
                            </div>
                            <div class="col-md-9 p-all-0 p-t-10">
                                <span data-bind="text: IdUsuario"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/Scripts/knockout-2.2.0.js"></script>

<script type="text/javascript">
    var detallesCadido = (function () {

        function buscar(idCadido) {
            $.ajax({
                data: "{idCadido: '" + idCadido + "'}",
                dataType: "json",
                contentType: "application/json",
                type: "POST",
                url: '@Url.Action("Obtener", "Cadido", new { area = "Digitalizacion" })',
                beforeSend: function () {
                    MostrarDivCargando("Cargando detalles...");
                },
                success: function (data) {
                    ko.applyBindings(data);
                    CerrarDivCargando();
                    $("#mdlDetalles").modal();
                },
                error: function (error) {
                    CerrarDivCargando();
                },
            });
        }

        return {
            Buscar: buscar
        };
    })();
</script>
