﻿@using Datos.Recursos
@model Datos.Usuario

<div class="row">
    <div class="col-md-12">
        <div>
            @using (Html.BeginForm())
            {
                <div class="middle-box animated fadeInDown">
                    <div id="caja" class="container-fluid">
                        <div class="col-md-12 p-lateral-0">
                            <div id="envoltura">
                                @Html.Partial("Controls/AlertaLogin")
                                <div id="contenedor">
                                    <div class="text-center">
                                        <span class="logo-name">MYGYM</span>
                                        
                                        <p>Bienvenido al Sistema de Gimnasio MYGYM.</p>
                                        <p>Use un usuario y contraseña válida para acceder.</p>
                                    </div>
                                    <div id="cuerpo">
                                        <h3>@General.InicioSesion</h3>
                                        <i class="fa fa-user"></i><label for="Nombre_Usuario">&nbsp;Usuario</label>
                                        <div class="form-group">
                                            @Html.TextBoxFor(u => u.NombreUsuario, new {@class = "form-control input-sm", @data_validation = "required, length", @data_validation_length = "max50", @placeholder = "Escriba su nombre de usuario"})
                                        </div>
                                        <i class="fa fa-lock"></i><label for="Contrasena_Usuario">&nbsp;Contraseña</label>
                                        <div class="form-group">
                                            @Html.PasswordFor(u => u.Contrasena, new {@class = "form-control input-sm", @data_validation = "required, length", @data_validation_length = "max50", @placeholder = "Escriba su contraseña"})
                                        </div>
                                        <input type="submit" class="btn btn-primary block full-width m-b" value="@General.InicioSesion"/>
                                        <div class="text-center">
                                            @Html.ActionLink(General.OlvidasteContraseña, @"SolicitarContrasena")
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

    @section FooterScripts
{
        <script type="text/javascript">
            $.validate({
                language: es
            });

            $(function () {
                $(window).resize(function () {
                    $('#caja').css("padding-top", altura.alturaVentana);
                });

                $(window).resize();
            });

            var altura = (function () {
                var alturaVentana = $(window).height() / 2;
                var alturaCaja = $("#caja").height() / 2;
                return {
                    alturaVentana: alturaVentana - alturaCaja - 30
                };
            })();
        </script>
    }
