﻿@using Datos.Recursos
@model Datos.Usuario

@{
    ViewBag.Title = General.RestablecerContrasena;
    Layout = "~/Views/Shared/Layouts/_LayoutLogin.cshtml";
}

<div>
    @using (Html.BeginForm())
    {
        <div class="middle-box animated fadeInDown">
            <div id="caja" class="container-fluid">
                <div class="col-md-12 p-lateral-0">
                    <div id="envoltura">
                        <div class="text-center">
                            <span class="logo-name">MYGYM</span>
                        </div>
                        @Html.Partial("Controls/_Alerta")
                        <div id="contenedor">
                            <div id="cabecera">
                                <div class="text-center">
                                    <h3>@General.RestablecerContrasena</h3>
                                </div>
                            </div>
                            <div id="cuerpo">
                                <i class="fa fa-lock"></i><label for="Contrasena_Usuario">&nbsp;Nueva contraseña</label>
                                <div class="form-group">
                                    @Html.PasswordFor(u => u.Contrasena, new {@class = "form-control input-sm",@Name = "Contrasena_confirmation", @data_validation = "required, length", @data_validation_length = "4-16", @placeholder = "Escriba su contraseña"})
                                </div>
                                <i class="fa fa-lock"></i><label for="Nueva_Contrasena_Usuario">&nbsp;Repetir contraseña</label>
                                <div class="form-group">
                                    @Html.PasswordFor(u => u.Contrasena, new {@name = "Contrasena", @data_validation = "confirmation", @class = "form-control input-sm", @data_validation_length = "4-16", @placeholder = "Escriba nuevamente su contraseña"})
                                </div>
                                <input type="submit" class="btn btn-primary block full-width m-b" value="@General.Restablecer"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
@section FooterScripts
{
    <script type="text/javascript">
        $.validate({
            language: es,
            modules: 'security' 
        });
        $(function () {
            $(window).resize(function () {
                $('#caja').css("padding-top", altura.alturaVentana);
            });

            $(window).resize();
        });

        var altura = (function () {
            var alturaVentana = $(window).height() / 2;
            var alturaCaja = $("#caja").height() / 2;
            return {
                alturaVentana: alturaVentana - alturaCaja - 30
            };
        })();
    </script>
}

