﻿@using Datos.Recursos
@model Datos.Usuario

    @{
        ViewBag.Title = General.SolicitarContrasena;
        Layout = "~/Views/Shared/Layouts/_LayoutLogin.cshtml";
    }

    <div>
        @using (Html.BeginForm())
        {
            <div class="middle-box animated fadeInDown">
                <div id="caja" class="container-fluid">
                    <div class="col-md-12 p-lateral-0">
                        <div id="envoltura">
                            <div class="text-center">
                                <span class="logo-name">MYGYM</span>
                            </div>
                            @Html.Partial("Controls/_Alerta")
                            <div id="contenedor">
                                <div id="cabecera">
                                    <div class="text-center">
                                        <h3>@General.SolicitarContrasena</h3>
                                    </div>
                                </div>
                                <div id="cuerpo">
                                    <i class="fa fa-envelope-o"></i><label for="Correo_Usuario">&nbsp;Correo</label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(u => u.Email, new {@class = "form-control input-sm", @data_validation = "email, length",@data_validation_length="max50"})
                                    </div>
                                    <input type="submit" class="btn btn-primary block full-width m-b" value="@General.Solicitar"/>
                                    <div class="text-center">
                                        @Html.ActionLink(General.InicioSesion, @"Index")
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        }
    </div>
    @section FooterScripts
    {
        <script type="text/javascript">
            $.validate({
                language: es
            });
            $(function () {
                $(window).resize(function () {
                    $('#caja').css("padding-top", altura.alturaVentana);
                });

                $(window).resize();
            });

            var altura = (function () {
                var alturaVentana = $(window).height() / 2;
                var alturaCaja = $("#caja").height() / 2;
                return {
                    alturaVentana: alturaVentana - alturaCaja - 30
                };
            })();
        </script>
    }

