﻿@using Datos.Recursos
@using Datos.Repositorios.Catalogos
@using Presentacion.Helpers

@model Datos.DTO.Infraestructura.ViewModels.ClienteViewModel

@{
    ViewBag.Title = General.BuscarCliente;
}

@using (Html.BeginForm())
{
    <div class="tarjeta">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 form-horizontal">
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="Cliente_Nombre">Nombre</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.Cliente.Nombre, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">

                        </div>
                        <div class="col-xs-12 col-md-9">
                            <div class="checkbox checkbox-success">
                                @Html.CheckBoxFor(m => m.Cliente.Habilitado)
                                @Html.LabelFor(m => m.Cliente.Habilitado)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 form-horizontal">
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="Cliente_ApellidoP">Apellido paterno</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.Cliente.ApellidoP, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="Cliente_ApellidoM">Apellido materno</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.Cliente.ApellidoM, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="Cliente_ApellidoP">Telefono</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.Cliente.Telefono, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="Cliente_ApellidoP">Correo</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.Cliente.Correo, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="Cliente_ApellidoP">Sucursal</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.Cliente.Sucursal, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12">
                    <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> @Resources.General.Buscar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 m-t-10 m-b-10">
                <div class="col-md-6 bold">
                    @Html.DropDownListFor(m => m.TamanoPagina, Sistema.Listas.ObtenerListaCantidadPagina())
                    @Resources.General.TamanoPagina
                </div>
                <div class="col-md-6 text-right">
                    <label class="label label-success">
                        @Resources.General.Encontrados: @Model.TotalEncontrados
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="table-responsive no-borders">
                    <table class="table table-hover table-striped min-w-600" id="tblBusqueda">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Cliente.Nombre)</th>
                                <th>@Html.DisplayNameFor(m => m.Cliente.ApellidoP)</th>
                                <th>@Html.DisplayNameFor(m => m.Cliente.ApellidoM)</th>
                                <th>@Html.DisplayNameFor(m => m.Cliente.Telefono)</th>
                                <th>@Html.DisplayNameFor(m => m.Cliente.Correo)</th>
                                <th>@Html.DisplayNameFor(m => m.Cliente.Sucursal)</th>
                                <th class="text-center">@General.Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Clientes != null)
	                        {
		                        foreach (var cliente in Model.Clientes)
                                {
                                    <tr>
                                        <td>@cliente.Nombre</td>
                                        <td>@cliente.ApellidoP</td>
                                        <td>@cliente.ApellidoM</td>
                                        <td>@cliente.Telefono</td>
                                        <td>@cliente.Correo</td>
                                        <td>@cliente.Sucursal</td>
                                        <td class="text-center">
                                            @if (cliente.Habilitado)
                                            {
                                                @Html.ActionLinkCifrado(General.Modificar, "Guardar", "Cliente", "Catalogo",
                                                "btn btn-warning btn-circle m-l-2 m-r-2", "fa fa-pencil",
                                                new Dictionary<string, int> { { "idCliente", cliente.IdCliente } })
                                                @Html.ActionLinkCifrado(General.Deshabilitar, "Deshabilitar", "Cliente", "Catalogo",
                                                "btn btn-danger btn-circle eliminar m-l-2 m-r-2", "fa fa-times",
                                                new Dictionary<string, int> { { "idCliente", cliente.IdCliente } },
                                                new { id = "btnEliminar", name = cliente.IdCliente })
                                            }
                                            else
                                            {
                                                @Html.ActionLinkCifrado(General.Habilitar, "Habilitar", "Cliente", "Catalogo",
                                            "btn btn-primary btn-circle m-l-2 m-r-2", "fa fa-check",
                                            new Dictionary<string, int> { { "idCliente", cliente.IdCliente } })
                                            }                                            
                                        </td>
                                    </tr>
                                }

                            }
                            else
                            {
                                <tr><td>Sin clientes registrados</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <div>
                                        @Html.Partial("Controls/_Paginacion", Model)
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
}

<script type="text/javascript">
    @section DocumentOnReady
    {
    var enlaceEnEspera;
    var confirmado = false;

    $("#tblBusqueda").tablesorter();

    $(document).off("click", "#btnEliminar");
    $(document).on("click", "#btnEliminar", function (e) {

        e.preventDefault();
        var href = this.href;

        swal({
            title: "¡Atención!",
            text: "¿Esta seguro que desea deshabilitar este cliente?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Aceptar",
            closeOnConfirm: false
        },
        function () {
            window.location.href = href;
            return true;
        });
    });

    $("#btnConfirmar").click(function (e) {
        e.preventDefault();
        confirmado = true;
        enlaceEnEspera.click();
    });
    }
</script>