﻿@using Datos
@model Datos.DTO.Infraestructura.ViewModels.DdlCuadroArchivisticoViewModel

<script type="text/javascript">
    $(document).ready(function () {
        var ddlPadre, ddlHijo;

        @if (Model.Tipo == TiposCuadroArchivistico.Subfondo)
        {
            <text>
                ddlPadre = $("#IdFondo");
                ddlHijo = $("#IdSubfondo");
            </text>
        }
        else if (Model.Tipo == TiposCuadroArchivistico.Seccion)
        {
            <text>
                ddlPadre = $("#IdFondo, #IdSubfondo");
                ddlHijo = $("#IdSeccion");
            </text>
        }
        else if (Model.Tipo == TiposCuadroArchivistico.Subseccion)
        {
            <text>
                ddlPadre = $("#IdSeccion");
                ddlHijo = $("#IdSubseccion");
            </text>
        }
        else if (Model.Tipo == TiposCuadroArchivistico.Serie)
        {
            <text>
                ddlPadre = $("#IdSeccion, #IdSubseccion");
                ddlHijo = $("#IdSerie");
            </text>
        }
        else if (Model.Tipo == TiposCuadroArchivistico.Subserie)
        {
            <text>
                ddlPadre = $("#IdSerie");
                ddlHijo = $("#IdSubserie");
            </text>
        }

        ocultarMostrarSub(ddlHijo.find("option").length - 1);

        ddlPadre.change(function (e) {
            var idCuadroArchivistico = parseInt($(this).val()) || 0;
            cargarCuadroArchivisticoDdl(idCuadroArchivistico);
        });

        var dispararChangePadre = true;

        @if (Model.Tipo == TiposCuadroArchivistico.Subfondo ||
             Model.Tipo == TiposCuadroArchivistico.Subseccion ||
             Model.Tipo == TiposCuadroArchivistico.Subserie)
        {
            <text>
                ddlHijo.change(function () {
                    var valor = $(this).val();
                    if (!valor && dispararChangePadre) {
                        ddlPadre.each(function() {
                            if ($(this).val()) $(this).change();
                        });
                        dispararChangePadre = true;
                    }
                });
            </text>
        }

        function cargarCuadroArchivisticoDdl(idCuadroArchvistico) {
            if (idCuadroArchvistico > 0) {
                $.ajax({
                    url: '@Url.Action("ListaCuadroArchvistico", "Fondo" , new { area = "Catalogo" })',
                    data: "{idCuadroArchvistico: " + idCuadroArchvistico + ", Tipo: '@Model.Tipo', filtrarAgregados: '@Model.SoloAgregados'}",
                    dataType: "json",
                    contentType: "application/json",
                    type: "POST",
                    beforeSend: function () {
                        MostrarDdlMensajeCargando(ddlHijo);
                    },
                    success: function (data) {
                        CerrarDdlMensajeCargando(ddlHijo);
                        CargarDdl(ddlHijo, data);
                        ocultarMostrarSub(data.length);
                        
                        dispararChangePadre = false;

                        if (ddlHijo.val()) ddlHijo.change();
                    },
                    error: function (error) {
                        CerrarDdlMensajeCargando(ddlHijo);
                    }
                });
            } else {
                deshabilitarDependientes();
            }
        } 

        function deshabilitarDependientes() {
            ocultarMostrarSub(0);

            ddlHijo.empty();
            ddlHijo.change();
            ddlHijo.attr("disabled", "disabled");
        }

        function ocultarMostrarSub(dataLongitud) {
            if (ddlHijo.attr("id") === "IdSubfondo" || ddlHijo.attr("id") === "IdSubseccion" ||
                ddlHijo.attr("id") === "IdSubserie") {
                if (dataLongitud > 0)
                    ddlHijo.parent().parent().removeClass("hidden");
                else
                    ddlHijo.parent().parent().addClass("hidden");
            }
        }
    });
</script>
