﻿@model bool 
@using Datos

<script type="text/javascript" src="~/Content/js/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="~/Content/js/bootstrap-select/defaults-es_ES.js"></script>
<script type="text/javascript" src="/Scripts/jquery.tablesorter.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var $ddlEntidad = $("select[id$='IDEntidad']");

        var $ddlFondo = $("select[id$='IdFondo']");
        var $ddlMunicipio = $("select[id$='IDMunicipio']");
        var $ddlUsuario = $("select[id$='IDUsuario']");

        $ddlEntidad.change(function () {
            cargarFondoDdl($ddlEntidad.val());
            cargarMunicipioDdl($ddlEntidad.val());
            if ($ddlUsuario.length > 0) cargarUsuarioDdl($ddlEntidad.val());
        });

        function cargarFondoDdl(idEntidad) {
            if (!idEntidad) idEntidad = 0;

            if (idEntidad > 0 || '@Model' === 'True') {
                $.ajax({
                    url: '@Url.Action("ListaCuadroArchvistico", "Fondo", new { area = "Catalogo" })',
                    data: "{idCuadroArchvistico: 0, Tipo: '@TiposCuadroArchivistico.Fondo', filtrarAgregados: 'True', idEntidad: " + idEntidad + "}",
                    dataType: "json",
                    contentType: "application/json",
                    type: "POST",
                    beforeSend: function () {
                        MostrarDdlMensajeCargando($ddlFondo);
                    },
                    success: function (data) {
                        CerrarDdlMensajeCargando($ddlFondo);
                        CargarDdl($ddlFondo, data);

                        if ($ddlFondo.find("option").length === 2) {
                            $ddlFondo.find("option:last").attr("selected", "selected");
                        }

                        $ddlFondo.change();
                    },
                    error: function (error) {
                        CerrarDdlMensajeCargando($ddlFondo);
                    }
                });
            } else {
                deshabilitarFondo();
            }
        }

        function deshabilitarFondo() {
            $ddlFondo.empty();
            $ddlFondo.change();
            $ddlFondo.attr("disabled", "disabled");
        }

        function cargarMunicipioDdl(idEntidad) {
            if (!idEntidad) idEntidad = 0;

            if (idEntidad > 0 || '@Model' === 'True') {
                $.ajax({
                    url: '@Url.Action("ListaMunicipios", "Municipio", new { area = "Catalogo" })',
                    data: "{filtrarAgregados: 'True', idEntidad: " + idEntidad + "}",
                    dataType: "json",
                    contentType: "application/json",
                    type: "POST",
                    beforeSend: function () {
                        MostrarDdlMensajeCargando($ddlMunicipio);
                    },
                    success: function (data) {
                        CerrarDdlMensajeCargando($ddlMunicipio);
                        CargarDdl($ddlMunicipio, data);

                        if ($ddlMunicipio.find("option").length === 2) {
                            $ddlMunicipio.find("option:last").attr("selected", "selected");
                        }

                        $ddlMunicipio.change();
                    },
                    error: function (error) {
                        CerrarDdlMensajeCargando($ddlMunicipio);
                    }
                });
            } else {
                deshabilitarMunicipio();
            }
        }

        function deshabilitarMunicipio() {
            $ddlMunicipio.empty();
            $ddlMunicipio.change();
            $ddlMunicipio.attr("disabled", "disabled");
        }

        function cargarUsuarioDdl(idEntidad) {
            if (!idEntidad) idEntidad = 0;

            $.ajax({
                url: '@Url.Action("ListaUsuarios", "Usuario", new { area = "Catalogo" })',
                data: "{idEntidad: " + idEntidad + "}",
                dataType: "json",
                contentType: "application/json",
                type: "POST",
                beforeSend: function () {
                    MostrarDdlMensajeCargando($ddlUsuario);
                    $ddlUsuario.selectpicker('refresh');
                },
                success: function (data) {
                    CerrarDdlMensajeCargando($ddlUsuario);
                    CargarDdl($ddlUsuario, data);
                    $ddlUsuario.selectpicker('refresh');

                },
                error: function (error) {
                    CerrarDdlMensajeCargando($ddlUsuario);
                    $ddlUsuario.selectpicker('refresh');
                }
            });
        }
    });   
</script>

