﻿@model Datos.DTO.Infraestructura.ViewModels.PaginacionViewModel

<div class="center-div">
    <div class="btn-group">
        @{
            int cantidadPaginas;
            var paginaActual = Model.PaginaActual <= 0 ? 1 : Model.PaginaActual;
            var paginaInicioCiclio = paginaActual - (paginaActual % 10);

            if (paginaInicioCiclio == 0)
            {
                paginaInicioCiclio = 1;
            }

            if ((paginaActual + 10) > Model.Paginas)
            {
                cantidadPaginas = Model.Paginas;
            }
            else
            {
                cantidadPaginas = Math.Abs((paginaActual % 10) - 10) + paginaActual;
            }
        }

        @if ((paginaActual - 10) < 0)
        {
            <button type="submit" name="pagina" class="btn btn-white bold" disabled="disabled"><<</button>
            <button type="submit" name="pagina" class="btn btn-white bold" disabled="disabled"><</button>
        }
        else
        {
            <button type="submit" name="pagina" value="1" class="btn btn-white bold" title="Primero"><<</button>
            <button type="submit" name="pagina" value="@(Math.Abs(paginaActual - 10))" class="btn btn-white bold" title="10 Anteriores"><</button>
        }

        @for (var i = paginaInicioCiclio; i <= cantidadPaginas; i++)
        {
            if (Model.PaginaActual == i)
            {
                <input type="submit" class="btn btn-primary active" name="pagina" value="@i" />
            }
            else
            {
                <input type="submit" class="btn btn-white" name="pagina" value="@i" />
            }
        }

        @if (paginaActual == Model.Paginas)
        {
            <button type="submit" name="pagina" class="btn btn-white bold" disabled="disabled">></button>
            <button type="submit" name="pagina" class="btn btn-white bold" disabled="disabled">>></button>
        }
        else
        {
            if (cantidadPaginas < 10) { cantidadPaginas = cantidadPaginas - 1; }
            <button type="submit" name="pagina" value="@(cantidadPaginas + 1)" class="btn btn-white bold" title="Siguientes 10">></button>
            <button type="submit" name="pagina" value="@(Model.Paginas)" class="btn btn-white bold" title="Último">>></button>
        }
    </div>
</div>