﻿@using Presentacion.Helpers

@model Datos.Menu

@{
    ViewBag.Title = Resources.General.GuardarMenu;
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8 col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            @if (Model?.IDMenu > 0)
                            {
                                <h5>Editar datos de la opción del menú</h5>
                            }
                            else
                            {
                                <h5>Datos de la nueva opción del menú</h5>
                            }
                        </div>
                    </div>
                </div>
                <div class="ibox-content form-horizontal">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Opcion, "Opción")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Opcion, new { @class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max50", maxlength = "50" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Controlador, "Controlador")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Controlador, new { @class = "form-control input-sm", @data_validation = "length", @data_validation_length = "max50", maxlength = "50" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Accion, "Acción")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Accion, new { @class = "form-control input-sm", @data_validation = "length", @data_validation_length = "max50", maxlength = "50" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Area, "Área")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Area, new { @class = "form-control input-sm", @data_validation = "length", @data_validation_length = "max50", maxlength = "50" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Destino, "Destino")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Destino, new { @class = "form-control input-sm", @data_validation = "length", @data_validation_length = "max60", maxlength = "60" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Visible, "Visible")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <div class="i-checks">
                                <label class="">
                                    <span class="icheckbox_square-green" style="position: relative;">
                                        @Html.CheckBoxFor(m => m.Visible, new { @class = "form-control input-sm" })
                                        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                    </span>
                                    <i></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="divIcono">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.IconoCss, "Icono")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <i id="icono"></i>
                            @Html.HiddenFor(m => m.IconoCss, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="pull-right">
                                @Html.ActionLinkCifradoConTexto(Resources.General.Regresar, "Index", "Menu", "Configuracion", "btn btn-default btn-sm", "fa fa-angle-double-left", new Dictionary<string, int>())
                                <button class="btn btn-primary btn-sm">
                                    <i class="fa fa-save"></i> @Resources.General.Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Html.Partial("Menu/_IconosMenu")

<!-- Footer Scripts -->
@section FooterScripts {
    <script type="text/javascript">
        $.validate({
            language: es,
            modules: 'security'
        });
    </script>
}
<!-- End Footer Scripts -->

<!-- $(document).on("ready") Scripts -->
<script type="text/javascript">
@section DocumentOnReady { 
    $(function () {
        var mdlIcono = $("#mdlIconos");
        var destinoArea = "/{Area}/{Controlador}/{Accion}";
        var destinoControlador = "/{Controlador}/{Accion}";
        var destinoAccion = "/{Accion}";

        var $controlador = $("#@Html.IdFor(m => m.Controlador)");
        var $accion = $("#@Html.IdFor(m => m.Accion)");
        var $area = $("#@Html.IdFor(m => m.Area)");
        var $destino = $("#@Html.IdFor(m => m.Destino)");
        var $icono = $("#@Html.IdFor(m => m.IconoCss)");
        var icono = $("#icono");

        $("#divIcono").hide();
        cargarIconoMenu($icono.val());

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        $controlador.change(function () {
            escribirDestino($area.val(), $controlador.val(), $accion.val());
        });

        $controlador.keyup(function () {
            escribirDestino($area.val(), $controlador.val(), $accion.val());
        });

        $accion.change(function () {
            escribirDestino($area.val(), $controlador.val(), $accion.val());
        });

        $accion.keyup(function () {
            escribirDestino($area.val(), $controlador.val(), $accion.val());
        });

        $area.change(function () {
            escribirDestino($area.val(), $controlador.val(), $accion.val());
        });

        $area.keyup(function () {
            escribirDestino($area.val(), $controlador.val(), $accion.val());
        });

        function escribirDestino(area, controlador, accion) {
            if (area) {
                $destino.val(destinoArea.format({
                    Area: area,
                    Controlador: controlador,
                    Accion: accion
                }));
            } else if (controlador) {
                $destino.val(destinoControlador.format({
                    Controlador: controlador,
                    Accion: accion
                }));
            } else if (accion) {
                $destino.val(destinoAccion.format({
                    Accion: accion,
                }));
            }
        }

        $destino.change(function () {
            verificarEsRaiz();
        });

        $destino.focusout(function () {
            verificarEsRaiz();
        });

        function verificarEsRaiz() {
            var id = ObtenerParametro("idMenuPadre");
            $.ajax({
                url: '@Url.Action("ComprobarMenuPadre", "Menu", new { area = string.Empty })',
                data: "{idPadre:'" + id + "'}",
                type: 'POST',
                contentType: "application/json",
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        if ($destino.val() != "")
                            mdlIcono.modal();
                    } else {
                        $("#divIcono").hide("toggle");
                        $icono.val("");
                    }
                },
                error: function () {
                    mostrarAlert('OCURRIO UN ERROR AL INTENTAR COMPROBAR EL MENÚ PADRE , VUELVA A INTENTARLO O RECARGUE LA PÁGINA.', 'danger');
                }
            });
        }

        icono.click(function () {
            mdlIcono.modal();
        });

        $(".infont a").click(function (e) {
            var claseIcono = $(this).find("i").attr("class");

            mdlIcono.modal('hide');
            cargarIconoMenu(claseIcono);
            e.preventDefault();
        });

        function cargarIconoMenu(claseIcono) {
            if (claseIcono != "") {
                icono.removeClass();
                icono.addClass("f-s-50 fa " + claseIcono);
                $icono.val(claseIcono);

                $("#divIcono").show("toggle");
            }
        }
    });
}
</script>
<!-- End $(document).on("ready") Scripts -->