﻿@using Datos.Enums;
@using Presentacion.Helpers;

@model Datos.DTO.Infraestructura.ViewModels.MenuViewModel

@{
    ViewBag.Title = Resources.General.Menu;
}

@* Contenedor Principal *@
@using (Html.BeginForm())
{
<div class="tarjeta">
    @{ Html.EnableClientValidation(false); }
    
    @if (!string.IsNullOrEmpty(Model.NombreTipoGestion))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h3>
                        @Model.TipoGestion: @Model.NombreTipoGestion
                    </h3>
                    <hr />
                </div>
            </div>
        </div>
    }

    @* Asignar menú personalizado a usuario *@
    @if (Model.TipoGestion == Enumerados.GestionMenu.Usuario)
    {
    <div class="col-md-12">
        <div id="divActivaMenuPersonalizado" class="col-md-12">
            <div class="col-md-12 col-sm-12 col-xs-12 p-lateral-0">

                <div class="pull-right">
                    <div class="checkbox checkbox-success">
                        @Html.CheckBoxFor(m => m.EsMenuPersonalizado, new {id = "idMenuPersonalizado"})
                        @*@Html.LabelFor(m => m.EsMenuPersonalizado)*@
                        <label><strong>EsMenuPersonalizado</strong></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 pull-right">
        <div class="col-md-12">
            <div id="divCopiarMenu" class="col-md-12 p-lateral-0">
                @*<div class="col-md-12 p-lateral-0">
                        <label>@Resources.General.CopiarMenuDe</label>
                        <div class="input-group col-md-12">
                            @if (Model.EsMenuPersonalizado)
                            {
                                @Html.DropDownList("roles", RolRepositorio.Buscar(), new { @class = "form-control input-sm" })
                                <span class="input-group-btn">
                                    <input type="submit" class="btn btn-primary btn-sm" value="@Resources.General.CopiarMenu" />
                                </span>
                            }
                            else
                            {
                                @Html.DropDownList("roles", RolRepositorio.Buscar(), new { @class = "form-control input-sm", disabled = true })
                                <span class="input-group-btn">
                                    <input type="submit" class="btn btn-primary btn-sm" value="@Resources.General.CopiarMenu" disabled/>
                                </span>
                            }
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
    }

    @* Filtros de Búsqueda *@
    <div class="row">
        <div class="col-xs-12 col-md-6 form-horizontal">
            <div class="col-xs-12 col-md-12 form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12 col-md-3">
                        <label for="txtOpcion">@Resources.General.Opcion:</label>
                    </div>
                    <div class="col-xs-12 col-md-9">
                        @Html.TextBoxFor(m => m.Menu.Opcion, new { @class = "form-control input-sm", @id = "txtOpcion" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12 col-md-3">
                        @*@Html.LabelFor(m => m.Puesto.Habilitado)*@
                    </div>
                    <div class="col-xs-12 col-md-9">
                        <div class="checkbox checkbox-success">
                            @Html.CheckBoxFor(m => m.Menu.Habilitado, new { @id= "cbxHabilitados" })
                            <label for="cbxHabilitados">Habilitados</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 form-horizontal">
            <div class="col-md-12">
                
                @if (Model.TipoGestion == Enumerados.GestionMenu.Menu)
                {
                    @Html.ActionLinkCifradoConTexto(Resources.General.Nuevo, "Guardar", "Menu", "Configuracion", "btn btn-sm btn-default m-l-10 pull-right", "fa fa-plus", new Dictionary<string, int> { { "idMenuPadre", Model.IdPadre } })
                }
                <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> @Resources.General.Buscar</button>
            </div>
        </div>
    </div>
    @* Breadcrum y total encontrados *@
    <div class="row">
        <div class="col-xs-12 col-md-9 form-horizontal">
            <div class="col-xs-12 col-md-12 form-horizontal">
                <span class="h4">@Resources.General.Ruta</span>
                <ul class="breadcrumb f-s-14">
                    @foreach (var menu in Model.MenuBreadcrum)
                {
                        <li>
                            @Html.ActionLinkCifrado(menu.Nombre, "Index", "Menu", "Configuracion", new Dictionary<string, int> { { "idMenuPadre", menu.Id } })
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 form-horizontal">
            <div class="col-xs-12 col-md-12 form-horizontal text-right">
                <label class="@Html.Raw(Model.MenuTabla.Count == 0 ? "label label-danger" : "label label-success")">
                    Encontrados: @Model.MenuTabla.Count
                </label>
            </div>
        </div>
    </div>
    @* Tabla de Resultados *@
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="table-responsive no-borders">
                <table class="table table-hover table-striped min-w-700" id="tblEntontrados">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 5%;">#</th>
                            <th>Opción</th>
                            <th>@Html.DisplayNameFor(m => m.Menu.Destino)</th>
                            <th class="text-center" style="width: 10%;">@Html.DisplayNameFor(m => m.Menu.Visible)</th>
                            <th class="text-center" style="width: 18%;">@Resources.General.Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var menu in Model.MenuTabla)
                        {
                            <tr>
                                <td class="text-center">@menu.Indice</td>
                                <td>
                                    @Html.ActionLinkCifrado(menu.Opcion, "Index", "Menu", "Configuracion", new Dictionary<string, int> { { "idMenuPadre", menu.IDMenu } })
                                </td>
                                <td>@menu.Destino</td>
                                <td class="text-center">
                                    @if (menu.Visible)
                                    { <i class="fa fa-check"></i> }
                                    else
                                    { <i class="fa fa-times"></i> }
                                </td>
                                <td class="text-center">
                                    @* Si se accede desde Asignar Menú Rol y Se No tiene asignado el menú *@
                                    @if ((Model.TipoGestion == Enumerados.GestionMenu.Rol || Model.EsMenuPersonalizado) && !menu.PoseeOpcionMenu)
                                    {
                                        @Html.ActionLinkCifrado(Resources.General.Agregar, "Agregar", "Menu", "Configuracion", "btn btn-primary btn-circle", "fa fa-plus", new Dictionary<string, int> { { "idMenu", menu.IDMenu }, { "idMenuPadre", menu.Padre } })
                                    }

                                    @* Si se accede desde Asignar Menú Rol y Se Si tiene asignado el menú *@
                                    @if ((Model.TipoGestion == Enumerados.GestionMenu.Rol || Model.EsMenuPersonalizado) && menu.PoseeOpcionMenu)
                                    {
                                        @Html.ActionLinkCifrado(Resources.General.Quitar, "Quitar", "Menu", "Configuracion", "btn btn-danger btn-circle", "fa fa-minus", new Dictionary<string, int> { { "idMenu", menu.IDMenu }, { "idMenuPadre", menu.Padre } })
                                    }

                                    @* Si se accede desde Gestionar Menú y el menú está habilitado *@
                                    @if (Model.TipoGestion == Enumerados.GestionMenu.Menu && menu.Habilitado)
                                    {
                                        @Html.ActionLinkCifrado(Resources.General.Modificar, "Guardar", "Menu", "Configuracion", "btn btn-warning btn-circle", "fa fa-pencil", new Dictionary<string, int> { { "idMenu", menu.IDMenu } })

                                        if (menu.Indice < Model.MenuTabla.Count)
                                        {
                                            @Html.ActionLinkCifrado("Bajar", "BajarNivel", "Menu", "Configuracion", "btn btn-success btn-circle m-l-2", "fa fa-chevron-down", new Dictionary<string, int> { { "idMenu", menu.IDMenu }, { "idMenuPadre", menu.Padre } });
                                        }
                                        if (menu.Indice == 1)
                                        {
                                            <a class="btn btn-default btn-circle m-r-0 m-l-0" href="#" title="Subir"><i class="fa fa-chevron-up"></i></a>
                                        }
                                        if (menu.Indice == Model.MenuTabla.Count)
                                        {
                                            <a class="btn btn-default btn-circle m-r-0 m-l-0" href="#" title="Bajar"><i class="fa fa-chevron-down"></i></a>
                                        }
                                        if (menu.Indice > 1)
                                        {
                                            @Html.ActionLinkCifrado("Subir", "SubirNivel", "Menu", "Configuracion", "btn btn-success btn-circle m-l-2", "fa fa-chevron-up", new Dictionary<string, int> { { "idMenu", menu.IDMenu }, { "idMenuPadre", menu.Padre } });
                                        }

                                        @Html.ActionLinkCifrado(Resources.General.Deshabilitar, "Deshabilitar", "Menu", "Configuracion", "btn btn-danger btn-circle m-r-2 m-l-2", "fa fa-times", new Dictionary<string, int> { { "idMenu", menu.IDMenu }, { "idMenuPadre", menu.Padre } }, new { @id = "btnEliminar", @name = menu.IDMenu });
                                    }

                                    @* Si se accede desde Gestionar Menú y el menú está deshabilitado *@
                                    @if (Model.TipoGestion == Enumerados.GestionMenu.Menu && !menu.Habilitado)
                                    {
                                        @Html.ActionLinkCifrado(Resources.General.Habilitar, "Habilitar", "Menu", "Configuracion", "btn btn-primary btn-circle", "fa fa-check", new Dictionary<string, int> { { "idMenu", menu.IDMenu }, { "idMenuPadre", menu.Padre } })
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}

<!-- $(document).on("ready") Scripts -->
<script type="text/javascript">
@section DocumentOnReady { 

    $("#cbxHabilitados").prop("checked", function () {
        var habilitadoModelo = "@Html.Raw(Model.Habilitado)";
        var habilitadoUrl = ObtenerParametro("habilitado");

        return habilitadoUrl == "true"
            ? habilitadoModelo == "True" ? true : false
            : habilitadoUrl == "false"
            ? habilitadoModelo == "True" ? true : false
            : habilitadoUrl == ""
            ? habilitadoModelo == "True" ? true : false
            : false;
    });

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green'
    });

    $(document).off("click", "#btnEliminar");
    $(document).on("click", "#btnEliminar", function (e) {

        var href = this.href;

        e.preventDefault();
        swal({
            title: "¡Atención!",
            text: "¿Esta seguro que desea deshabilitar este menú?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Aceptar",
            closeOnConfirm: false
        },
        function () {
            window.location.href = href;
            return true;
        });
    });
}
</script>
<!-- End $(document).on("ready") Scripts -->