﻿@using Datos.Recursos
@using Presentacion.Helpers
@using Sistema


@model Datos.DTO.Infraestructura.ViewModels.RolViewModel

@{
    ViewBag.Title = Resources.General.BuscarRol;
}

@using (@Html.BeginForm())
{
    <div class="tarjeta">
        @{ Html.EnableClientValidation(false); }
        <div class="row">
            <div class="col-xs-12 col-md-6 form-horizontal">
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            @Html.LabelFor(m => m.Rol.Nombre)
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.Rol.Nombre, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">

                        </div>
                        <div class="col-xs-12 col-md-9">
                            <div class="checkbox checkbox-success">
                                @Html.CheckBoxFor(m => m.Rol.Habilitado, new { @checked = true })
                                @Html.LabelFor(m => m.Rol.Habilitado)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 form-horizontal">
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="Rol_Descripcion">Descripción</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.Rol.Descripcion, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12">
                    @Html.ActionLinkCifradoConTexto(Resources.General.Nuevo, "Guardar", "Rol", "Configuracion", "btn btn-sm btn-default m-l-10 pull-right", "fa fa-plus")
                    <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> @Resources.General.Buscar</button>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-xs-12 col-md-12 form-horizontal">
                <div class="col-md-12">
                    <div class="col-md-9 bold">
                        
                    </div>
                    <div class="col-md-3 text-right">
                        <label class="@Html.Raw(Model.Roles.Count == 0 ? "label label-danger" : "label label-success")">
                            @General.Encontrados: @Model.Roles.Count
                        </label>
                    </div>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="table-responsive no-borders">
                    <table id="tblBusqueda" class="table table-hover table-striped min-w-600">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Rol.Nombre)</th>
                                <th>Descripción</th>
                                <th>Página de Inicio</th>
                                <th class="text-center">@Resources.General.Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var rol in Model.Roles)
                            {
                                <tr>
                                    <td>@rol.Nombre</td>
                                    <td>@rol.Descripcion</td>
                                    <td>
                                        @foreach (var menu in rol.MenuInicio)
                                        {
                                            if (menu.IDMenu == rol.PaginaInicio)
                                            {
                                                @menu.Opcion;
                                            }
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (rol.Habilitado)
                                        {
                                            @Html.ActionLinkCifrado(Resources.General.GestionarRol, "Index", "Menu", "Configuracion",
                                                        "btn btn-success btn-circle m-l-2 m-r-2", "fa fa-bars",
                                                        new Dictionary<string, int> { { "idRol", rol.IDRol } })

                                            @Html.ActionLinkCifrado(Resources.General.Modificar, "Guardar", "Rol", "Configuracion",
                                                        "btn btn-warning btn-circle m-l-2 m-r-2", "fa fa-pencil",
                                                        new Dictionary<string, int> { { "idRol", rol.IDRol } })

                                            @Html.ActionLinkCifrado(Resources.General.Deshabilitar, "Deshabilitar", "Rol", "Configuracion",
                                                            "btn btn-danger btn-circle m-l-2 m-r-2 deshabilitar", "fa fa-times",
                                                            new Dictionary<string, int> { { "idRol", rol.IDRol } }, new { @id = "btnEliminar", @name = rol.IDRol })
                                        }
                                        else
                                        {
                                            @Html.ActionLinkCifrado(Resources.General.Habilitar, "Habilitar", "Rol", "Configuracion",
                                                            "btn btn-primary btn-circle habilitar", "fa fa-check",
                                                            new Dictionary<string, int> { { "idRol", rol.IDRol } })
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
    @*@Html.Partial("Controls/_ModalHabilitar")*@
}

<!-- $(document).on("ready") Scripts -->
<script type="text/javascript">
@section DocumentOnReady { 
    $("#tblBusqueda").tablesorter();

    // Eventos
    $(document).off("click", "#btnEliminar");
    $(document).on("click", "#btnEliminar", function (e) {

        var href = this.href;

        e.preventDefault();
        swal({
            title: "¡Atención!",
            text: "¿Esta seguro que desea deshabilitar este Rol?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Aceptar",
            closeOnConfirm: false
        },
        function () {
            window.location.href = href;
            return true;
        });
    });
}
</script>
<!-- End $(document).on("ready") Scripts -->