﻿@using Datos
@using Datos.Recursos
@using Datos.Repositorios.Configuracion
@using Presentacion.Helpers
@using Sistema.Extensiones

@model Datos.DTO.Infraestructura.ViewModels.CuadroArchivisticoViewModel

@{
    ViewBag.Title = Resources.General.BuscarSubseccion;
}

@using (Html.BeginForm())
{
    <div class="tarjeta">
        @{ Html.EnableClientValidation(false); }
        <div class="row">
            <div class="col-xs-12 col-md-6 form-horizontal">
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="Clave">Clave:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.CuadroArchivistico.Clave, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">

                        </div>
                        <div class="col-xs-12 col-md-9">
                            <div class="checkbox checkbox-success">
                                @Html.CheckBoxFor(m => m.CuadroArchivistico.Habilitado)
                                @Html.LabelFor(m => m.CuadroArchivistico.Habilitado)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 form-horizontal">
                @if (Model.CuadroArchivistico.IDPadreCuadroArchivistico == 0)
                {
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="IdFondo">Fondo:</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @{
                                    var fondos = CuadroArchivisticoRepositorio.BuscarTipo(TiposCuadroArchivistico.Fondo);
                                    if (fondos.Count == 2) { Model.IdFondo = fondos.Last().Value.ToInt(); }
                                }
                                @Html.DropDownListFor(m => m.IdFondo, fondos, new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group @(Model.IdFondo > 0 ? string.Empty : "hidden")">
                            <div class="col-xs-12 col-md-3">
                                Subfondo:
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.CuadroArchivisticoDdl(m => m.IdSubfondo, Model.IdFondo, TiposCuadroArchivistico.Subfondo)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="IdSeccion">Seccion:</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.CuadroArchivisticoDdl(m => m.IdSeccion, Model.IdSubfondo, TiposCuadroArchivistico.Seccion)
                            </div>
                        </div>
                    </div>
                }
                <div class="col-xs-12 col-md-12">
                    @Html.ActionLinkCifradoConTexto("Nuevo", "Guardar", "Subseccion", "Catalogo",
                        "btn btn-sm btn-default pull-right m-l-5", "fa fa-plus",
                        new Dictionary<string, int> {{"IdPadre", Model.CuadroArchivistico.IDPadreCuadroArchivistico ?? 0 } })
                    <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> @Resources.General.Buscar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 m-t-10 m-b-10 ">
                <div class="col-md-6 bold">
                    @Html.DropDownListFor(m => m.TamanoPagina, Sistema.Listas.ObtenerListaCantidadPagina())
                    @Resources.General.TamanoPagina
                </div>
                <div class="col-md-6 text-right">
                    <label class="label label-success">
                        @Resources.General.Encontrados: @Model.TotalEncontrados
                    </label>
                </div>
            </div>
        </div>
        @if (Model.CuadroArchivistico.IDPadreCuadroArchivistico > 0)
        {
            <div class="row">
                <div class="col-xs-12 col-md-9 form-horizontal">
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <ul class="breadcrumb f-s-14">
                            <li>
                                @Html.ActionLinkCifradoConTexto("Cuadro Archivístico", "Index", "Fondo", "Catalogo", string.Empty, string.Empty)
                            </li>
                            @foreach (var migaja in Model.ObtenerRuta())
                            {
                                <li>
                                    @Html.ActionLinkCifradoConTexto(migaja.Nombre, "Index", migaja.Tipo, "Catalogo", string.Empty,
                                        string.Empty, new Dictionary<string, int> { { "idPadre", migaja.Id } })
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="table-responsive no-borders">
                    <table class="table table-hover table-striped min-w-700" id="tblBusqueda">
                        <thead>
                        <tr>
                            <th>Subsección</th>
                            <th>Seccion</th>
                            <th class="hidden subfondo">Subfondo</th>
                            <th>Fondo</th>
                            <th>Fecha de creacion</th>
                            <th>Fecha de modificacion</th>
                            <th class="text-center">@Resources.General.Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model != null)
                        {
                            Model.ExisteSubfondo = false;

                            foreach (var cuadroArchivistico in Model.CuadroArchivisticos)
                            {
                                cuadroArchivistico.GenerarJerarquia();
                                var subseccion = cuadroArchivistico.CuadroArchivistico;

                                var seccion = Model.ObtenerTipo(subseccion, TiposCuadroArchivistico.Seccion);
                                var subfondo = Model.ObtenerTipo(subseccion, TiposCuadroArchivistico.Subfondo);
                                var fondo = Model.ObtenerTipo(subseccion, TiposCuadroArchivistico.Fondo);

                                if (subfondo != null) { Model.ExisteSubfondo = true; }

                                <tr>
                                    <td>
                                        <strong>@subseccion.Clave</strong>
                                        <br/>
                                        @subseccion.Nombre
                                    </td>
                                    <td>@seccion.Nombre</td>
                                    <td class="hidden subfondo">@(subfondo != null ? subfondo.Nombre : string.Empty)</td>
                                    <td>@fondo.Nombre</td>
                                    <td>@subseccion.FechaCreacion.Date.ToString("d")</td>
                                    <td>@subseccion.FechaModificado.Date.ToString("d")</td>
                                    <td class="text-center">
                                        @if (subseccion.Habilitado)
                                        {
                                            @Html.ActionLinkCifrado(General.Modificar, "Guardar", "Subseccion", "Catalogo",
                                                "btn btn-warning btn-circle m-l-2 m-r-2", "fa fa-pencil",
                                                new Dictionary<string, int> {
                                                    { "IDCuadroArchivistico", subseccion.IDCuadroArchivistico},
                                                    { "IdPadre", Model.IdPadre.DecodeFrom64().TryToInt()}
                                                })

                                            @Html.ActionLinkCifrado(Resources.General.Deshabilitar, "Deshabilitar", "Subseccion", "Catalogo",
                                                "btn btn-danger btn-circle m-l-2 m-r-2 deshabilitar", "fa fa-times",
                                                new Dictionary<string, int>
                                                {
                                                    { "IDCuadroArchivistico", subseccion.IDCuadroArchivistico },
                                                    { "IdPadre", Model.IdPadre.DecodeFrom64().TryToInt() }
                                                }, new { @id = "btnEliminar", @name = subseccion.IDCuadroArchivistico })
                                        }
                                        else
                                        {
                                            @Html.ActionLinkCifrado(Resources.General.Habilitar, "Habilitar", "Subseccion", "Catalogo",
                                                "btn btn-primary btn-circle habilitar", "fa fa-check",
                                                new Dictionary<string, int> { { "IDCuadroArchivistico", subseccion.IDCuadroArchivistico },
                                                    { "IdPadre", Model.IdPadre.DecodeFrom64().TryToInt() } })
                                        }
                                        <a class="btn btn-success btn-circle" title="Ver subsecciones"
                                           href="@Url.Action("Index", "Serie", new {idPadre = subseccion.IDCuadroArchivistico.ToString().EncodeTo64()})">
                                            Se
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                <div>
                    @Html.Partial("Controls/_Paginacion", Model)
                </div>
            </div>
        </div>
    </div>
                   
}

<script type="text/javascript">
    @section DocumentOnReady
    {
        @if (Model.ExisteSubfondo)
        {
            @:$(".hidden.subfondo").removeClass("hidden");
        }

    $("#tblBusqueda").tablesorter();

    $(document).off("click", "#btnEliminar");
    $(document).on("click", "#btnEliminar", function (e) {

        e.preventDefault();
        var href = this.href;

        swal({
            title: "¡Atención!",
            text: "¿Esta seguro que desea deshabilitar esta Subseccion?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Aceptar",
            closeOnConfirm: false
        },
        function () {
            window.location.href = href;
            return true;
        });
    });
}
</script>

