﻿@using Datos
@using Datos.Repositorios.Configuracion
@using Presentacion.Helpers
@using Resources
@using Sistema.Extensiones
@model Datos.DTO.Infraestructura.ViewModels.GuardarCuadroArchivisticoViewModel

@{
    ViewBag.Title = General.GuardarSerie;
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8 col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            @if (Model?.CuadroArchivistico.IDCuadroArchivistico > 0)
                            {
                                <h5>Editar datos de la nueva serie</h5>
                            }
                            else
                            {
                                <h5>Datos de la nueva serie</h5>
                            }
                        </div>
                    </div>
                </div>
                <div class="ibox-content form-horizontal">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.CuadroArchivistico.Clave, "Clave")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.CuadroArchivistico.Clave, new { @class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max10", maxlength = "10" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.CuadroArchivistico.Nombre, "Nombre")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.CuadroArchivistico.Nombre, new { @class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max80", maxlength = "80" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <label for="Fondo">Fondo:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @{
                                var fondos = CuadroArchivisticoRepositorio.BuscarTipo(TiposCuadroArchivistico.Fondo);
                                if (fondos.Count == 2) { Model.IdFondo = fondos.Last().Value.ToInt(); }
                            }
                            @Html.DropDownListFor(m => m.IdFondo, fondos, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="row @(Model.IdFondo > 0 ? string.Empty : "hidden")">
                        <div class="col-xs-12 col-md-3">
                            <label for="IdSubFondo">Subfondo:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.CuadroArchivisticoDdl(m => m.IdSubfondo, Model.IdFondo, TiposCuadroArchivistico.Subfondo)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <label for="IdSeccion">Sección:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.CuadroArchivisticoDdl(m => m.IdSeccion, Model.IdSubfondo > 0 ? Model.IdSubfondo : Model.IdFondo, TiposCuadroArchivistico.Seccion)
                        </div>
                    </div>
                    <div class="row @(Model.IdSeccion > 0 ? string.Empty : "hidden")">
                        <div class="col-xs-12 col-md-3">
                            <label for="IdSubseccion">Subsección:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.CuadroArchivisticoDdl(m => m.IdSubseccion, Model.IdSeccion, TiposCuadroArchivistico.Subseccion)
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="pull-right">
                                @Html.ActionLinkCifradoConTexto(General.Regresar, "Index", "Serie", "Catalogo",
                                    "btn btn-default btn-sm", "fa fa-angle-double-left",
                                    new Dictionary<string, int>
                                    {
                                        { "idPadre", Model.IdPadre },
                                        { "idEntidad", ViewBag.IdEntidadRegresar }
                                    })
                                <button class="btn btn-primary btn-sm">
                                    <i class="fa fa-save"></i> @Resources.General.Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section FooterScripts{
    <script type="text/javascript">
        $.validate({
            language: es
        });
    </script>
}