﻿.action-menu {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    /* box-shadow: 0px 0px 3px 2px #ddd; */
    padding: 3px;
    position: absolute;
    float: left;
    margin-left: -150px;
    margin-top: -30px;
}
.action-menu:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    float: right;
    right: -15px;
    top: 6px;
}
.action-menu:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 0 11px 16px;
    border-color: transparent transparent transparent #ddd;
    position: absolute;
    float: right;
    right: -16px;
    top: 5px;
}
.action-menu ul {
    list-style: none;
    padding: 0;
    margin: 2px;
}
.action-menu ul li {
    display: inline-block;
}
