table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

caption, th {
    text-align: left;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

p {
    margin: 0;
}

/* optional Container STYLES */
.chart {
    height: 400px;
    margin: 5px;
    width: 100%;
    margin: 5px auto;
    border-radius: 3px;
}

.Treant > .node {
}

.Treant > p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.node-name {
    font-weight: bold;
}

.node-desc {
    margin-right: 10px;
}

.nodos {
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #000;
    width: 250px;
    font-family: Tahoma;
    font-size: 12px;
}

    .nodos img {
        margin-right: 10px;
        width: 64px;
        height: 70px;
    }
