﻿
.ui-datepicker-month,
.ui-datepicker-year {
    color: #000;
}
.checkbox-success input[type="checkbox"]:checked + input[type="hidden"] + label::before, 
.checkbox-success input[type="radio"]:checked+ input[type="hidden"] + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + input[type="hidden"] + label::before, 
.checkbox-success input[type="radio"]:checked + input[type="hidden"] + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + input[type="hidden"] + label::after, 
.checkbox-success input[type="radio"]:checked + input[type="hidden"] + label::after {
    color: #fff;
}
.checkbox input[type="checkbox"]:checked + input[type="hidden"] + label::after, 
.checkbox input[type="radio"]:checked + input[type="hidden"] + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}
.checkbox-success input[type="checkbox"]:checked + input[type="hidden"] + label::after, 
.checkbox-success input[type="radio"]:checked + input[type="hidden"] + label::after {
    color: #fff;
}
.checkbox input[type="checkbox"]:checked + input[type="hidden"] + label::after, 
.checkbox input[type="radio"]:checked + input[type="hidden"] + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}

.center-div {
    display: table;
    margin: 0 auto;
}

.contact-box.center-version {
    text-align: center;
}

#imgFotoEmpleado {
    width: 150px;
    height: 150px;
}

.label {
    font-family: "Arial";
    font-size: 11px;
}

.label-warning {
    background-color: red;
}

.input-validation-error {
    border: 1px solid red;
}

.form-group {
    margin-bottom: 5px !important;
}

.form-horizontal > .row {
    margin-bottom: 5px !important;
}

.form-control {
    padding: 0px 12px;
}

.btn-circle {
    width: 24px;
    height: 24px;
    padding: 3px 0px;
}

.table > thead > tr > th, .table > tbody > tr > th, 
.table > tfoot > tr > th, .table > thead > tr > td, 
.table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 4px 8px;
}

/*****************************************************/
/********************** ACCESO ***********************/
/*****************************************************/

.logo-upper-left {
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #AAA;
    box-shadow: 0px 0px 15px #333;
    position: absolute;
    float: left;
    width: 100%;
    z-index: 1;
}

.img-logo-inferior-izquierdo {
    width: 35%;
    height: auto;
    position: absolute;
    left: 0;
}

.img-logo-inferior-derecho {
    width: 35%;
    height: auto;
    position: absolute;
    right: 0;
}

.loginscreen.middle-box {
    width: 400px;
}

.middle-box {
    padding-top: 0;
}

.cbl label {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}

.cbl input[type="checkbox"] {
    margin-top: 0;
}

.imgs-logos-80, .imgs-logos-50 {
    width: auto;
}

.imgs-logos-80 {
    height: 80px;
}

.imgs-logos-50 {
    height: 50px;
}

.div-logos {
    position: absolute;
    top: 10px;
    left: 10px;
}

.informacion {
    background-color: #F3F3F4;
}

#divEmpleados {
    max-height: 380px;
    overflow-y: auto;
}

.footer-info {
    border-top: 1px solid #AAA;
    box-shadow: 0px -1px 15px #333;
    text-align: center;
    font-size: 8pt;
}
.text-red,
.text-green,
.text-orange {
    text-shadow: 0 0 4px #888;
}
.text-red {
    color: #000;
}
.text-green {
    color: #000;
}
.text-orange {
    color: #000;
}

/*****************************************************/
/********************** TABLAS ***********************/
/*****************************************************/
th {
    border: none !important;
    background-color: #FFF !important;
    padding: 12px 6px !important;
}

.nombreEmpleado>div {
    display: none;        
}

.nombreEmpleado:hover>div {
    display: block;
    position: fixed;
    left: 20%;
    z-index: 999;
}

.tab-caratula {
    min-height: 510px;
}

.tab-caratula2 {
    min-height: 110px;
}

.pull-right .dropdown-menu:after {
    left: auto;
    right: 13px;
}
.pull-right .dropdown-menu {
    left: auto;
    right: 0;
}