﻿/*basic reset*/
* {margin: 0; padding: 0;}

/*Hide all except first fieldset*/
fieldset:not(:first-of-type) {
	display: none;
}

/*headings*/
.fs-title {
	color: #676a6c;
	margin-bottom: 15px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #676a6c;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
    text-align: center;
	list-style-type: none;
	color: #676a6c;
	text-transform: uppercase;
	font-size: 10px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 12px;
	color: #18A689;
	background: white;
	border-radius: 3px;
	margin: 0 auto 0 auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: calc(100% - 20px);
	height: 4px;
	background: white;
	position: absolute;
    left: calc(-50% + 10px);
	top: 8px;
	z-index: 0; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	font-size: 15px;
    font-weight: bold;
	background: #18A689;
	color: white;
}