﻿@using Datos.Recursos
@using Presentacion.Helpers
@using Sistema.Extensiones

@model Datos.DTO.Infraestructura.ViewModels.CuadroArchivisticoViewModel

@{
    ViewBag.Title = Resources.General.BuscarFondo;
}

@using (Html.BeginForm())
{
    <div class="tarjeta">
        <div class="row">
            <div class="col-xs-12 col-md-6 form-horizontal">
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="Fondo">Clave:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.CuadroArchivistico.Clave,new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <div class="checkbox checkbox-success">
                                @Html.CheckBoxFor(m => m.CuadroArchivistico.Habilitado)
                                @Html.LabelFor(m => m.CuadroArchivistico.Habilitado)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 form-horizontal">
                <div class="col-xs-12 col-md-12">
                    <a class="btn btn-sm btn-default m-l-10 pull-right" href="@Url.Action("Guardar", "Fondo", new { @area = "Catalogo" })"><i class="fa fa-plus"></i> Nuevo</a>
                    <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> @Resources.General.Buscar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 m-t-10 m-b-10 ">
                <div class="col-md-6 bold">
                    @Html.DropDownListFor(m => m.TamanoPagina, Sistema.Listas.ObtenerListaCantidadPagina())
                    @Resources.General.TamanoPagina
                </div>
                <div class="col-md-6 text-right">
                    <label class="label label-success">
                        @Resources.General.Encontrados: @Model.TotalEncontrados
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="table-responsive no-borders">
                    <table class="table table-hover table-striped min-w-700" id="tblBusqueda">
                        <thead>
                        <tr>
                            <th>Fondo</th>
                            <th>Fecha de creacion</th>
                            <th>Fecha de modificacion</th>
                            <th class="text-center">@Resources.General.Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model != null)
                        {
                            foreach (var cuadroArchivistico in Model.CuadroArchivisticos)
                            {
                                cuadroArchivistico.GenerarJerarquia();
                                var fondo = cuadroArchivistico.CuadroArchivistico;

                                <tr>
                                    <td>
                                        <strong>@fondo.Clave</strong>
                                        <br />
                                        @fondo.Nombre
                                    </td>
                                    <td>@fondo.FechaCreacion.Date.ToString("d")</td>
                                    <td>@fondo.FechaModificado.Date.ToString("d")</td>
                                    <td class="text-center">
                                        @if (fondo.Habilitado)
                                        {
                                            @Html.ActionLinkCifrado(General.Modificar, "Guardar", "Fondo", "Catalogo",
                                                "btn btn-warning btn-circle m-l-2 m-r-2", "fa fa-pencil",
                                                new Dictionary<string, int> { { "IDCuadroArchivistico", fondo.IDCuadroArchivistico } })

                                            @Html.ActionLinkCifrado(Resources.General.Deshabilitar, "Deshabilitar", "Fondo", "Catalogo",
                                                "btn btn-danger btn-circle m-l-2 m-r-2 deshabilitar", "fa fa-times",
                                                new Dictionary<string, int> { { "IDCuadroArchivistico", fondo.IDCuadroArchivistico } }, new { @id = "btnEliminar", @name = fondo.IDCuadroArchivistico })
                                        }
                                        else
                                        {
                                            @Html.ActionLinkCifrado(Resources.General.Habilitar, "Habilitar", "Fondo", "Catalogo",
                                                "btn btn-primary btn-circle habilitar", "fa fa-check",
                                                new Dictionary<string, int> { { "IDCuadroArchivistico", fondo.IDCuadroArchivistico}})
                                        }
                                        
                                        <a class="btn btn-success btn-circle" title="Ver subfondos"
                                           href="@Url.Action("Index", "Subfondo", new {idPadre = fondo.IDCuadroArchivistico.ToString().EncodeTo64()})">
                                            SF
                                        </a>
                                        <a class="btn btn-success btn-circle" title="Ver secciones"
                                           href="@Url.Action("Index", "Seccion", new {idPadre = fondo.IDCuadroArchivistico.ToString().EncodeTo64()})">
                                            Se
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                <div>
                    @Html.Partial("Controls/_Paginacion", Model)
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    @section DocumentOnReady
    {
    $("#tblBusqueda").tablesorter();
    // Eventos
    $(document).off("click", "#btnEliminar");
    $(document).on("click", "#btnEliminar", function (e) {

        e.preventDefault();
        var href = this.href;

        swal({
            title: "¡Atención!",
            text: "¿Esta seguro que desea deshabilitar este Fondo?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Aceptar",
            closeOnConfirm: false
        },
        function () {
            window.location.href = href;
            return true;
        });
    });
}
</script>