﻿@using Datos.Repositorios.Bitacora

@model Datos.DTO.Infraestructura.ViewModels.AuditoriaViewModel

@{
    ViewBag.Title = Resources.General.Auditoria;
}
@section HeaderScripts
{
    <link rel="stylesheet" href="~/Content/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    <link rel="stylesheet" href="~/Content/css/plugins/iCheck/custom.css" />
}
@using (Html.BeginForm())
{
    <div class="tarjeta">
        <div class="row">
            <div class="col-xs-12 col-md-6 form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-4 end-xs">
                            <label for="Fecha">Fecha Inicio:</label>
                        </div>
                        <div class="col-xs-12 col-md-8 p-all-0">
                            <div class="input-group">
                                <div class="btn gray-bg input-group-addon" for="FechaId">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBoxFor(m => m.FechaInicio, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", placeholder = "Fecha Inicio", @id = "FechaInicio" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-4 ">
                            <label for="Fecha">Fecha Fin:</label>
                        </div>
                        <div class="col-xs-12 col-md-8 p-all-0">
                            <div class="input-group">
                                <div class="btn gray-bg input-group-addon" for="FechaId">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBoxFor(m => m.FechaFin, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", placeholder = "Fecha Fin", @id = "FechaFin" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 form-horizontal">
                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-4">
                            <label for="Usuario">Usuario:</label>
                        </div>
                        <div class="col-xs-12 col-md-8">
                            @Html.DropDownListFor(m => m.Auditoria.IDUsuario, AuditoriaRepositorio.BuscarUsuario(), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-4">
                            <label for="Modulo">Módulo:</label>
                        </div>
                        <div class="col-xs-12 col-md-8">
                            @Html.DropDownListFor(m => m.Auditoria.IDModuloAuditoria, AuditoriaRepositorio.BuscarModulos(), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-4">
                            <label for="Accion" class="end-xs">Acción:</label>
                        </div>
                        <div class="col-xs-12 col-md-8">
                            @Html.DropDownListFor(m => m.Auditoria.IDAccionAuditoria, AuditoriaRepositorio.BuscarAcciones(), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12">
                <div class="col-xs-12 col-md-12">
                    <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> @Resources.General.Buscar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 m-t-10 m-b-10">
                <div class="col-md-6 bold">
                    @Html.DropDownListFor(m => m.TamanoPagina, Sistema.Listas.ObtenerListaCantidadPagina())
                    @Resources.General.TamanoPagina
                </div>
                <div class="col-md-6 text-right">
                    <label class="label label-success">
                        @Resources.General.Encontrados: @Model.TotalEncontrados
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox-content" style="border-top: none;padding: 0;padding-bottom: 15px!important">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="table-responsive no-borders">
                    <table class="table table-hover table-striped min-w-700" id="TableAuditorias">
                        <thead>
                        <tr>
                            <th>Entidad</th>
                            <th>Descripción</th>
                            <th>Acción</th>
                            <th>Módulo</th>
                            <th>Usuario</th>
                            <th>Fecha</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model != null)
                        {
                            foreach (var auditoria in Model.Auditorias)
                            {
                                <tr>
                                    <td>@auditoria.IDEntidad</td>
                                    <td>@auditoria.Descripcion</td>
                                    <td>@auditoria.AccionAuditoria.Nombre</td>
                                    <td>@auditoria.ModuloAuditoria.Nombre</td>
                                    <td>@auditoria.Usuario.Nombre</td>
                                    <td>@auditoria.Fecha.ToString("dd/MM/yyyy")</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                <div>
                    @Html.Partial("Controls/_Paginacion", Model)
                </div>
            </div>
        </div>
    </div>
}
@section FooterScripts
{
<script type="text/javascript" src="/Scripts/jquery.tablesorter.js"></script>
<script type="text/javascript">
    $(function () {
    $('#Auditoria_Expediente_NumeroExpediente').click(function () {
        var numeroExpediente = $("#Auditoria_Expediente_NumeroExpediente").val("");
    });

    $("#FechaInicio").datetimepicker({
        format: "DD/MM/YYYY",
        locale: 'es',
        useCurrent: false,
        maxDate: new Date("@DateTime.Now.Year", "@(DateTime.Now.Month - 1)", "@DateTime.Now.Day")
    });

    $("#FechaFin").datetimepicker({
        format: "DD/MM/YYYY",
        locale: 'es',
        useCurrent: false,
        maxDate: new Date("@DateTime.Now.Year", "@(DateTime.Now.Month - 1)", "@(DateTime.Now.Day + 1)")
    });
        
    });
    $(document).ready(function () {
        $("#TableAuditorias").tablesorter();
    }
);
</script>
}

