﻿<div class="modal fade" id="mdlDetalles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">
                    <label>Detalles</label>
                </h3>
            </div>
            <div class="modal-body container-fluid p-all-10">
                <div class="col-md-12 p-all-0">
                    <ul class="nav nav-tabs" role="tablist" id="tabs">
                        <li role="presentation" class="active"><a href="#expediente" aria-controls="home" role="tab">Expediente</a></li>
                        <li role="presentation"><a href="#adjunto" aria-controls="settings" role="tab">Adjunto</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active tab-caratula" id="expediente">
                            <div class="col-md-12 p-t-20">
                                <div class="col-md-4 p-all-0 p-t-5">
                                    <h5>Cuadro Archivístico</h5>
                                    <div class="col-md-12 p-all-0">
                                        <hr class="m-all-5" />
                                    </div>

                                    <div class="col-md-12 p-all-0">
                                        <div class="col-md-4 p-all-0 p-t-10">
                                            <span class="bold">Fondo:</span>
                                        </div>
                                        <div class="col-md-8 p-all-0 p-t-10">
                                            <span data-bind="text: Fondo"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-all-0" id="detalle_subfondo">
                                        <div class="col-md-4 p-all-0 p-t-10">
                                            Subfondo:
                                        </div>
                                        <div class="col-md-8 p-all-0 p-t-10">
                                            <span data-bind="text: Subfondo"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-all-0">
                                        <div class="col-md-4 p-all-0 p-t-10">
                                            <span class="bold">Sección:</span>
                                        </div>
                                        <div class="col-md-8 p-all-0 p-t-10">
                                            <span data-bind="text: Seccion"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-all-0" id="detalle_subseccion">
                                        <div class="col-md-4 p-all-0 p-t-10">
                                            Subsección:
                                        </div>
                                        <div class="col-md-8 p-all-0 p-t-10">
                                            <span data-bind="text: Subseccion"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-all-0">
                                        <div class="col-md-4 p-all-0 p-t-10">
                                            <span class="bold">Serie:</span>
                                        </div>
                                        <div class="col-md-8 p-all-0 p-t-10">
                                            <span data-bind="text: Serie"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-all-0" id="detalle_subserie">
                                        <div class="col-md-4 p-all-0 p-t-10">
                                            Subserie:
                                        </div>
                                        <div class="col-md-8 p-all-0 p-t-10">
                                            <span data-bind="text: Subserie"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 p-all-0">
                                    <div class="col-md-12 p-all-0">
                                        <ul class="nav nav-tabs" role="tablist" id="tabs">
                                            <li role="presentation" class="active" id="expedientePestana"><a href="#expediente2" aria-controls="home" role="tab">Expediente</a></li>
                                            <li role="presentation" class="hidden" id="legajoPestana"><a href="#legajo" aria-controls="settings" role="tab">Legajos</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active tab-caratula2" id="expediente2">
                                                <div class="col-md-4 p-all-0 p-t-10">
                                                    <span class="bold">Núm. de expediente:</span>
                                                </div>
                                                <div class="col-md-3 p-all-0 p-t-10">
                                                    <span data-bind="text: NumeroExpediente"></span>
                                                </div>
                                                <div class="col-md-3 p-all-0 p-t-10">
                                                    <span class="bold">Estado Expediente:</span>
                                                </div>
                                                <div class="col-md-2 p-all-0 p-t-10">
                                                    <span data-bind="text: NombreEstadoExpediente"></span>
                                                </div>
                                                <div class="col-md-12 p-all-0">
                                                    <div class="col-md-12 p-all-0 p-t-10">
                                                        <span class="bold">Titulo:</span>
                                                    </div>
                                                    <div class="col-md-12 p-all-0 p-t-10">
                                                        <span data-bind="text: Titulo"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 p-all-0">
                                                    <div class="col-md-7 p-all-0">
                                                        <div class="col-md-12 p-all-0">
                                                            <div class="col-md-6 p-all-0 p-t-10">
                                                                <span class="bold">Fecha Apertura:</span>
                                                            </div>
                                                            <div class="col-md-6 p-all-0 p-t-10">
                                                                <span data-bind="text: FechaApertura"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 p-all-0">
                                                    <div class="col-md-7 p-all-0">
                                                        <div class="col-md-12 p-all-0">
                                                            <div class="col-md-6 p-all-0 p-t-10">
                                                                <span class="bold">Fecha Cierre:</span>
                                                            </div>
                                                            <div class="col-md-6 p-all-0 p-t-10">
                                                                <span data-bind="text: FechaCierre"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 p-all-0" id="detalle_vigencia">
                                                    <div class="col-md-7 p-all-0">
                                                        <div class="col-md-12 p-all-0">
                                                            <div class="col-md-6 p-all-0 p-t-10">
                                                                <span class="bold">Extensión Vigencia:</span>
                                                            </div>
                                                            <div class="col-md-6 p-all-0 p-t-10">
                                                                <span data-bind="text: Vigencia"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 p-all-0">
                                                    <div class="col-md-12 p-all-0">
                                                        <div class="col-md-12 p-all-0 p-t-10">
                                                            <span class="bold">Descripcion Asunto:</span>
                                                        </div>
                                                        <div class="col-md-12 p-all-0 p-t-10">
                                                            <span data-bind="text: DescripcionAsunto"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                            
                                            <div role="tabpanel" class="tab-pane tab-caratula2" id="legajo">
                                                <div class="col-md-12 p-all-0 p-t-10" data-bind="foreach: DetallesLegajos">
                                                    <div class="col-md-2 p-all-0 p-t-10">
                                                        <span class="bold">Legajo </span>
                                                        <span class="bold" data-bind="text: $index() + 1">Legajo:</span>
                                                    </div>
                                                    <div class="col-md-2 p-all-0 p-t-10">
                                                        <span class="bold">Folio Inicial:</span>
                                                    </div>
                                                    <div class="col-md-2 p-all-0 p-t-10">
                                                        <span data-bind="text: FolioInicial"></span>
                                                    </div>
                                                    <div class="col-md-2 p-all-0 p-t-10">
                                                        <span class="bold">Folio Final:</span>
                                                    </div>
                                                    <div class="col-md-4 p-all-0 p-t-10">
                                                        <span data-bind="text: FolioFinal"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 p-all-0">
                                    <div class="col-md-12 p-all-0 p-t-30">
                                        <h5>Signatura topográfica</h5>
                                        <div class="col-md-12 p-all-0">
                                            <hr class="m-all-5" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-all-0">
                                        <div class="col-md-4 p-all-0">
                                            <span class="bold">Municipio:</span>
                                        </div>
                                        <div class="col-md-8 p-all-0">
                                            <span data-bind="text: Municipio"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-all-0">
                                        <div class="col-md-4 p-all-0 p-t-10">
                                            <span class="bold">Localidad:</span>
                                        </div>
                                        <div class="col-md-8 p-all-0 p-t-10">
                                            <span data-bind="text: Localidad"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-all-0">
                                        <div class="col-md-4 p-all-0 p-t-10">
                                            <span class="bold">Edificio:</span>
                                        </div>
                                        <div class="col-md-8 p-all-0 p-t-10">
                                            <span data-bind="text: Edificio"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-all-0">
                                        <div class="col-md-4 p-all-0 p-t-10">
                                            <span class="bold">Nivel:</span>
                                        </div>
                                        <div class="col-md-8 p-all-0 p-t-10">
                                            <span data-bind="text: Nivel"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-all-0">
                                        <div class="col-md-4 p-all-0 p-t-10">
                                            <span class="bold">Area:</span>
                                        </div>
                                        <div class="col-md-8 p-all-0 p-t-10">
                                            <span data-bind="text: Area"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-all-0">
                                        <div class="col-md-4 p-all-0 p-t-10">
                                            <span class="bold">Mobiliario:</span>
                                        </div>
                                        <div class="col-md-8 p-all-0 p-t-10">
                                            <span data-bind="text: Mobiliario"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-all-0">
                                        <div class="col-md-4 p-all-0 p-t-10">
                                            <span class="bold">Contenedor:</span>
                                        </div>
                                        <div class="col-md-8 p-all-0 p-t-10">
                                            <span data-bind="text: Contenedor"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8 p-all-0">
                                    <div class="col-md-12 p-all-0 p-t-30">
                                        <h5>CADIDO</h5>
                                        <div class="col-md-12 p-all-0">
                                            <hr class="m-all-5" />
                                        </div>
                                    </div>

                                    <div class="col-md-12 p-all-0">
                                        <div class="col-md-7 p-all-0">
                                            <div class="col-md-12 p-all-0">
                                                <div class="col-md-6 p-all-0 p-t-10">
                                                    <span class="bold">Valor Documental:</span>
                                                </div>
                                                <div class="col-md-6 p-all-0 p-t-10">
                                                    <span data-bind="text: ValorDocumental"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 p-all-0">
                                            <div class="col-md-12 p-all-0">
                                                <div class="col-md-6 p-all-0 p-t-10">
                                                    <span class="bold">Trámite:</span>
                                                </div>
                                                <div class="col-md-6 p-all-0 p-t-10">
                                                    <span data-bind="text: TiempoTramite">Años</span>
                                                    <span>Años</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-all-0">
                                        <div class="col-md-7 p-all-0">
                                            <div class="col-md-12 p-all-0">
                                                <div class="col-md-6 p-all-0 p-t-10">
                                                    <span class="bold">Clasificacion:</span>
                                                </div>
                                                <div class="col-md-6 p-all-0 p-t-10">
                                                    <span data-bind="text: Clasificacion"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 p-all-0">
                                            <div class="col-md-12 p-all-0">
                                                <div class="col-md-6 p-all-0 p-t-10">
                                                    <span class="bold">Concentración:</span>
                                                </div>
                                                <div class="col-md-6 p-all-0 p-t-10">
                                                    <span data-bind="text: TiempoConcentracion">Años</span>
                                                    <span>Años</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-all-0">
                                        <div class="col-md-7 p-all-0">
                                            <div class="col-md-12 p-all-0">
                                                <div class="col-md-6 p-all-0 p-t-10">
                                                    <span class="bold">Disposición Documental:</span>
                                                </div>
                                                <div class="col-md-6 p-all-0 p-t-10">
                                                    <span data-bind="text: DisposicionDocumental"></span>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="col-md-12 p-all-0" id="detalle_fundamento">
                                        <div class="col-md-7 p-all-0">
                                            <div class="col-md-12 p-all-0">
                                                <div class="col-md-6 p-all-0 p-t-10">
                                                    <span class="bold">Fundamento Legal:</span>
                                                </div>
                                                <div class="col-md-6 p-all-0 p-t-10">
                                                    <span data-bind="text: FundamentoLegal"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-all-0 text-right p-t-25">
                                        <small>Digitalizado por <strong data-bind="text: Usuario"></strong></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-caratula" id="adjunto">
                            <div class="col-md-12 p-all-0">
                                <div class="col-md-12 p-all-0 p-t-10">
                                    <div class="col-md-12 p-all-0 p-t-20">
                                        <label>Visualización del adjunto</label>
                                        <iframe data-bind="attr:{src: UbicacionAdjunto}" width="100%" height="320px"></iframe>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center p-t-5">
                                    <a class="btn btn-sm btn-primary" data-bind="attr:{href: UbicacionAdjunto}" target="_blank">
                                        <i class="fa fa-eye"></i>
                                        Ver pantalla completa
                                    </a>
                                    <a class="btn btn-sm btn-success" data-bind="attr:{href: UbicacionAdjunto}" download="">
                                        <i class="fa fa-download"></i>
                                        Descargar Adjunto
                                    </a>
                                </div>
                                <div class="col-md-12 p-all-0 p-t-10">
                                    <span class="bold">Descripción:</span>
                                </div>
                                <div class="col-md-12 p-all-0 p-t-10">
                                    <span data-bind="text: DescripcionAdjunto"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/Scripts/knockout-2.2.0.js"></script>

<script id="template_legajos" type="text/html">
    <div class="col-md-12 p-all-0 p-t-10" data-bind="foreach: DetallesLegajos">
        <div class="col-md-2 p-all-0 p-t-10">
            <span class="bold">Legajo </span>
            <span class="bold" data-bind="text: $index() + 1">Legajo:</span>
        </div>
        <div class="col-md-2 p-all-0 p-t-10">
            <span class="bold">Folio Inicial:</span>
        </div>
        <div class="col-md-2 p-all-0 p-t-10">
            <span data-bind="text: FolioInicial"></span>
        </div>
        <div class="col-md-2 p-all-0 p-t-10">
            <span class="bold">Folio Final:</span>
        </div>
        <div class="col-md-4 p-all-0 p-t-10">
            <span data-bind="text: FolioFinal"></span>
        </div>
    </div>    
</script>

<script type="text/javascript">
    var detallesExpediente = (function () {

        function buscar(idExpediente) {
          
            $.ajax({
                data: "{idExpediente: '" + idExpediente + "'}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                type: "POST",
                url: '@Url.Action("Obtener", "Expediente", new { area = "Digitalizacion" })',
                beforeSend: function () {
                    MostrarDivCargando("Cargando detalles...");
                },
                success: function (data) {
                    $('#legajo').html($('#template_legajos').html());

                    ko.applyBindings(data);

                    if (data.DescripcionEstadoExpediente === 1) {
                        $("#legajoPestana").removeClass("active");
                        $("#expedientePestana").addClass("active");
                        $("#expediente2").addClass("active");
                        $("#legajoPestana").addClass("hidden");
                    } else {
                        $("#legajoPestana").removeClass("hidden");
                    }

                    if (data.Subfondo === "") {
                        $("#detalle_subfondo").addClass("hidden");
                    } else {
                        $("#detalle_subfondo").removeClass("hidden");
                    }

                    if (data.Subseccion === "") {
                        $("#detalle_subseccion").addClass("hidden");
                    } else {
                        $("#detalle_subseccion").removeClass("hidden");
                    }

                    if (data.Subserie === "") {
                        $("#detalle_subserie").addClass("hidden");
                    } else {
                        $("#detalle_subserie").removeClass("hidden");
                    }

                    if (data.Vigencia) {
                        $("#detalle_vigencia").removeClass("hidden");
                    } else {
                        $("#detalle_vigencia").addClass("hidden");
                    }

                    if (data.FundamentoLegal === "") {
                        $("#detalle_fundamento").addClass("hidden");
                    } else {
                        $("#detalle_fundamento").removeClass("hidden");
                    }

                    CerrarDivCargando();
                    $("#mdlDetalles").modal();
                },
                error: function (error) {
                    CerrarDivCargando();
                }
            });
        }

        return {
            Buscar: buscar
        };
    })();

    $('#tabs a').click(function (e) {
        e.preventDefault();

        $(this).tab('show');
    });

    var Unique = function (val, params) {
        var isValid = true;
        ko.utils.arrayFirst(params[0](), function (item) {
            if (val === item[params[2]]() && item !== params[1]) {
                isValid = false;
                return true;
            }
        });
        return isValid;
    };
</script>
