﻿@using Datos.Enums

<div id="alert">
    @if (TempData[Enumerados.TempData.Error.ToString()] != null)
    {

        <div class="text-center alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i class="fa fa-warning"></i>@TempData[Enumerados.TempData.Error.ToString()]
        </div>
    }
    else if (TempData[Enumerados.TempData.Mensaje.ToString()] != null)
    {
        <div class="text-center alert alert-success p-t-10 p-b-10">
            <button type="button" class="close p-r-10" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i class="fa fa-check"></i>@TempData[Enumerados.TempData.Mensaje.ToString()]
        </div>
    }
</div>

