﻿@using Datos.Recursos
@using Datos.Repositorios.Catalogos
@using Presentacion.Helpers

@model Datos.DTO.Infraestructura.ViewModels.ContenedorViewModel

@{
    ViewBag.Title = General.BuscarContenedor;
}

@using (Html.BeginForm())
{
    <div class="tarjeta">
        @if (Model.Entidad != null)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <h3>
                            Entidad: @Model.Entidad.Nombre
                        </h3>
                        <hr />
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 form-horizontal">
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="Contenedor_Nombre">Nombre</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.Contenedor.Nombre, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">

                        </div>
                        <div class="col-xs-12 col-md-9">
                            <div class="checkbox checkbox-success">
                                @Html.CheckBoxFor(m => m.Contenedor.Habilitado)
                                @Html.LabelFor(m => m.Contenedor.Habilitado)
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.Entidad != null)
                {
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">

                            </div>
                            <div class="col-xs-12 col-md-9">
                                <div class="checkbox checkbox-success">
                                    @Html.CheckBoxFor(m => m.SoloAgregado)
                                    @Html.LabelFor(m => m.SoloAgregado)
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 form-horizontal">
                @if (Model.Contenedor.Mobilario.IDMobilario == 0)
                {
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="Contenedor_Mobilario_Area_Nivel_Edificio_Localidad_IDMunicipio">Municipio</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.DropDownListFor(m => m.Contenedor.Mobilario.Area.Nivel.Edificio.Localidad.IDMunicipio,
                            MunicipioRepositorio.ObtenerPredeterminados(), new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="Contenedor_Mobilario_Area_Nivel_Edificio_IDLocalidad">Localidad</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.LocalidadDdl(m => m.Contenedor.Mobilario.Area.Nivel.Edificio.IDLocalidad,
                            Model.Contenedor.Mobilario.Area.Nivel.Edificio.Localidad.IDEstado,
                            Model.Contenedor.Mobilario.Area.Nivel.Edificio.Localidad.IDMunicipio)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="Contenedor_Mobilario_Area_Nivel_IDEdificio">Edificio</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.EdificioDdl(m => m.Contenedor.Mobilario.Area.Nivel.IDEdificio,
                            Model.Contenedor.Mobilario.Area.Nivel.Edificio.IDLocalidad)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="Contenedor_Mobilario_Area_IDNivel">Nivel</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.NivelDdl(m => m.Contenedor.Mobilario.Area.IDNivel, Model.Contenedor.Mobilario.Area.Nivel.IDEdificio)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="Contenedor_Mobilario_IDArea">Area</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.AreaDdl(m => m.Contenedor.Mobilario.IDArea, Model.Contenedor.Mobilario.Area.IDNivel)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="Contenedor_IDMobilario">Mobilario</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.MobilarioDdl(m => m.Contenedor.IDMobilario, Model.Contenedor.Mobilario.IDArea)
                            </div>
                        </div>
                    </div>
                }
                <div class="col-xs-12 col-md-12">
                    @Html.ActionLinkCifradoConTexto("Nuevo", "Guardar", "Contenedor", "Catalogo", "btn btn-sm btn-default pull-right m-l-5",
                        "fa fa-plus", new Dictionary<string, int> {
                            { "idMobilarioRegresar", Model.Contenedor.Mobilario.IDMobilario },
                            { "idEntidadRegresar", Model.IdEntidad }
                        })
                    <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> @Resources.General.Buscar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 m-t-10 m-b-10">
                <div class="col-md-6 bold">
                    @Html.DropDownListFor(m => m.TamanoPagina, Sistema.Listas.ObtenerListaCantidadPagina())
                    @Resources.General.TamanoPagina
                </div>
                <div class="col-md-6 text-right">
                    <label class="label label-success">
                        @Resources.General.Encontrados: @Model.TotalEncontrados
                    </label>
                </div>
            </div>
        </div>

        @if (Model.Contenedor.Mobilario.IDMobilario > 0)
        {
            <div class="row">
                <div class="col-xs-12 col-md-9 form-horizontal">
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <ul class="breadcrumb f-s-14">
                            <li>
                                @Html.ActionLinkCifradoConTexto("Estado", "Index", "Municipio", "Catalogo", string.Empty, string.Empty)
                            </li>
                            <li>
                                @Html.ActionLinkCifradoConTexto(Model.Contenedor.Mobilario.Area.Nivel.Edificio.Localidad.Municipio.Nombre, "Index", "Localidad", "Catalogo", string.Empty,
                            string.Empty, new Dictionary<string, int> { { "idMunicipio", Model.Contenedor.Mobilario.Area.Nivel.Edificio.Localidad.IDMunicipio } })
                            </li>
                            <li>
                                @Html.ActionLinkCifradoConTexto(Model.Contenedor.Mobilario.Area.Nivel.Edificio.Localidad.Nombre, "Index", "Edificio", "Catalogo", string.Empty,
                            string.Empty, new Dictionary<string, int> { { "idLocalidad", Model.Contenedor.Mobilario.Area.Nivel.Edificio.Localidad.IDLocalidad } })
                            </li>
                            <li>
                                @Html.ActionLinkCifradoConTexto(Model.Contenedor.Mobilario.Area.Nivel.Edificio.Nombre, "Index", "Nivel", "Catalogo", string.Empty,
                            string.Empty, new Dictionary<string, int> { { "idEdificio", Model.Contenedor.Mobilario.Area.Nivel.Edificio.IDEdificio } })
                            </li>
                            <li>
                                @Html.ActionLinkCifradoConTexto(Model.Contenedor.Mobilario.Area.Nivel.Nombre, "Index", "Area", "Catalogo", string.Empty,
                            string.Empty, new Dictionary<string, int> { { "idNivel", Model.Contenedor.Mobilario.Area.Nivel.IDNivel } })
                            </li>
                            <li>
                                @Html.ActionLinkCifradoConTexto(Model.Contenedor.Mobilario.Area.Nombre, "Index", "Mobilario", "Catalogo", string.Empty,
                            string.Empty, new Dictionary<string, int> { { "idArea", Model.Contenedor.Mobilario.Area.IDArea } })
                            </li>
                            <li>
                                @Html.ActionLinkCifradoConTexto(Model.Contenedor.Mobilario.Nombre, "Index", "Contenedor", "Catalogo", string.Empty,
                            string.Empty, new Dictionary<string, int> { { "idMobilario", Model.Contenedor.Mobilario.IDMobilario } })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="table-responsive no-borders">
                    <table class="table table-hover table-striped min-w-600" id="tblBusqueda">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Contenedor.Nombre)</th>
                                <th>@Html.DisplayNameFor(m => m.Contenedor.Mobilario)</th>
                                <th>@Html.DisplayNameFor(m => m.Contenedor.Mobilario.Area)</th>
                                <th>@Html.DisplayNameFor(m => m.Contenedor.Mobilario.Area.Nivel)</th>
                                <th>@Html.DisplayNameFor(m => m.Contenedor.Mobilario.Area.Nivel.Edificio)</th>
                                <th>@Html.DisplayNameFor(m => m.Contenedor.Mobilario.Area.Nivel.Edificio.Localidad)</th>
                                <th>@Html.DisplayNameFor(m => m.Contenedor.Mobilario.Area.Nivel.Edificio.Localidad.Municipio)</th>
                                <th class="text-center">@General.Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var contenedor in Model.Contenedores)
                            {
                                <tr>
                                    <td>@contenedor.Nombre</td>
                                    <td>@contenedor.Mobilario</td>
                                    <td>@contenedor.Area</td>
                                    <td>@contenedor.Nivel</td>
                                    <td>@contenedor.Edificio</td>
                                    <td>@contenedor.Localidad</td>
                                    <td>@contenedor.Municipio</td>
                                    <td class="text-center">
                                        @if (Model.IdEntidad > 0 && contenedor.Agregado == false)
                                        {
                                            <a class="btn btn-success btn-circle m-l-2 m-r-2 agregar"
                                                title="Agregar" data-contenedor="@contenedor.IDContenedor"><i class="fa fa-plus"></i></a>
                                        }
                                        else if (Model.IdEntidad > 0 && contenedor.Agregado)
                                        {
                                            <a class="btn btn-danger btn-circle m-l-2 m-r-2 quitar"
                                                title="Quitar" data-contenedor="@contenedor.IDContenedor"><i class="fa fa-minus"></i></a>
                                        }
                                        else if (contenedor.Habilitado)
                                        {
                                            @Html.ActionLinkCifrado(General.Modificar, "Guardar", "Contenedor", "Catalogo",
                                                "btn btn-warning btn-circle m-l-2 m-r-2", "fa fa-pencil",
                                                new Dictionary<string, int>
                                                {
                                                    {"idContenedor", contenedor.IDContenedor},
                                                    {"idMobilarioRegresar", Model.Contenedor.Mobilario.IDMobilario}
                                                })
                                            @Html.ActionLinkCifrado(General.Deshabilitar, "Deshabilitar", "Contenedor", "Catalogo",
                                                "btn btn-danger btn-circle eliminar m-l-2 m-r-2", "fa fa-times",
                                                new Dictionary<string, int>
                                                {
                                                    {"idContenedor", contenedor.IDContenedor},
                                                    {"idMobilarioRegresar", Model.Contenedor.Mobilario.IDMobilario}
                                                },
                                                new { id = "btnEliminar", @name = contenedor.IDContenedor })
                                        }
                                        else
                                        {
                                            @Html.ActionLinkCifrado(General.Habilitar, "Habilitar", "Contenedor", "Catalogo",
                                                "btn btn-primary btn-circle m-l-2 m-r-2", "fa fa-check",
                                                new Dictionary<string, int>
                                                {
                                                    {"idContenedor", contenedor.IDContenedor},
                                                    {"idMobilarioRegresar", Model.Contenedor.Mobilario.IDMobilario}
                                                })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8">
                                    <div>
                                        @Html.Partial("Controls/_Paginacion", Model)
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

        <script type="text/javascript">
    @section DocumentOnReady
    {
            $("#tblBusqueda").on("click", ".agregar", function (e) {
                e.preventDefault();

                var idContenedor = $(this).data("contenedor");
                var boton = $(this);
                var icono = $(this).find("i");

                $.ajax({
                    url: '@Url.Action("AgregarContenedor", "Contenedor", new { area = "Catalogo" })',
                    data: "{idEntidad : @Model.IdEntidad, idContenedor : " + idContenedor + "}",
                    type: 'POST',
                    contentType: "application/json",
                    dataType: 'json',
                    beforeSend: function () {
                        icono.removeClass("fa-plus");
                        boton.removeClass("btn-success");

                        icono.addClass("fa-spinner");
                        boton.addClass("btn-default");
                    },
                    success: function () {
                        icono.removeClass("fa-spinner");
                        boton.removeClass("btn-default");

                        icono.addClass("fa-minus");
                        boton.addClass("btn-danger");

                        boton.removeClass("agregar");
                        boton.addClass("quitar");
                    },
                    error: function (err, ah) {
                        mostrarAlert('Ocurrio un error al intentar agregar el contenedor a la entidad.', 'danger');

                        icono.removeClass("fa-spinner");
                        boton.removeClass("btn-default");

                        icono.addClass("fa-plus");
                        boton.addClass("btn-success");
                    }
                });
            });

            $("#tblBusqueda").on("click", ".quitar", function (e) {
                e.preventDefault();

                var idContenedor = $(this).data("contenedor");
                var boton = $(this);
                var icono = $(this).find("i");

                $.ajax({
                    url: '@Url.Action("QuitarContenedor", "Contenedor", new { area = "Catalogo" })',
                    data: "{idEntidad : @Model.IdEntidad, idContenedor : " + idContenedor + "}",
                    type: 'POST',
                    contentType: "application/json",
                    dataType: 'json',
                    beforeSend: function () {
                        icono.removeClass("fa-minus");
                        boton.removeClass("btn-danger");

                        icono.addClass("fa-spinner");
                        boton.addClass("btn-default");
                    },
                    success: function () {
                        icono.removeClass("fa-spinner");
                        boton.removeClass("btn-default");

                        icono.addClass("fa-plus");
                        boton.addClass("btn-success");

                        boton.addClass("agregar");
                        boton.removeClass("quitar");
                    },
                    error: function (err, ah) {
                        mostrarAlert('Ocurrio un error al intentar quitar el contenedor a la entidad.', 'danger');

                        icono.removeClass("fa-spinner");
                        boton.removeClass("btn-default");

                        icono.addClass("fa-minus");
                        boton.addClass("btn-danger");
                    }
                });
            });

            var enlaceEnEspera;
            var confirmado = false;

            $("#tblBusqueda").tablesorter();

            $(document).off("click", "#btnEliminar");
            $(document).on("click", "#btnEliminar", function (e) {

                e.preventDefault();
                var href = this.href;

                swal({
                    title: "¡Atención!",
                    text: "¿Esta seguro que desea deshabilitar este Contenedor?",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: "Cancelar",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Aceptar",
                    closeOnConfirm: false
                },
                function () {
                    window.location.href = href;
                    return true;
                });
            });

            $("#btnConfirmar").click(function (e) {
                e.preventDefault();
                confirmado = true;
                enlaceEnEspera.click();
            });
            }
        </script>
