﻿@using Datos.Recursos
@using Datos.Repositorios.Catalogos
@using Presentacion.Helpers
@model Datos.Mobilario

@{
    ViewBag.Title = General.GuardarMobilario;
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8 col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            @if (Model?.IDArea > 0)
                            {
                                <h5>Editar datos del mobilario</h5>
                            }
                            else
                            {
                                <h5>Datos del nuevo mobilario</h5>
                            }

                        </div>
                    </div>
                </div>
                <div class="ibox-content form-horizontal">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Nombre, "Nombre")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max150", maxlength = "150" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Area.Nivel.Edificio.Localidad.IDMunicipio, "Municipio")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.DropDownListFor(m => m.Area.Nivel.Edificio.Localidad.IDMunicipio, MunicipioRepositorio.ObtenerPredeterminados(), new { @class = "form-control input-sm", @data_validation = "required" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Area.Nivel.Edificio.IDLocalidad, "Localidad")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.LocalidadDdl(m => m.Area.Nivel.Edificio.IDLocalidad, Model.Area.Nivel.Edificio.Localidad.IDEstado, Model.Area.Nivel.Edificio.Localidad.IDMunicipio, dataValidation: "required")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Area.Nivel.IDEdificio, "Edificio")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.EdificioDdl(m => m.Area.Nivel.IDEdificio, Model.Area.Nivel.Edificio.IDLocalidad, dataValidation: "required")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Area.IDNivel, "Nivel")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.NivelDdl(m => m.Area.IDNivel, Model.Area.Nivel.IDEdificio, dataValidation: "required")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.IDArea, "Area")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.AreaDdl(m => m.IDArea, Model.Area.IDNivel, dataValidation: "required")
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="pull-right">
                                @if (ViewBag.IdAreaRegresar > 0)
                                {
                                    @Html.ActionLinkCifradoConTexto(Resources.General.Regresar, "Index",
                                        "Mobilario", "Catalogo", "btn btn-default btn-sm", "fa fa-angle-double-left",
                                        new Dictionary<string, int> { { "idArea", ViewBag.IdAreaRegresar } })
                                }
                                else
                                {
                                    @Html.ActionLinkCifradoConTexto(Resources.General.Regresar, "Index", "Mobilario", "Catalogo", "btn btn-default btn-sm", "fa fa-angle-double-left")
                                }
                                <button class="btn btn-primary btn-sm">
                                    <i class="fa fa-save"></i> @Resources.General.Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section FooterScripts{
    <script type="text/javascript">
        $.validate({
            language: es
        });
    </script>
}