﻿@using Datos.Recursos
@using Datos.Repositorios.Catalogos
@using Presentacion.Helpers

@model Datos.DTO.Infraestructura.ViewModels.MobilarioViewModel

@{
    ViewBag.Title = General.BuscarMobilario;
}

@using (Html.BeginForm())
{
    <div class="tarjeta">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 form-horizontal">
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="Mobilario_Nombre">Nombre</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.Mobilario.Nombre, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">

                        </div>
                        <div class="col-xs-12 col-md-9">
                            <div class="checkbox checkbox-success">
                                @Html.CheckBoxFor(m => m.Mobilario.Habilitado)
                                @Html.LabelFor(m => m.Mobilario.Habilitado)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 form-horizontal">
                @if (Model.Mobilario.Area.IDArea == 0)
                {
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="Mobilario_Area_Nivel_Edificio_Localidad_IDMunicipio">Municipio</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.DropDownListFor(m => m.Mobilario.Area.Nivel.Edificio.Localidad.IDMunicipio,
                                    MunicipioRepositorio.ObtenerPredeterminados(), new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="Mobilario_Area_Nivel_Edificio_IDLocalidad">Localidad</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.LocalidadDdl(m => m.Mobilario.Area.Nivel.Edificio.IDLocalidad,
                                    Model.Mobilario.Area.Nivel.Edificio.Localidad.IDEstado,
                                    Model.Mobilario.Area.Nivel.Edificio.Localidad.IDMunicipio)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="Mobilario_Area_Nivel_IDEdificio">Edificio</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.EdificioDdl(m => m.Mobilario.Area.Nivel.IDEdificio,
                                    Model.Mobilario.Area.Nivel.Edificio.IDLocalidad)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="Mobilario_Area_IDNivel">Nivel</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.NivelDdl(m => m.Mobilario.Area.IDNivel, Model.Mobilario.Area.Nivel.IDEdificio)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="Mobilario_IDArea">Area</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.AreaDdl(m => m.Mobilario.IDArea, Model.Mobilario.Area.IDNivel)
                            </div>
                        </div>
                    </div>
                }
                <div class="col-xs-12 col-md-12">
                    @if (Model.Mobilario.Area.Nivel.IDNivel > 0)
                    {
                        @Html.ActionLinkCifradoConTexto("Nuevo", "Guardar", "Mobilario", "Catalogo", "btn btn-sm btn-default pull-right m-l-5",
                            "fa fa-plus", new Dictionary<string, int> { { "idAreaRegresar", Model.Mobilario.Area.IDArea } })
                    }
                    else
                    {
                        @Html.ActionLinkCifradoConTexto("Nuevo", "Guardar", "Mobilario", "Catalogo", "btn btn-sm btn-default pull-right m-l-5", "fa fa-plus")
                    }
                    <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> @Resources.General.Buscar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 m-t-10 m-b-10">
                <div class="col-md-6 bold">
                    @Html.DropDownListFor(m => m.TamanoPagina, Sistema.Listas.ObtenerListaCantidadPagina())
                    @Resources.General.TamanoPagina
                </div>
                <div class="col-md-6 text-right">
                    <label class="label label-success">
                        @Resources.General.Encontrados: @Model.TotalEncontrados
                    </label>
                </div>
            </div>
        </div>

        @if (Model.Mobilario.Area.IDArea > 0)
        {
            <div class="row">
                <div class="col-xs-12 col-md-9 form-horizontal">
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <ul class="breadcrumb f-s-14">
                            <li>
                                @Html.ActionLinkCifradoConTexto("Estado", "Index", "Municipio", "Catalogo", string.Empty, string.Empty)
                            </li>
                            <li>
                                @Html.ActionLinkCifradoConTexto(Model.Mobilario.Area.Nivel.Edificio.Localidad.Municipio.Nombre, "Index", "Localidad", "Catalogo", string.Empty,
                                    string.Empty, new Dictionary<string, int> {{"idMunicipio", Model.Mobilario.Area.Nivel.Edificio.Localidad.IDMunicipio}})
                            </li>
                            <li>
                                @Html.ActionLinkCifradoConTexto(Model.Mobilario.Area.Nivel.Edificio.Localidad.Nombre, "Index", "Edificio", "Catalogo", string.Empty,
                                    string.Empty, new Dictionary<string, int> {{"idLocalidad", Model.Mobilario.Area.Nivel.Edificio.Localidad.IDLocalidad}})
                            </li>
                            <li>
                                @Html.ActionLinkCifradoConTexto(Model.Mobilario.Area.Nivel.Edificio.Nombre, "Index", "Nivel", "Catalogo", string.Empty,
                                    string.Empty, new Dictionary<string, int> {{"idEdificio", Model.Mobilario.Area.Nivel.Edificio.IDEdificio}})
                            </li>
                            <li>
                                @Html.ActionLinkCifradoConTexto(Model.Mobilario.Area.Nivel.Nombre, "Index", "Area", "Catalogo", string.Empty,
                                    string.Empty, new Dictionary<string, int> {{"idNivel", Model.Mobilario.Area.Nivel.IDNivel}})
                            </li>
                            <li>
                                @Html.ActionLinkCifradoConTexto(Model.Mobilario.Area.Nombre, "Index", "Mobilario", "Catalogo", string.Empty,
                                    string.Empty, new Dictionary<string, int> {{"idArea", Model.Mobilario.Area.IDArea}})
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="table-responsive no-borders">
                    <table class="table table-hover table-striped min-w-600" id="tblBusqueda">
                        <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.Mobilario.Nombre)</th>
                            <th>@Html.DisplayNameFor(m => m.Mobilario.Area)</th>
                            <th>@Html.DisplayNameFor(m => m.Mobilario.Area.Nivel)</th>
                            <th>@Html.DisplayNameFor(m => m.Mobilario.Area.Nivel.Edificio)</th>
                            <th>@Html.DisplayNameFor(m => m.Mobilario.Area.Nivel.Edificio.Localidad)</th>
                            <th>@Html.DisplayNameFor(m => m.Mobilario.Area.Nivel.Edificio.Localidad.Municipio)</th>
                            <th class="text-center">@General.Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var mobilario in Model.Mobilarios)
                        {
                            <tr>
                                <td>@mobilario.Nombre</td>
                                <td>@mobilario.Area.Nombre</td>
                                <td>@mobilario.Area.Nivel.Nombre</td>
                                <td>@mobilario.Area.Nivel.Edificio.Nombre</td>
                                <td>@mobilario.Area.Nivel.Edificio.Localidad.Nombre</td>
                                <td>@mobilario.Area.Nivel.Edificio.Localidad.Municipio.Nombre</td>
                                <td class="text-center">
                                    @if (mobilario.Habilitado)
                                    {
                                        @Html.ActionLinkCifrado(General.Modificar, "Guardar", "Mobilario", "Catalogo",
                                            "btn btn-warning btn-circle m-l-2 m-r-2", "fa fa-pencil",
                                            new Dictionary<string, int> {{"idMobilario", mobilario.IDMobilario},
                                                { "idAreaRegresar", Model.Mobilario.Area.IDArea } })
                                        @Html.ActionLinkCifrado(General.Deshabilitar, "Deshabilitar", "Mobilario", "Catalogo",
                                            "btn btn-danger btn-circle eliminar m-l-2 m-r-2", "fa fa-times",
                                            new Dictionary<string, int> { { "idMobilario", mobilario.IDMobilario },
                                                { "idAreaRegresar", Model.Mobilario.Area.IDArea } }, 
                                            new { id = "btnEliminar", name = mobilario.IDMobilario })
                                    }
                                    else
                                    {
                                        @Html.ActionLinkCifrado(General.Habilitar, "Habilitar", "Mobilario", "Catalogo",
                                            "btn btn-primary btn-circle m-l-2 m-r-2", "fa fa-check",
                                            new Dictionary<string, int> { { "idMobilario", mobilario.IDMobilario },
                                                { "idAreaRegresar", Model.Mobilario.Area.IDArea } })
                                    }
                                    @Html.ActionLinkCifrado(General.VerContenedores, "Index", "Contenedor", "Catalogo",
                                        "btn btn-success btn-circle m-l-2 m-r-2", "fa fa-chevron-right",
                                        new Dictionary<string, int> { { "idMobilario", mobilario.IDMobilario } })
                                </td>
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7">
                                <div>
                                    @Html.Partial("Controls/_Paginacion", Model)
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
}

<script type="text/javascript">
    @section DocumentOnReady
    {
    var enlaceEnEspera;
    var confirmado = false;

    $("#tblBusqueda").tablesorter();

    $(document).off("click", "#btnEliminar");
    $(document).on("click", "#btnEliminar", function (e) {

        e.preventDefault();
        var href = this.href;

        swal({
            title: "¡Atención!",
            text: "¿Esta seguro que desea deshabilitar este Nivel?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Aceptar",
            closeOnConfirm: false
        },
        function () {
            window.location.href = href;
            return true;
        });
    });

    $("#btnConfirmar").click(function (e) {
        e.preventDefault();
        confirmado = true;
        enlaceEnEspera.click();
    });
    }
</script>