﻿@using Datos.Enums
@using Datos.DTO.Infraestructura
@using Datos.Recursos
@using Presentacion.Helpers
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Dígita</title>
    
    <link rel="icon" href="~/Content/img/agt_print.ico" type="image/x-icon" />
    
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet" href="~/Content/css/actions.menu.css" />
    <link rel="stylesheet" href="~/Content/css/general.css" />
    <link rel="stylesheet" href="~/Content/css/Estilos.css" />
    <link rel="stylesheet" href="~/Content/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    <link rel="stylesheet" href="~/Content/css/plugins/iCheck/custom.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="~/Content/css/sweetalert.css" />
    <link rel="stylesheet" href="~/Content/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Content/css/fileinput.min.css" />

    <script type="text/javascript" src="~/Content/js/libs/jquery-2.1.1.js"></script>
    @RenderSection("HeaderScripts", required: false)
    <meta name="description" content="The description of my page" />
</head>
<body class="@(ViewBag.NavBarClass)">

@{
    var usuario = ((SistemaUsuario)Session[Enumerados.VariablesSesion.Aplicacion.ToString()]);
}

    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img id="imgFotoPerfil" class="img-circle img-50px" src="@Url.Content(usuario.UrlFoto)" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">
                                            <label>@usuario.Nombre</label>
                                        </strong>
                                    </span>
                                    <span class="text-muted block">
                                        <label>@usuario.NombrePuesto</label>
                                        <b class="caret"></b>
                                    </span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li>
                                    @Html.ActionLinkCifradoConTexto(General.ModificarPerfil, "ModificarPerfil", "Usuario", "Catalogo", "", "fa fa-user",
                                new Dictionary<string, int> { { "idUsuario", @usuario.IdUsuario } })
                                </li>
                                <li>
                                    @Html.ActionLinkCifradoConTexto(General.CambiarContrasena, "CambiarContrasena", "Usuario", "Catalogo", "", "fa fa-lock",
                                new Dictionary<string, int> { { "idUsuario", @usuario.IdUsuario } })
                                </li>
                                <li>
                                    <a href="#" id="btn_logout">
                                        <i class='fa fa-sign-out'></i>
                                        @Resources.General.CerrarSesion
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            Dígita
                        </div>
                    </li>
                    @Html.Partial("Menus/_Menu")
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg" style="min-height: 643px;">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top between-xs m-b-0" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
                    </div> <!-- Collapse menu button -->
                    <div class="navbar-header">
                    </div> <!-- Header -->
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="pull-right">
                            <a href="#" id="btn_logout" class="btn">
                                <i class="fa fa-sign-out hidden-xs"></i>
                                <i class="fa fa-sign-out fa-2x hidden-sm hidden-md hidden-lg"></i>
                                <span class="hidden-xs"> @Resources.General.CerrarSesion</span>
                            </a>
                        </li>
                    </ul> <!-- Logout -->
                </nav>
                
                
            </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>
                        @ViewBag.Title
                    </h2>
                    <ul class="breadcrumb f-s-14">
                        @if (usuario.MenuBreadcrumb != null)
                        {
                            foreach (var menu in usuario.MenuBreadcrumb)
                            {
                                <li>
                                    @if (menu.Accion != null)
                                    {
                                        <a id="breadcrum_link" href="@Url.Action(menu.Accion, menu.Controlador, new { @area = menu.Area })">@menu.Opcion</a>
                                    }
                                    else
                                    {
                                        <a id="breadcrum_link" href="#">@menu.Opcion</a>
                                    }
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    @Html.Partial("Controls/_Alerta")
                    <div class="col-lg-12">
                        <div>
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="pull-right">
                    Vikingply
                </div>
                <div>
                    <strong>Copyright</strong>
                </div>
            </div>
            <div id="divCargando" style="display: none;"></div>
        </div>
    </div>

    <script type="text/javascript" src="~/Content/js/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/libs/pagina.js"></script>
    <script type="text/javascript" src="~/Content/js/metisMenu/jquery.metisMenu.js"></script>
    <script type="text/javascript" src="~/Content/js/slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="~/Content/js/libs/inspinia.js"></script>
    <script type="text/javascript" src="~/Content/js/libs/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Content/js/libs/actions.menu.js"></script>
    <script type="text/javascript" src="~/Content/js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/Content/js/libs/fileinput.min.js"></script>
    <script type="text/javascript" src="~/Content/js/CallInputFiles.js?v=2"></script>
    <script type="text/javascript" src="~/Content/js/form-validator/jquery.form-validator.min.js"></script>
    <script type="text/javascript" src="~/Content/js/form-validator/jquery.form-validator.es.js"></script>
    <script type="text/javascript" src="~/Content/js/libs/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="~/Content/js/iCheck/icheck.min.js"></script>
    @RenderSection("FooterScripts", required: false)
    <script type="text/javascript">
        $(document).on("ready", function () {
            $(document).on("submit", function () {
                if ($("form").data("mostrar-div-cargando") !== false)
                    MostrarDivCargando();
            });

            $(document).off("click", "#btn_logout");
            $(document).on("click", "#btn_logout", function () {
                swal({
                    title: "¡Atención!",
                    text: "¿Esta seguro que desea cerrar la sesión actual?",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: "Cancelar",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Aceptar",
                    closeOnConfirm: false
                },
                function () {
                    window.location.href = '/Login/CerrarSesion/';
                });
            });

            $(document).off("click", "#breadcrum_link");
            $(document).on("click", "#breadcrum_link", function (e) {

                var href = this.href;
                if (href != "#") {
                    window.location.href = href;
                }
                return false;
            });
            
            @RenderSection("DocumentOnReady", required: false)
        });
    </script>
</body>
</html>
