﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MYGYM - Login</title>
    
    <link rel="icon" href="~/Content/img/agt_print.ico" type="image/x-icon" />

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet" href="~/Content/css/personal.css" />
    <link rel="stylesheet" href="~/Content/css/Estilos.css" />
    <link rel="stylesheet" href="~/Content/css/general.css" />
    
</head>
<body class="gym-imagelogin">

    <div class="col-md-12">
        
        <div class="col-md-12">
            
            @RenderBody()
  
        </div>
    </div>

    <script type="text/javascript" src="~/Content/js/libs/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="~/Content/js/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/libs/pagina.js"></script>
    <script type="text/javascript" src="~/Content/js/form-validator/jquery.form-validator.min.js"></script>
    <script type="text/javascript" src="~/Content/js/form-validator/jquery.form-validator.es.js"></script>
    @RenderSection("FooterScripts", required: false)
</body>
</html>
