﻿@using Datos
@using Datos.Repositorios.Catalogos
@using Datos.Repositorios.Configuracion
@using Presentacion.Helpers
@using Sistema
@using Sistema.Extensiones

@model Datos.DTO.Infraestructura.ViewModels.CadidoViewModel

@{
    ViewBag.Title = Resources.General.ReportesCadido;
    ViewBag.NavBarClass = "mini-navbar";
}

@section HeaderScripts
{
    <link rel="stylesheet" href="~/Content/css/bootstrap-select.min.css" />
}

@using (Html.BeginForm())
{
    <div class="tarjeta">
        <div class="row">
            <div class="col-md-3">
                <div class="col-md-12">
                    <label>Vigencia</label>
                    <div class="col-md-12 p-all-0">
                        <div class="input-group">
                            <div class="btn gray-bg input-group-addon" for="FechaVigenciaInicio">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.TextBoxFor(m => m.FechaVigenciaInicio, "{0:dd/MM/yyyy}", new
                       {
                           @class = "form-control input-sm",
                           placeholder = "Inicio"
                       })
                        </div>
                    </div>
                    <div class="col-md-12 p-all-0 p-t-10">
                        <div class="input-group">
                            <div class="btn gray-bg input-group-addon" for="FechaVigenciaFin">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.TextBoxFor(m => m.FechaVigenciaFin, "{0:dd/MM/yyyy}", new
                       {
                           @class = "form-control input-sm",
                           placeholder = "Fin"
                       })
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-t-10">
                    <h5>Entidad</h5>
                    <div class="col-md-12 p-all-0">
                        <hr class="m-all-5" />
                    </div>
                    <div class="col-md-12 p-all-0">
                        @if (Model.IdEntidad > 0)
                        {
                            @Html.DropDownListFor(m => m.IdEntidad, EntidadRepositorio.Buscar(string.Empty),
                                new
                                {
                                    @class = "form-control input-sm selectpicker",
                                    data_live_search = "true",
                                    @disabled = "disabled"
                                })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.IdEntidad, EntidadRepositorio.Buscar(string.Empty),
                                new
                                {
                                    @class = "form-control input-sm selectpicker",
                                    data_live_search = "true"
                                })
                        }
                        @Html.Partial("_EntidadDdl", true)
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 p-all-0">
                    <label>Valor documental</label>
                    @Html.DropDownListFor(m => m.Cadido.IDTipoValorDocumental, Listas.ObtenerListaValorDocumental(),
                        new
                        {
                            @class = "form-control input-sm"
                        })
                </div>
                <div class="col-md-12 p-all-0 p-t-10">
                    <label>Clasificación información</label>
                    @Html.DropDownListFor(m => m.Cadido.IDTipoClasificacionInformacion, Listas.ObtenerListaClasificacionInformacion(),
                        new
                        {
                            @class = "form-control input-sm"
                        })
                </div>
                <div class="col-xs-12 col-md-12 p-all-0 p-t-10">
                    <div class="col-md-12 p-all-0">
                        <label>Valor documental</label>
                    </div>
                    <div class="col-md-4 p-all-0">
                        <div class="checkbox checkbox-success m-all-0">
                            @Html.CheckBoxFor(m => m.Cadido.EsAdministrativo)
                            @Html.LabelFor(m => m.Cadido.EsAdministrativo)
                        </div>
                    </div>
                    <div class="col-md-4 p-all-0">
                        <div class="checkbox checkbox-success m-all-0">
                            @Html.CheckBoxFor(m => m.Cadido.EsLegal)
                            @Html.LabelFor(m => m.Cadido.EsLegal)
                        </div>
                    </div>
                    <div class="col-md-4 p-all-0">
                        <div class="checkbox checkbox-success m-all-0">
                            @Html.CheckBoxFor(m => m.Cadido.EsContableFiscal)
                            @Html.LabelFor(m => m.Cadido.EsContableFiscal)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-md-12 form-horizontal p-all-0 p-r-10">
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <label for="IdFondo">Fondo:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @{
                                var fondos = CuadroArchivisticoRepositorio.BuscarTipo(TiposCuadroArchivistico.Fondo, Model.IdEntidad);
                                if (fondos.Count == 2)
                                {
                                    Model.IdFondo = fondos.Last().Value.ToInt();
                                }
                            }
                            @Html.DropDownListFor(m => m.IdFondo, fondos, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="row @(Model.IdFondo > 0 ? string.Empty : "hidden")">
                        <div class="col-xs-12 col-md-3">
                            Subfondo:
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.CuadroArchivisticoDdl(m => m.IdSubfondo, Model.IdFondo, TiposCuadroArchivistico.Subfondo)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <label for="IdSeccion">Sección:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.CuadroArchivisticoDdl(m => m.IdSeccion, Model.IdSubfondo > 0 ? Model.IdSubfondo : Model.IdFondo, TiposCuadroArchivistico.Seccion)
                        </div>
                    </div>
                    <div class="row @(Model.IdSeccion > 0 ? string.Empty : "hidden")">
                        <div class="col-xs-12 col-md-3">
                            Subsección:
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.CuadroArchivisticoDdl(m => m.IdSubseccion, Model.IdSeccion, TiposCuadroArchivistico.Subseccion)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <label for="IdSerie">Serie:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.CuadroArchivisticoDdl(m => m.IdSerie, Model.IdSubseccion > 0 ? Model.IdSubseccion : Model.IdSeccion, TiposCuadroArchivistico.Serie)
                        </div>
                    </div>
                    <div class="row @(Model.IdSerie > 0 ? string.Empty : "hidden")">
                        <div class="col-xs-12 col-md-3">
                            Subserie:
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.CuadroArchivisticoDdl(m => m.IdSubserie, Model.IdSerie, TiposCuadroArchivistico.Subserie)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-t-10">
                <div class="col-xs-12 col-md-12 text-right">
                    <button class="btn btn-sm btn-primary"><i class="fa fa-file-pdf-o"></i> @Resources.General.Generar</button>                    
                    @if (@ViewBag.UbicacionReporte != null)
                    {
                        <a class="btn btn-sm btn-success" href="@ViewBag.UbicacionReporte">
                            <i class="fa fa-download"></i>
                            Descargar
                        </a>        
                    }
                </div>
            </div>
        </div>
        @if (@ViewBag.UbicacionReporte != null)
        {
            <div class="col-md-12 p-all-0">
                <hr />
            </div>
            <div class="col-md-12 p-all-0">
                <iframe src="@VariablesWebconfig.ObtenerUrlVisualizadorDocumentosOffice()@(ViewBag.UbicacionReporte)" width="100%" height="600px"></iframe>
            </div>
        }
    </div>
                                }
@section FooterScripts
{
    <script type="text/javascript" src="~/Content/js/bootstrap-select/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap-select/defaults-es_ES.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("form").data("mostrar-div-cargando", false);
        });

        $("#@Html.IdFor(m => m.FechaVigenciaInicio), #@Html.IdFor(m => m.FechaVigenciaFin)").datetimepicker({
            format: "DD/MM/YYYY",
            locale: 'es',
            useCurrent: false
        });
    </script>
}