﻿@using Datos.Recursos
@using Datos.Repositorios.Catalogos
@using Presentacion.Helpers
@model Datos.Localidad

@{
    ViewBag.Title = General.GuardarLocalidad;
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8 col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            @if (Model?.IDLocalidad > 0)
                            {
                                <h5>Editar datos de la localidad</h5>
                            }
                            else
                            {
                                <h5>Datos de la nueva localidad</h5>
                            }
                            
                        </div>
                    </div>
                </div>
                <div class="ibox-content form-horizontal">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Nombre, "Nombre")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max150", maxlength = "150" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.IDMunicipio, "Municipio")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.DropDownListFor(m => m.IDMunicipio, MunicipioRepositorio.ObtenerPredeterminados(soloConLocalidad:false), new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="pull-right">
                                @if (ViewBag.IdMunicipioRegresar > 0)
                                {
                                    @Html.ActionLinkCifradoConTexto(Resources.General.Regresar, "Index",
                                        "Localidad", "Catalogo", "btn btn-default btn-sm", "fa fa-angle-double-left",
                                        new Dictionary<string, int> { { "idMunicipio", ViewBag.IdMunicipioRegresar } })
                                }
                                else
                                {
                                    @Html.ActionLinkCifradoConTexto(Resources.General.Regresar, "Index", "Localidad", "Catalogo", "btn btn-default btn-sm", "fa fa-angle-double-left")
                                }
                                <button class="btn btn-primary btn-sm">
                                    <i class="fa fa-save"></i> @Resources.General.Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section FooterScripts{
<script type="text/javascript">
    $.validate({
        language: es
    });
</script>    
}