﻿@using Datos.Recursos
@using Datos.Repositorios.Catalogos
@using Presentacion.Helpers

@model Datos.DTO.Infraestructura.ViewModels.LocalidadViewModel

@{
    ViewBag.Title = General.BuscarLocalidad;
}

@using (Html.BeginForm())
{
    <div class="tarjeta">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 form-horizontal">
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="Localidad_Nombre">Nombre</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.Localidad.Nombre, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <div class="checkbox checkbox-success">
                                @Html.CheckBoxFor(m => m.Localidad.Habilitado)
                                @Html.LabelFor(m => m.Localidad.Habilitado)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 form-horizontal">
            @if (Model.Localidad.Municipio.IDMunicipio == 0)
            {
                <div class="col-xs-12 col-md-12 form-horizontal">

                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="Localidad_IDMunicipio">Municipio</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.DropDownListFor(m => m.Localidad.IDMunicipio, MunicipioRepositorio.ObtenerPredeterminados(), new {@class = "form-control input-sm"})
                        </div>
                    </div>
                </div>
            }
                <div class="col-xs-12 col-md-12">
                    @if (Model.Localidad.Municipio.IDMunicipio > 0)
                    {
                        @Html.ActionLinkCifradoConTexto("Nuevo", "Guardar", "Localidad", "Catalogo", "btn btn-sm btn-default pull-right m-l-5",
                            "fa fa-plus", new Dictionary<string, int> {{"idMunicipioRegresar", Model.Localidad.Municipio.IDMunicipio}})
                    }
                    else
                    {
                        @Html.ActionLinkCifradoConTexto("Nuevo", "Guardar", "Localidad", "Catalogo", "btn btn-sm btn-default pull-right m-l-5", "fa fa-plus", new Dictionary<string, int>())
                    }
                    <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> @Resources.General.Buscar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 m-t-10 m-b-10">
                <div class="col-md-6 bold">
                    @Html.DropDownListFor(m => m.TamanoPagina, Sistema.Listas.ObtenerListaCantidadPagina())
                    @Resources.General.TamanoPagina
                </div>
                <div class="col-md-6 text-right">
                    <label class="label label-success">
                        @Resources.General.Encontrados: @Model.TotalEncontrados
                    </label>
                </div>
            </div>
        </div>
        
        @if (Model.Localidad.Municipio.IDMunicipio > 0)
        {
            <div class="row">
                <div class="col-xs-12 col-md-9 form-horizontal">
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <ul class="breadcrumb f-s-14">
                            <li>
                                @Html.ActionLinkCifradoConTexto("Estado", "Index", "Municipio", "Catalogo", string.Empty, string.Empty)
                            </li>
                            <li>
                                @Html.ActionLinkCifradoConTexto(Model.Localidad.Municipio.Nombre, "Index", "Localidad", "Catalogo", string.Empty,
                                    string.Empty, new Dictionary<string, int> { { "idMunicipio", Model.Localidad.Municipio.IDMunicipio } })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="table-responsive no-borders">
                    <table class="table table-hover table-striped min-w-600" id="tblBusqueda">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Localidad.Nombre)</th>
                                <th>@Html.DisplayNameFor(m => m.Localidad.Municipio)</th>
                                <th>@Html.DisplayNameFor(m => m.Localidad.Estado)</th>
                                <th class="text-center">@General.Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var localidad in Model.Localidades)
                            {
                                <tr>
                                    <td>@localidad.Nombre</td>
                                    <td>@localidad.Municipio.Nombre</td>
                                    <td>@localidad.Estado.Nombre</td>
                                    <td class="text-center">
                                        @if (localidad.Habilitado)
                                        {
                                            @Html.ActionLinkCifrado(General.Modificar, "Guardar", "Localidad", "Catalogo",
                                                "btn btn-warning btn-circle m-l-2 m-r-2", "fa fa-pencil",
                                                new Dictionary<string, int> { { "idLocalidad", localidad.IDLocalidad },
                                                    {"idMunicipioRegresar", Model.Localidad.Municipio.IDMunicipio }})
                                            @Html.ActionLinkCifrado(General.Deshabilitar, "Deshabilitar", "Localidad", "Catalogo",
                                                "btn btn-danger btn-circle eliminar m-l-2 m-r-2", "fa fa-times",
                                                new Dictionary<string, int> { { "idLocalidad", localidad.IDLocalidad },
                                                    {"idMunicipioRegresar", Model.Localidad.Municipio.IDMunicipio }}, 
                                                new { id = "btnEliminar", @name = localidad.IDLocalidad })
                                        }
                                        else
                                        {
                                            @Html.ActionLinkCifrado(General.Habilitar, "Habilitar", "Localidad", "Catalogo",
                                                "btn btn-primary btn-circle m-l-2 m-r-2", "fa fa-check",
                                                new Dictionary<string, int> { { "idLocalidad", localidad.IDLocalidad },
                                                    {"idMunicipioRegresar", Model.Localidad.Municipio.IDMunicipio }})
                                        }
                                        @Html.ActionLinkCifrado(General.VerEdificios, "Index", "Edificio", "Catalogo",
                                            "btn btn-success btn-circle m-l-2 m-r-2", "fa fa-chevron-right",
                                            new Dictionary<string, int> { { "idLocalidad", localidad.IDLocalidad } })
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <div>
                                        @Html.Partial("Controls/_Paginacion", Model)
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
}

<script type="text/javascript">
@section DocumentOnReady
{
    var enlaceEnEspera;
    var confirmado = false;

    $("#tblBusqueda").tablesorter();

    $(document).off("click", "#btnEliminar");
    $(document).on("click", "#btnEliminar", function (e) {

        e.preventDefault();
        var href = this.href;

        swal({
            title: "¡Atención!",
            text: "¿Esta seguro que desea deshabilitar esta Localidad?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Aceptar",
            closeOnConfirm: false
        },
        function () {
            window.location.href = href;
            return true;
        });
    });

    $("#btnConfirmar").click(function (e) {
        e.preventDefault();
        confirmado = true;
        enlaceEnEspera.click();
    });
    }
</script>