﻿@using Datos.Recursos
@using Datos.Repositorios.Catalogos
@using Presentacion.Helpers
@model Datos.Entidad
@{
    ViewBag.Title = Model.IDEntidad > 0 ? General.ModificarEntidad : General.GuardarEntidad;
}
@using (Html.BeginForm())
{
    @Html.HiddenCifrado("IdPadre", Model.IDEntidadPadre.ToString())
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8 col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h5>Datos de la entidad</h5>
                        </div>
                    </div>
                </div>
                <div class="ibox-content form-horizontal">
                    @if (Model.EntidadPadre != null)
                    {
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                @Html.LabelFor(m => m.EntidadPadre, "Pertenece")
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                @Html.LabelFor(m => m.EntidadPadre, Model.EntidadPadre.Nombre)
                            </div>
                        </div>
                    }
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Clave, "Clave")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Clave, new { @class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max10", maxlength = "10" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Nombre, "Nombre")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Nombre, new {@class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max150", maxlength = "150"})
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Abreviacion, "Abreviación")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Abreviacion, new { @class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max10", maxlength = "10" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Responsable, "Responsable")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Responsable, new {@class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max100", maxlength = "100"})
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Puesto, "Puesto")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Puesto, new {@class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max100", maxlength = "100"})
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Email, "Correo electrónico")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Email, new {@class = "form-control input-sm", @data_validation = "required,length,email", @data_validation_length = "max30", maxlength = "30"})
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Direccion, "Dirección")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Direccion, new {@class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max200", maxlength = "200"})
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Telefono, "Teléfono")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Telefono, new {@class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max20", maxlength = "20"})
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Localidad.IDMunicipio, "Municipio")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.DropDownListFor(m => m.Localidad.IDMunicipio, MunicipioRepositorio.ObtenerPredeterminados(), new {@class = "form-control input-sm", @data_validation = "required"})
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.IDLocalidad, "Localidad")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.LocalidadDdl(m => m.IDLocalidad, Model.Localidad.IDEstado, Model.Localidad.IDMunicipio, dataValidation: "required")
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="pull-right">
                                @{
                                    if (Model.IDEntidadPadre > 0)
                                    {
                                        @Html.ActionLinkCifradoConTexto(Resources.General.Regresar, "Index", "Entidad", "Catalogo", 
                                        "btn btn-default btn-sm", "fa fa-angle-double-left", 
                                        new Dictionary<string, int> { {"IdPadre", Model.IDEntidadPadre.Value} })
                                    }
                                    else
                                    {
                                        @Html.ActionLinkCifradoConTexto(Resources.General.Regresar, "Index", "Entidad", "Catalogo", 
                                        "btn btn-default btn-sm", "fa fa-angle-double-left")
                                    }
                                }
                                <button class="btn btn-primary btn-sm">
                                    <i class="fa fa-save"></i> @Resources.General.Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section FooterScripts{
    <script type="text/javascript">
        $.validate({
            language: es,
            modules: 'security'
        });
    </script>
}