﻿@using Datos.Recursos
@using Presentacion.Helpers
@using Sistema.Extensiones

@model Datos.DTO.Infraestructura.ViewModels.EntidadViewModel

@{
    ViewBag.Title = General.BuscarEntidad;
}

@using (Html.BeginForm())
{
    <div class="tarjeta">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 form-horizontal">
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="Entidad_Nombre">Nombre</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.Entidad.Nombre, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <div class="checkbox checkbox-success">
                                @Html.CheckBoxFor(m => m.Entidad.Habilitado)
                                @Html.LabelFor(m => m.Entidad.Habilitado)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-horizontal">
                <div class="col-md-12 form-horizontal">
                    @{
                        var idPadre = Model.IdPadre.DecodeFrom64().TryToInt();

                        if (idPadre > 0)
                        {
                            @Html.ActionLinkCifradoConTexto("Nuevo", "Guardar", "Entidad", "Catalogo", 
                            "btn btn-sm btn-default pull-right m-l-5", "fa fa-plus", 
                            new Dictionary<string, int> {{"IdPadre", Model.IdPadre.DecodeFrom64().TryToInt()}})
                        }
                        else
                        {
                            @Html.ActionLinkCifradoConTexto("Nuevo", "Guardar", "Entidad", "Catalogo", 
                            "btn btn-sm btn-default pull-right m-l-5", "fa fa-plus")
                        }
                    }
                    <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> @Resources.General.Buscar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 m-t-10 m-b-10">
                <div class="col-md-6 bold">
                    @Html.DropDownListFor(m => m.TamanoPagina, Sistema.Listas.ObtenerListaCantidadPagina())
                    @Resources.General.TamanoPagina
                </div>
                <div class="col-md-6 text-right">
                    <label class="label label-success">
                        @Resources.General.Encontrados: @Model.TotalEncontrados
                    </label>
                </div>
            </div>
        </div>
        
        @if (Model.Entidad.EntidadPadre != null)
        {
            <div class="row">
                <div class="col-xs-12 col-md-9 form-horizontal">
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <ul class="breadcrumb f-s-14">
                            <li>
                                @Html.ActionLinkCifradoConTexto("Subir", "Index", "Entidad", "Catalogo",
                                    "", "", new Dictionary<string, int> { { "IdPadre", Model.Entidad.EntidadPadre.IDEntidadPadre ?? 0 } })
                            </li>
                            <li>
                                @Model.Entidad.EntidadPadre.Nombre
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="table-responsive no-borders">
                    <table class="table table-hover table-striped min-w-600" id="tblBusqueda">
                        <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.Entidad.Clave)</th>
                            <th>@Html.DisplayNameFor(m => m.Entidad.Nombre)</th>
                            <th>@Html.DisplayNameFor(m => m.Entidad.Localidad)</th>
                            <th>@Html.DisplayNameFor(m => m.Entidad.FechaCreacion)</th>
                            <th>@Html.DisplayNameFor(m => m.Entidad.FechaModificacion)</th>
                            <th class="text-center">@General.Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var entidad in Model.Entidades)
                        {
                            <tr>
                                <td>@entidad.Clave</td>
                                <td>
                                    @entidad.Nombre <small>(@entidad.Abreviacion)</small>
                                    <br/>
                                    <small>@entidad.Responsable (@entidad.Puesto)</small>
                                </td>
                                <td>@entidad.Localidad.Nombre</td>
                                <td>@entidad.FechaCreacion.ToString("d")</td>
                                <td>@entidad.FechaModificacion.ToString("d")</td>
                                <td class="text-center">
                                    @if (entidad.Habilitado)
                                    {
                                        @Html.ActionLinkCifradoNuevaTab(General.PlurarUsuario, "Index", "Usuario", "Catalogo",
                                            "btn btn-default btn-circle m-l-2 m-r-2", "fa fa-user",
                                            new Dictionary<string, int> {{"idEntidad", entidad.IDEntidad}})
                                        @Html.ActionLinkCifradoNuevaTab(General.PlurarCuadroArchivistico, "Index", "Serie", "Catalogo",
                                            "btn btn-primary btn-circle m-l-2 m-r-2", "fa fa-tags",
                                            new Dictionary<string, int> {{"idEntidad", entidad.IDEntidad}})
                                        @Html.ActionLinkCifradoNuevaTab(General.PlurarContenedor, "Index", "Contenedor", "Catalogo",
                                            "btn btn-info btn-circle m-l-2 m-r-2", "fa fa-archive",
                                            new Dictionary<string, int> {{"idEntidad", entidad.IDEntidad}})
                                        <br/>@Html.ActionLinkCifrado(General.Modificar, "Guardar", "Entidad", "Catalogo",
                                            "btn btn-warning btn-circle m-l-2 m-r-2", "fa fa-pencil",
                                            new Dictionary<string, int> {{"idEntidad", entidad.IDEntidad}})
                                        @Html.ActionLinkCifrado(General.Deshabilitar, "Deshabilitar", "Entidad", "Catalogo",
                                            "btn btn-danger btn-circle eliminar m-l-2 m-r-2", "fa fa-times",
                                            new Dictionary<string, int> {{"idEntidad", entidad.IDEntidad}}, 
                                            new {@id = "btnEliminar", @name = entidad.IDEntidad})
                                    }
                                    else
                                    {
                                        @Html.ActionLinkCifrado(General.Habilitar, "Habilitar", "Entidad", "Catalogo",
                                            "btn btn-primary btn-circle  m-l-2 m-r-2", "fa fa-check",
                                            new Dictionary<string, int> {{"idEntidad", entidad.IDEntidad}})
                                    }@Html.ActionLinkCifrado(General.VerEntidadesDependientes, "Index", "Entidad", "Catalogo",
                                         "btn btn-success btn-circle m-l-2 m-r-2", "fa fa-chevron-right",
                                         new Dictionary<string, int> { { "IdPadre", entidad.IDEntidad } })
                                </td>
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7">
                                <div>
                                    @Html.Partial("Controls/_Paginacion", Model)
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
}

<script type="text/javascript">
    @section DocumentOnReady
    {
    var enlaceEnEspera;
    var confirmado = false;

    $("#tblBusqueda").tablesorter();

    $(document).off("click", "#btnEliminar");
    $(document).on("click", "#btnEliminar", function (e) {
        e.preventDefault();
        var href = this.href;

        swal({
            title: "¡Atención!",
            text: "¿Esta seguro que desea deshabilitar esta entidad?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Aceptar",
            closeOnConfirm: false
        },
        function () {
            window.location.href = href;
            return true;
        });
    });

    $("#btnConfirmar").click(function (e) {
        e.preventDefault();
        confirmado = true;
        enlaceEnEspera.click();
    });
    }
</script>