﻿@using Datos.Recursos
@using Datos.Repositorios.Catalogos
@using Presentacion.Helpers

@model Datos.DTO.Infraestructura.ViewModels.NivelViewModel

@{
    ViewBag.Title = General.BuscarNiveles;
}

@using (Html.BeginForm())
{
    <div class="tarjeta">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 form-horizontal">
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="Nivel_Nombre">Nombre</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.Nivel.Nombre, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <div class="checkbox checkbox-success">
                                @Html.CheckBoxFor(m => m.Nivel.Habilitado)
                                @Html.LabelFor(m => m.Nivel.Habilitado)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 form-horizontal">
                @if (Model.Nivel.Edificio.IDEdificio == 0)
                {
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="Nivel_Edificio_Localidad_IDMunicipio">Municipio</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.DropDownListFor(m => m.Nivel.Edificio.Localidad.IDMunicipio, 
                                    MunicipioRepositorio.ObtenerPredeterminados(), new {@class = "form-control input-sm"})
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="Nivel_Edificio_IDLocalidad">Localidad</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.LocalidadDdl(m => m.Nivel.Edificio.IDLocalidad, 
                                    Model.Nivel.Edificio.Localidad.IDEstado, 
                                    Model.Nivel.Edificio.Localidad.IDMunicipio)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-3">
                                <label for="Nivel_IDEdificio">Edificio</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.EdificioDdl(m => m.Nivel.IDEdificio, 
                                    Model.Nivel.Edificio.IDLocalidad)
                            </div>
                        </div>
                    </div>
                }
                <div class="col-xs-12 col-md-12">
                    @if (Model.Nivel.Edificio.IDEdificio > 0)
                    {
                        @Html.ActionLinkCifradoConTexto("Nuevo", "Guardar", "Nivel", "Catalogo", "btn btn-sm btn-default pull-right m-l-5",
                            "fa fa-plus", new Dictionary<string, int> { { "idEdificioRegresar", Model.Nivel.Edificio.IDEdificio} })
                    }
                    else
                    {
                        @Html.ActionLinkCifradoConTexto("Nuevo", "Guardar", "Nivel", "Catalogo", "btn btn-sm btn-default pull-right m-l-5", "fa fa-plus")
                    }
                    <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> @Resources.General.Buscar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 m-t-10 m-b-10">
                <div class="col-md-6 bold">
                    @Html.DropDownListFor(m => m.TamanoPagina, Sistema.Listas.ObtenerListaCantidadPagina())
                    @Resources.General.TamanoPagina
                </div>
                <div class="col-md-6 text-right">
                    <label class="label label-success">
                        @Resources.General.Encontrados: @Model.TotalEncontrados
                    </label>
                </div>
            </div>
        </div>
        
        @if (Model.Nivel.Edificio.IDEdificio > 0)
        {
            <div class="row">
                <div class="col-xs-12 col-md-9 form-horizontal">
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <ul class="breadcrumb f-s-14">
                            <li>
                                @Html.ActionLinkCifradoConTexto("Estado", "Index", "Municipio", "Catalogo", string.Empty, string.Empty)
                            </li>
                            <li>
                                @Html.ActionLinkCifradoConTexto(Model.Nivel.Edificio.Localidad.Municipio.Nombre, "Index", "Localidad", "Catalogo", string.Empty,
                                    string.Empty, new Dictionary<string, int> {{"idMunicipio", Model.Nivel.Edificio.Localidad.IDMunicipio}})
                            </li>
                            <li>
                                @Html.ActionLinkCifradoConTexto(Model.Nivel.Edificio.Localidad.Nombre, "Index", "Edificio", "Catalogo", string.Empty,
                                    string.Empty, new Dictionary<string, int> {{"idLocalidad", Model.Nivel.Edificio.Localidad.IDLocalidad}})
                            </li>
                            <li>
                                @Html.ActionLinkCifradoConTexto(Model.Nivel.Edificio.Nombre, "Index", "Nivel", "Catalogo", string.Empty,
                                    string.Empty, new Dictionary<string, int> {{"idEdificio", Model.Nivel.Edificio.IDEdificio}})
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="table-responsive no-borders">
                    <table class="table table-hover table-striped min-w-600" id="tblBusqueda">
                        <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.Nivel.Nombre)</th>
                            <th>@Html.DisplayNameFor(m => m.Nivel.Edificio)</th>
                            <th>@Html.DisplayNameFor(m => m.Nivel.Edificio.Localidad)</th>
                            <th>@Html.DisplayNameFor(m => m.Nivel.Edificio.Localidad.Municipio)</th>
                            <th class="text-center">@General.Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var nivel in Model.Niveles)
                        {
                            <tr>
                                <td>@nivel.Nombre</td>
                                <td>@nivel.Edificio.Nombre</td>
                                <td>@nivel.Edificio.Localidad.Nombre</td>
                                <td>@nivel.Edificio.Localidad.Municipio.Nombre</td>
                                <td class="text-center">
                                    @if (nivel.Habilitado)
                                    {
                                        @Html.ActionLinkCifrado(General.Modificar, "Guardar", "Nivel", "Catalogo",
                                            "btn btn-warning btn-circle m-l-2 m-r-2", "fa fa-pencil",
                                            new Dictionary<string, int> {{"idNivel", nivel.IDNivel},
                                                { "idEdificioRegresar", Model.Nivel.Edificio.IDEdificio} })
                                        @Html.ActionLinkCifrado(General.Deshabilitar, "Deshabilitar", "Nivel", "Catalogo",
                                            "btn btn-danger btn-circle eliminar m-l-2 m-r-2", "fa fa-times",
                                            new Dictionary<string, int> { { "idNivel", nivel.IDNivel },
                                                { "idEdificioRegresar", Model.Nivel.Edificio.IDEdificio} })
                                    }
                                    else
                                    {
                                        @Html.ActionLinkCifrado(General.Habilitar, "Habilitar", "Nivel", "Catalogo",
                                            "btn btn-primary btn-circle m-l-2 m-r-2", "fa fa-check",
                                            new Dictionary<string, int> { { "idNivel", nivel.IDNivel },
                                                { "idEdificioRegresar", Model.Nivel.Edificio.IDEdificio} })
                                    }
                                    @Html.ActionLinkCifrado(General.VerAreas, "Index", "Area", "Catalogo",
                                        "btn btn-success btn-circle m-l-2 m-r-2", "fa fa-chevron-right",
                                        new Dictionary<string, int> { { "idNivel", nivel.IDNivel } })
                                </td>
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <div>
                                    @Html.Partial("Controls/_Paginacion", Model)
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
}

<script type="text/javascript">
    @section DocumentOnReady
    {
    var enlaceEnEspera;
    var confirmado = false;

    $("#tblBusqueda").tablesorter();

    $(document).off("click", "#btnEliminar");
    $(document).on("click", "#btnEliminar", function (e) {

        e.preventDefault();
        var href = this.href;

        swal({
            title: "¡Atención!",
            text: "¿Esta seguro que desea deshabilitar este Nivel?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Aceptar",
            closeOnConfirm: false
        },
        function () {
            window.location.href = href;
            return true;
        });
    });

    $("#btnConfirmar").click(function (e) {
        e.preventDefault();
        confirmado = true;
        enlaceEnEspera.click();
    });
    }
</script>