﻿@using Datos.Recursos
@using Presentacion.Helpers
@model Datos.Puesto

@{
    ViewBag.Title = General.GuardarPuesto;
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8 col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            @if (Model?.IDPuesto > 0)
                            {
                                <h5>Editar datos del puesto</h5>
                            }
                            else
                            {
                                <h5>Datos del nuevo puesto</h5>
                            }
                        </div>
                    </div>
                </div>
                <div class="ibox-content form-horizontal">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Nombre, "Nombre")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max50", maxlength = "50" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Descripcion, "Descripción")
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control input-sm", @data_validation = "required,length", @data_validation_length = "max50", maxlength = "50" })
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="pull-right">
                                @Html.ActionLinkCifradoConTexto(Resources.General.Regresar, "Index", "Puesto", "Catalogo", "btn btn-default btn-sm", "fa fa-angle-double-left", new Dictionary<string, int>())
                                <button class="btn btn-primary btn-sm">
                                    <i class="fa fa-save"></i> @Resources.General.Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- Footer Scripts -->
@section FooterScripts{
    <script type="text/javascript">
        $.validate({
            language: es,
            modules: 'security'
        });
    </script>
}
<!-- End Footer Scripts -->