﻿@using Datos.Recursos
@using Presentacion.Helpers
@using Sistema

@model Datos.DTO.Infraestructura.ViewModels.PuestoViewModel

@{
    ViewBag.Title = General.BuscarPuesto;
}

@using (Html.BeginForm())
{
    <div class="tarjeta">
        @{ Html.EnableClientValidation(false); }

        <div class="row">
            <div class="col-xs-12 col-md-6 form-horizontal">
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            @Html.LabelFor(m => m.Puesto.Nombre)
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.Puesto.Nombre, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            @*@Html.LabelFor(m => m.Puesto.Habilitado)*@
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <div class="checkbox checkbox-success">
                                @Html.CheckBoxFor(m => m.Puesto.Habilitado)
                                @Html.LabelFor(m => m.Puesto.Habilitado)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 form-horizontal">
                <div class="col-md-12">
                    <a class="btn btn-sm btn-default m-l-10 pull-right" href="@Url.Action("Guardar", "Puesto", new { @area = "Catalogo" })"><i class="fa fa-plus"></i> Nuevo</a>
                    <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> @Resources.General.Buscar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 m-t-10 m-b-10">
                <div class="col-md-6 bold">
                    @Html.DropDownListFor(m => m.TamanoPagina, Listas.ObtenerListaCantidadPagina())
                    @General.TamanoPagina
                </div>
                <div class="col-md-6 text-right">
                    <label class="label label-success">
                        @General.Encontrados: @Model.TotalEncontrados
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="table-responsive no-borders">
                    <table class="table table-hover table-striped min-w-600" id="tblBusqueda">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Puesto.Nombre)</th>
                                <th>Descripción</th>
                                <th class="text-center">@General.Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var puesto in Model.Puestos)
                            {
                                <tr>
                                    <td>@puesto.Nombre</td>
                                    <td>@puesto.Descripcion</td>
                                    <td class="text-center">

                                        @if (puesto.Habilitado)
                                        {

                                            @Html.ActionLinkCifrado(General.Modificar, "Guardar", "Puesto", "Catalogo",
                                                            "btn btn-warning btn-circle", "fa fa-pencil",
                                                            new Dictionary<string, int> { { "idPuesto", puesto.IDPuesto } })

                                            @Html.ActionLinkCifrado(Resources.General.Deshabilitar, "Deshabilitar", "Puesto", "Catalogo",
                                            "btn btn-danger btn-circle deshabilitar", "fa fa-times",
                                            new Dictionary<string, int> { { "IDPuesto", puesto.IDPuesto } }, new { @id = "btnEliminar", @name = puesto.IDPuesto })
                                        }
                                        else
                                        {
                                            @Html.ActionLinkCifrado(General.Habilitar, "Habilitar", "Puesto", "Catalogo",
                                                            "btn btn-primary btn-circle habilitar", "fa fa-check",
                                                            new Dictionary<string, int> { { "idPuesto", puesto.IDPuesto } })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div>
                    @Html.Partial("_Paginacion", Model)
                </div>
            </div>
        </div>
    </div>
}

<!-- $(document).on("ready") Scripts -->
<script type="text/javascript">
    @section DocumentOnReady { 
    // Aplicar sorteo por columna a la tabla
    $("#tblBusqueda").tablesorter();

    // Eventos
    $(document).off("click", "#btnEliminar");
    $(document).on("click", "#btnEliminar", function (e) {

        var href = this.href;

        e.preventDefault();
        swal({
            title: "¡Atención!",
            text: "¿Esta seguro que desea deshabilitar este Puesto?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Aceptar",
            closeOnConfirm: false
        },
        function () {
            window.location.href = href;
            return true;
        });
    });
    }
</script>
<!-- End $(document).on("ready") Scripts -->


