﻿@using Datos
@using Datos.Recursos
@using Datos.Repositorios.Configuracion
@using Presentacion.Helpers
@using Sistema.Extensiones

@model Datos.DTO.Infraestructura.ViewModels.CuadroArchivisticoViewModel

@{
    ViewBag.Title = Resources.General.BuscarSubfondo;
}

@using (Html.BeginForm())
{
    <div class="tarjeta">
        <div class="row">
            <div class="col-xs-12 col-md-6 form-horizontal">
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="CuadroArchivistico_Fondo">Clave:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.TextBoxFor(m => m.CuadroArchivistico.Clave, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            &nbsp;
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <div class="checkbox checkbox-success">
                                @Html.CheckBoxFor(m => m.CuadroArchivistico.Habilitado)
                                @Html.LabelFor(m => m.CuadroArchivistico.Habilitado)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 form-horizontal">
            @if (@Model.CuadroArchivistico.IDPadreCuadroArchivistico == 0)
            {
                <div class="col-xs-12 col-md-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <label for="CuadroArchivistico_IDPadreCuadroArchivistico">Fondo:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @{
                                var fondos = CuadroArchivisticoRepositorio.BuscarTipo(TiposCuadroArchivistico.Fondo);
                                if(fondos.Count == 2) { Model.IdFondo = fondos.Last().Value.ToInt(); }
                            }
                            @Html.DropDownListFor(m => m.IdFondo, fondos, new {@class = "form-control input-sm"})
                        </div>
                    </div>
                </div>
            }
                <div class="col-xs-12 col-md-12">
                    @Html.ActionLinkCifradoConTexto("Nuevo", "Guardar", "Subfondo", "Catalogo",
                        "btn btn-sm btn-default pull-right m-l-5", "fa fa-plus",
                        new Dictionary<string, int> {{"IdPadre", Model.IdPadre.DecodeFrom64().TryToInt()}})
                    <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> @Resources.General.Buscar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 m-t-10 m-b-10 ">
                <div class="col-md-6 bold">
                    @Html.DropDownListFor(m => m.TamanoPagina, Sistema.Listas.ObtenerListaCantidadPagina())
                    @Resources.General.TamanoPagina
                </div>
                <div class="col-md-6 text-right">
                    <label class="label label-success">
                        @Resources.General.Encontrados: @Model.TotalEncontrados
                    </label>
                </div>
            </div>
        </div>
        
        @if (Model.CuadroArchivistico.IDPadreCuadroArchivistico > 0)
        {
            <div class="row">
                <div class="col-xs-12 col-md-9 form-horizontal">
                    <div class="col-xs-12 col-md-12 form-horizontal">
                        <ul class="breadcrumb f-s-14">
                            <li>
                                @Html.ActionLinkCifradoConTexto("Cuadro Archivístico", "Index", "Fondo", "Catalogo", string.Empty, string.Empty)
                            </li>
                            <li>
                                @Html.ActionLinkCifradoConTexto(Model.CuadroArchivistico.PadreCuadroArchivistico.Nombre, "Index", "Subfondo", "Catalogo", string.Empty,
                                    string.Empty, new Dictionary<string, int> { { "idPadre", Model.CuadroArchivistico.IDPadreCuadroArchivistico ?? 0 } })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="table-responsive no-borders">
                    <table class="table table-hover table-striped min-w-700" id="tblBusqueda">
                        <thead>
                            <tr>
                                <th>Subfondo</th>
                                <th>Fondo</th>
                                <th>Fecha de creacion</th>
                                <th>Fecha de modificacion</th>
                                <th class="text-center">@Resources.General.Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var cuadroArchivistico in Model.CuadroArchivisticos)
                                {
                                    cuadroArchivistico.GenerarJerarquia();
                                    var subfondo = cuadroArchivistico.CuadroArchivistico;                                    
                                    <tr>
                                        <td>
                                            <strong>@subfondo.Clave></strong>
                                            <br/>
                                            @subfondo.Nombre
                                        </td>
                                        <td>
                                        <td>@subfondo.PadreCuadroArchivistico.Nombre</td>
                                        <td>@subfondo.FechaCreacion.Date.ToString("d")</td>
                                        <td>@subfondo.FechaModificado.Date.ToString("d")</td>
                                        <td class="text-center">
                                            @if (subfondo.Habilitado)
                                            {
                                                @Html.ActionLinkCifrado(General.Modificar, "Guardar", "Subfondo", "Catalogo",
                                                    "btn btn-warning btn-circle m-l-2 m-r-2", "fa fa-pencil",
                                                    new Dictionary<string, int> {
                                                        { "IDCuadroArchivistico", subfondo.IDCuadroArchivistico},
                                                        { "IdPadre", Model.IdPadre.DecodeFrom64().TryToInt()}
                                                })

                                                @Html.ActionLinkCifrado(Resources.General.Deshabilitar, "Deshabilitar", "Subfondo", "Catalogo",
                                                    "btn btn-danger btn-circle m-l-2 m-r-2 deshabilitar", "fa fa-times",
                                                    new Dictionary<string, int> { { "IDCuadroArchivistico", subfondo.IDCuadroArchivistico },
                                                        { "IdPadre", Model.IdPadre.DecodeFrom64().TryToInt()} }, new { @id = "btnEliminar", @name = subfondo.IDCuadroArchivistico })
                                            }
                                            else
                                            {
                                                @Html.ActionLinkCifrado(Resources.General.Habilitar, "Habilitar", "Subfondo", "Catalogo",
                                                    "btn btn-primary btn-circle habilitar", "fa fa-check",
                                                    new Dictionary<string, int> { { "IDCuadroArchivistico", subfondo.IDCuadroArchivistico },
                                                        { "IdPadre", Model.IdPadre.DecodeFrom64().TryToInt()} })
                                            }
                                            <a class="btn btn-success btn-circle" title="Ver secciones"
                                               href="@Url.Action("Index", "Seccion", new {idPadre = subfondo.IDCuadroArchivistico.ToString().EncodeTo64()})">
                                                Se
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div>
                    @Html.Partial("Controls/_Paginacion", Model)
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    @section DocumentOnReady
    {
    $("#tblBusqueda").tablesorter();
    // Eventos
    $(document).off("click", "#btnEliminar");
    $(document).on("click", "#btnEliminar", function (e) {

        e.preventDefault();
        var href = this.href;

        swal({
            title: "¡Atención!",
            text: "¿Esta seguro que desea deshabilitar este Subfondo?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Aceptar",
            closeOnConfirm: false
        },
        function () {
            window.location.href = href;
            return true;
        });
    });
}
</script>