﻿@{
    Layout = "~/Views/Shared/Layouts/_LayoutError404.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/font-awesome.css" rel="stylesheet">
    <link href="/Content/css/animate.css" rel="stylesheet">
    <link href="/Content/css/style.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1><b>404</b></h1>
        <h2><b>Ha habido un error con la pagina que estaba buscando.</b></h2>
        <h3><b>Es posible que la entrada halla sido eliminada o que la direccion no exista</b></h3>
    </div>
        <script src="~/Content/js/libs/jquery-2.1.1.js"></script>
        <script src="/Content/js/libs/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $(window).resize(function () {
                    $('#caja').css("padding-top", altura.alturaVentana);
                });

                $(window).resize();
            });

            var altura = (function () {
                var alturaVentana = $(window).height() / 2;
                var alturaCaja = $("#caja").height() / 2;
                return {
                    alturaVentana: alturaVentana - alturaCaja - 30
                };
            })();
        </script>
    </body>
</html>
