﻿@using Datos.Recursos;
@using Presentacion.Helpers
@{
    Layout = "~/Views/Shared/Layouts/_LayoutError404.cshtml";
    ViewBag.Title = "Error";
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/font-awesome.css" rel="stylesheet">
    <link href="/Content/css/animate.css" rel="stylesheet">
    <link href="/Content/css/style.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="middle-box text-center animated fadeInDown">
    <h1><b>500</b></h1>
    <h2><b>Error interno del servidor</b></h2>
    <h2><b>Lo sentimos algo salio mal.</b></h2>
    <h3>Trata de volver a cargar esta pagina o no dudes en contactar con nosotros si el problema persiste</h3>
</div>
<script src="/Content/js/bootstrap.min.js"></script>
</body>
</html>
@section FooterScripts
{
    <script type="text/javascript">
        $(function () {
            $(window).resize(function () {
                $('#caja').css("padding-top", altura.alturaVentana);
            });

            $(window).resize();
        });

        var altura = (function () {
            var alturaVentana = $(window).height() / 2;
            var alturaCaja = $("#caja").height() / 2;
            return {
                alturaVentana: alturaVentana - alturaCaja - 30
            };
        })();
    </script>
}

