﻿@using Datos.Recursos;
@using Presentacion.Helpers
@{
    Layout = "~/Views/Shared/Layouts/_LayoutError404.cshtml";
    ViewBag.Title = "Error403";
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/font-awesome.css" rel="stylesheet">
    <link href="/Content/css/animate.css" rel="stylesheet">
    <link href="/Content/css/style.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1><b>403</b></h1>
        <h2><b>Lo sentimos, pero no esta autorizado para ver esta pagina.</b></h2>
    </div>
    <script src="/Content/js/jquery-2.1.1.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
</body>
</html>
@section FooterScripts
{
    <script type="text/javascript">
        $(function () {
            $(window).resize(function () {
                $('#caja').css("padding-top", altura.alturaVentana);
            });

            $(window).resize();
        });

        var altura = (function () {
            var alturaVentana = $(window).height() / 2;
            var alturaCaja = $("#caja").height() / 2;
            return {
                alturaVentana: alturaVentana - alturaCaja - 30
            };
        })();
    </script>
}
