﻿@using System.Globalization
@using Datos
@using Datos.Repositorios.Catalogos
@using Datos.Repositorios.Configuracion
@using Sistema
@using Sistema.Extensiones
@using Presentacion.Helpers

@model Datos.DTO.Infraestructura.ViewModels.ExpedienteBuscarViewModel

@{
    ViewBag.Title = Resources.General.ReportesExpediente;
    ViewBag.NavBarClass = "mini-navbar";
}

@section HeaderScripts
{
    <link rel="stylesheet" href="~/Content/css/bootstrap-select.min.css" />
}

@using (Html.BeginForm())
{
    <div class="tarjeta">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12">
                    <h5>Cuadro Archivístico</h5>

                    <div class="col-md-12 p-all-0">
                        <hr class="m-all-5" />
                    </div>
                    <div class="col-md-12 form-horizontal p-all-0">
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <label for="IdFondo">Fondo:</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @{
                                    var fondos = CuadroArchivisticoRepositorio.BuscarTipo(TiposCuadroArchivistico.Fondo, Model.Expediente.IDEntidad);
                                    if (fondos.Count == 2)
                                    {
                                        Model.IdFondo = fondos.Last().Value.ToInt();
                                    }
                                    @Html.DropDownListFor(m => m.IdFondo, fondos, new { @class = "form-control input-sm" })
                                }
                            </div>
                        </div>
                        <div class="row @(Model.IdFondo > 0 ? string.Empty : "hidden")">
                            <div class="col-xs-12 col-md-3">
                                Subfondo:
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.CuadroArchivisticoDdl(m => m.IdSubfondo, Model.IdFondo, TiposCuadroArchivistico.Subfondo, Model.Expediente.IDEntidad)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <label for="IdSeccion">Sección:</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.CuadroArchivisticoDdl(m => m.IdSeccion, Model.IdSubfondo > 0 ? Model.IdSubfondo : Model.IdFondo, TiposCuadroArchivistico.Seccion, Model.Expediente.IDEntidad)
                            </div>
                        </div>
                        <div class="row @(Model.IdSeccion > 0 ? string.Empty : "hidden")">
                            <div class="col-xs-12 col-md-3">
                                Subsección:
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.CuadroArchivisticoDdl(m => m.IdSubseccion, Model.IdSeccion, TiposCuadroArchivistico.Subseccion, Model.Expediente.IDEntidad)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <label for="IdSerie">Serie:</label>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.CuadroArchivisticoDdl(m => m.IdSerie, Model.IdSubseccion > 0 ? Model.IdSubseccion : Model.IdSeccion, TiposCuadroArchivistico.Serie, Model.Expediente.IDEntidad)
                            </div>
                        </div>
                        <div class="row  @(Model.IdSerie > 0 ? string.Empty : "hidden")">
                            <div class="col-xs-12 col-md-3">
                                Subserie:
                            </div>
                            <div class="col-xs-12 col-md-9">
                                @Html.CuadroArchivisticoDdl(m => m.IdSubserie, Model.IdSerie, TiposCuadroArchivistico.Subserie, Model.Expediente.IDEntidad)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-t-10">
                    <h5>Entidad</h5>
                    <div class="col-md-12 p-all-0">
                        <hr class="m-all-5" />
                    </div>
                    <div class="col-md-12 p-all-0">
                        @if (Model.Expediente.IDEntidad > 0)
                        {
                            @Html.DropDownListFor(m => m.Expediente.IDEntidad, EntidadRepositorio.Buscar(string.Empty),
                            new
                            {
                                @class = "form-control input-sm selectpicker",
                                data_live_search = "true",
                                @disabled = "disabled"
                            })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.Expediente.IDEntidad, EntidadRepositorio.Buscar(string.Empty),
                            new
                            {
                                @class = "form-control input-sm selectpicker",
                                data_live_search = "true"
                            })
                        }
                        @Html.Partial("_EntidadDdl", true)
                    </div>
                </div>
                <div class="col-md-12 p-t-10">
                    <h5>Usuario</h5>
                    <div class="col-md-12 p-all-0">
                        <hr class="m-all-5" />
                    </div>
                    <div class="col-md-12 p-all-0">
                        @Html.DropDownListFor(m => m.Expediente.IDUsuario, UsuarioRepositorio.Buscar(Model.Expediente.IDEntidad),
                        new
                        {
                            @class = "form-control input-sm selectpicker",
                            data_live_search = "true",
                            data_size = 8
                        })
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-all-0">
                <h5>Expediente</h5>

                <div class="col-md-12 p-all-0">
                    <hr class="m-all-5" />
                </div>
                <div class="col-md-12 p-all-0">
                    <div class="col-xs-12 col-md-5 p-all-0">
                        <label for="NumeroExpediente">Núm. expediente:</label>
                    </div>
                    <div class="col-xs-12 col-md-7 p-all-0">
                        @Html.TextBoxFor(m => m.NumeroExpediente, new { @class = "form-control input-sm text-right" })
                    </div>
                </div>
                <div class="col-md-12 p-all-0 p-t-15 p-b-10">
                    <div class="col-md-5 p-all-0">
                        <label>Estado Expediente:</label>
                    </div>
                    <div class="col-md-3 p-all-0">
                        <div class="checkbox checkbox-success m-all-0">
                            @Html.CheckBoxFor(m => m.MostrarProceso)
                            @Html.LabelFor(m => m.MostrarProceso, "Proceso")
                        </div>
                    </div>
                    <div class="col-md-4 p-all-0">
                        <div class="checkbox checkbox-success m-all-0">
                            @Html.CheckBoxFor(m => m.MostrarConcluido)
                            @Html.LabelFor(m => m.MostrarConcluido, "Concluido")
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-all-0 p-t-5">
                    <div>
                        <label>Fecha apertura</label>
                    </div>
                    <div class="col-md-6 p-all-0 p-r-5" id="contenedorFechaAperturaInicio">
                        <div class="input-group">
                            <div class="btn gray-bg input-group-addon" for="FechaAperturaInicio">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.TextBoxFor(m => m.FechaAperturaInicio, "{0:dd/MM/yyyy}", new
                       {
                           @class = "form-control input-sm",
                           placeholder = "Inicio",
                           data_validation_error_msg_container = "contenedorFechaAperturaInicio"
                       })
                        </div>
                    </div>
                    <div class="col-md-6 p-all-0 p-l-5" id="contenedorFechaAperturaFin">
                        <div class="input-group">
                            <label class="btn gray-bg input-group-addon" for="FechaAperturFin"><i class="fa fa-calendar"></i></label>
                            @Html.TextBoxFor(m => m.FechaAperturaFin, "{0:dd/MM/yyyy}", new
                       {
                           @class = "form-control input-sm",
                           placeholder = "Fin",
                           data_validation_error_msg_container = "contenedorFechaAperturaFin"
                       })
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-all-0 p-t-5">
                    <div>
                        <label>Fecha cierre</label>
                    </div>
                    <div class="col-md-6 p-all-0 p-r-5" id="contenedorFechaCierreInicio">
                        <div class="input-group">
                            <div class="btn gray-bg input-group-addon" for="FechaApertura">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.TextBoxFor(m => m.FechaCierreInicio, "{0:dd/MM/yyyy}", new
                       {
                           @class = "form-control input-sm",
                           placeholder = "Inicio",
                           data_validation_error_msg_container = "contenedorFechaCierreInicio"
                       })
                        </div>
                    </div>
                    <div class="col-md-6 p-all-0 p-l-5" id="contenedorFechaCierreFin">
                        <div class="input-group">
                            <label class="btn gray-bg input-group-addon" for="FechaCierre"><i class="fa fa-calendar"></i></label>
                            @Html.TextBoxFor(m => m.FechaCierreFin, "{0:dd/MM/yyyy}", new
                       {
                           @class = "form-control input-sm",
                           placeholder = "Fin",
                           data_validation_error_msg_container = "contenedorFechaCierreFin"
                       })
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-all-0 p-t-10">
                    <label>Título / Sintesis del asunto / Folio</label>
                    @Html.TextBoxFor(m => m.Expediente.Titulo, new { @class = "form-control input-sm", maxlength = "200" })
                </div>
                <div class="col-md-6 p-all-0 p-t-5 p-r-10">
                    <label>Disposición documental</label>
                    <div class="col-md-12 p-all-0">
                        @Html.DropDownListFor(m => m.Expediente.Cadido.IDDisposicionDocumental, Listas.ObtenerListaDisposicionDocumental(),
                        new
                        {
                            @class = "form-control input-sm"
                        })
                    </div>
                </div>
                <div class="col-md-6 p-all-0 p-t-5 p-l-10">
                    <label>Clasificación información</label>
                    <div class="col-md-12 p-all-0">
                        @Html.DropDownListFor(m => m.Expediente.Cadido.IDTipoClasificacionInformacion,
                        Listas.ObtenerListaClasificacionInformacion(),
                        new
                        {
                            @class = "form-control input-sm"
                        })
                    </div>
                </div>
                <div class="col-md-12 p-all-0 p-t-10">
                    <div class="col-md-12 p-all-0">
                        <label>Valor documental</label>
                    </div>
                    <div class="col-md-4 p-all-0">
                        <div class="checkbox checkbox-success m-all-0">
                            @Html.CheckBoxFor(m => m.Expediente.Cadido.EsAdministrativo)
                            @Html.LabelFor(m => m.Expediente.Cadido.EsAdministrativo)
                        </div>
                    </div>
                    <div class="col-md-4 p-all-0">
                        <div class="checkbox checkbox-success m-all-0">
                            @Html.CheckBoxFor(m => m.Expediente.Cadido.EsLegal)
                            @Html.LabelFor(m => m.Expediente.Cadido.EsLegal)
                        </div>
                    </div>
                    <div class="col-md-4 p-all-0">
                        <div class="checkbox checkbox-success m-all-0">
                            @Html.CheckBoxFor(m => m.Expediente.Cadido.EsContableFiscal)
                            @Html.LabelFor(m => m.Expediente.Cadido.EsContableFiscal)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Signatura Topografica</h5>

                <div class="col-md-12 p-all-0">
                    <hr class="m-all-5" />
                </div>
                <div class="col-md-12 form-horizontal p-all-0 p-r-10">
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <label for="Expediente_Contenedor_Mobilario_Area_Nivel_Edificio_Localidad_IDMunicipio">Municipio:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.DropDownListFor(m => m.Expediente.Contenedor.Mobilario.Area.Nivel.Edificio.Localidad.IDMunicipio,
                            MunicipioRepositorio.ObtenerPredeterminados(Model.Expediente.IDEntidad),
                            new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <label for="Expediente_Contenedor_Mobilario_Area_Nivel_Edificio_IDLocalidad">Localidad:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.LocalidadDdl(m => m.Expediente.Contenedor.Mobilario.Area.Nivel.Edificio.IDLocalidad,
                            Model.Expediente.Contenedor.Mobilario.Area.Nivel.Edificio.Localidad.IDEstado,
                            Model.Expediente.Contenedor.Mobilario.Area.Nivel.Edificio.Localidad.IDMunicipio,
                            idEntidad: Model.Expediente.IDEntidad)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <label for="Expediente_Contenedor_Mobilario_Area_Nivel_IDEdificio">Edificio:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.EdificioDdl(m => m.Expediente.Contenedor.Mobilario.Area.Nivel.IDEdificio,
                            Model.Expediente.Contenedor.Mobilario.Area.Nivel.Edificio.IDLocalidad, idEntidad: Model.Expediente.IDEntidad)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <label for="Expediente_Contenedor_Mobilario_Area_IDNivel">Nivel:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.NivelDdl(m => m.Expediente.Contenedor.Mobilario.Area.IDNivel,
                            Model.Expediente.Contenedor.Mobilario.Area.Nivel.IDEdificio, idEntidad: Model.Expediente.IDEntidad)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <label for="Expediente_Contenedor_Mobilario_IDArea">Area:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.AreaDdl(m => m.Expediente.Contenedor.Mobilario.IDArea,
                            Model.Expediente.Contenedor.Mobilario.Area.IDNivel, idEntidad: Model.Expediente.IDEntidad)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <label for="Expediente_Contenedor_IDMobilario">Mobilario:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.MobilarioDdl(m => m.Expediente.Contenedor.IDMobilario,
                            Model.Expediente.Contenedor.Mobilario.IDArea, idEntidad: Model.Expediente.IDEntidad)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <label for="Expediente_IDContenedor">Contenedor:</label>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            @Html.ContenedorDdl(m => m.Expediente.IDContenedor,
                            Model.Expediente.Contenedor.IDMobilario, idEntidad: Model.Expediente.IDEntidad)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-t-10">
                <div class="col-xs-12 col-md-12 text-right">
                    <button class="btn btn-sm btn-primary"><i class="fa fa-file-pdf-o"></i> @Resources.General.Generar</button>
                    @if (@ViewBag.UbicacionReporte != null)
                    {
                        <a class="btn btn-sm btn-success" href="@ViewBag.UbicacionReporte">
                            <i class="fa fa-download"></i>
                            Descargar
                        </a>

                    }
                </div>
            </div>
        </div>
        @if (@ViewBag.UbicacionReporte != null)
        {
            <div class="col-md-12 p-all-0">
                <hr />
            </div>
            <div class="col-md-12 p-all-0">
                <iframe src="@VariablesWebconfig.ObtenerUrlVisualizadorDocumentosOffice()@(ViewBag.UbicacionReporte)" width="100%" height="600px"></iframe>
            </div>
        }
    </div>
                                    }
<script type="text/javascript">
    @section DocumentOnReady
    {
    @if (Model.Expediente.IDEntidad > 0)
        {
            @Html.Raw("$('#Expediente_IDEntidad').selectpicker('val', '" + Model.Expediente.IDEntidad + "');")
        }
    }
</script>
@section FooterScripts
{
    <script type="text/javascript" src="~/Content/js/bootstrap-select/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap-select/defaults-es_ES.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("form").data("mostrar-div-cargando", false);
        });
        $("#FechaApertura").datetimepicker({
            format: "DD/MM/YYYY",
            locale: 'es',
            useCurrent: false
        });
        $("#@Html.IdFor(m => m.FechaCierreInicio), #@Html.IdFor(m => m.FechaCierreFin)").datetimepicker({
            format: "DD/MM/YYYY",
            locale: 'es',
            useCurrent: false
        });
        $("#@Html.IdFor(m => m.FechaAperturaInicio), #@Html.IdFor(m => m.FechaAperturaFin)").datetimepicker({
            format: "DD/MM/YYYY",
            locale: 'es',
            useCurrent: false
        });
    </script>
}
